Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

Update Death_Causes.txt
  Translations/fi/Death_Causes.txt
Labels: ingame, fi

Update Legacy_Interfaces.txt
  Translations/fi/Legacy_Interfaces.txt
Labels: ingame, fi

Update Badges.txt
  Translations/zh/Badges.txt
Labels: ingame

Update Badges.txt
  Translations/zh-Hant/Badges.txt
Labels: ingame, zh-Hant

Japanese badges
  Translations/ja/Badges.txt
Labels: ingame, ja

Update Badges.txt
  Translations/fi/Badges.txt
Labels: ingame, fi

Update Badges.txt
  Translations/fi/Badges.txt
Labels: ingame, fi

Spanish translations improvements & new translations
  Translations/es/Abilities.txt
  Translations/es/Badges.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/Connection_Errors.txt
  Translations/es/Connection_Info.txt
  Translations/es/Death_Causes.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/Doors.txt
  Translations/es/Facility.txt
  Translations/es/GameHints.txt
  Translations/es/HID_Sign.txt
  Translations/es/Intercom.txt
  Translations/es/Intercom_Door_Sign.txt
  Translations/es/Keybinds.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/MenuWarnings.txt
  Translations/es/NewInventory.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke.txt
  Translations/es/Nuke_Silo_Sign.txt
  Translations/es/ReportForm.txt
  Translations/es/SCP079.txt
  Translations/es/SCP_Interfaces.txt
  Translations/es/Summary.txt
  Translations/es/Version_7-0-0.txt
  Translations/es/WeaponManager.txt
  Translations/es/WeaponMods.txt
  Translations/es/Workstations.txt
Labels: ingame, es

Update Badges.txt
  Translations/ja/Badges.txt
Labels: ingame, ja

Update Facility.txt
  Translations/hu/Facility.txt
Labels: ingame, hu

Update Legacy_Interfaces.txt
  Translations/hu/Legacy_Interfaces.txt
Labels: ingame, hu

Update NewInventory.txt
  Translations/hu/NewInventory.txt
Labels: ingame, hu

Update Nuke.txt
  Translations/hu/Nuke.txt
Labels: ingame, hu

Update WeaponManager.txt
  Translations/hu/WeaponManager.txt
Labels: ingame, hu

Update Workstations.txt
  Translations/hu/Workstations.txt
Labels: ingame, hu

Update WeaponMods.txt
  Translations/hu/WeaponMods.txt
Labels: ingame, hu

Update WeaponManager.txt
  Translations/hu/WeaponManager.txt
Labels: ingame, hu

Update NewInventory.txt
  Translations/hu/NewInventory.txt
Labels: ingame, hu

Update Death_Causes.txt
  Translations/hu/Death_Causes.txt
Labels: ingame, hu

Update Nuke.txt
  Translations/hu/Nuke.txt
Labels: ingame, hu

Update Facility.txt
  Translations/hu/Facility.txt
Labels: ingame, hu

Update Death_Causes.txt
  Translations/hu/Death_Causes.txt
Labels: ingame, hu

Update Death_Causes.txt
  Translations/hu/Death_Causes.txt
Labels: ingame, hu

Update Badges.txt
  Translations/hu/Badges.txt
Labels: ingame, hu

Update Connection_Info.txt
  Translations/fi/Connection_Info.txt
Labels: ingame, fi

Update Translations/fi/Connection_Info.txt
  Translations/fi/Connection_Info.txt
Labels: ingame, fi

Update Translations/fi/Connection_Info.txt
  Translations/fi/Connection_Info.txt
Labels: ingame, fi

Update Translations/fi/Badges.txt
  Translations/fi/Badges.txt
Labels: ingame, fi

Update Translations/fi/Badges.txt
  Translations/fi/Badges.txt
Labels: ingame, fi

Update Badges.txt
  Translations/fi/Badges.txt
Labels: ingame, fi

Old translation was better
  Translations/es/Class_Nicknames.txt
Labels: ingame, es

Update 700330_loc_norwegian.vdf
  Steam-Translations/Rich Presence/700330_loc_norwegian.vdf
Labels: steam-richpresence, nb

Update Badges.txt
  Translations/ru/Badges.txt
Labels: ingame, ru

Update the Polish translation
  Translations/pl/Badges.txt
  Translations/pl/Door.txt
  Translations/pl/Doors.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

Normalize the English translation
  Translations/English (default)/Badges.txt
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
  Translations/English (default)/Workstations.txt
Labels: ingame, en

Update Badges.txt
  Translations/pl/Badges.txt
Labels: ingame, pl

updated the file - fix of trello bug
  Translations/de/Door.txt
  Translations/de/Doors.txt
Labels: ingame, de

Update NewMainMenu.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

Revert "Update NewMainMenu.txt"
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

Update NewMainMenu.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf
