Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

Update 700330_loc_norwegian.vdf
  Steam-Translations/Achievements/700330_loc_norwegian.vdf
Labels: steam-achievements, nb

Update Version_7-0-0.txt
  Translations/it/Version_7-0-0.txt
Labels: ingame, it

Update Badges.txt
  Translations/it/Badges.txt
Labels: ingame, it

Just updating a file to trigger a new PR check
  Translations/cs/Abilities.txt
Labels: ingame, cs

Update Abilities.txt
  Translations/nl/Abilities.txt
Labels: ingame, nl

Update Badges.txt
  Translations/de/Badges.txt
Labels: ingame, de

Update NewMainMenu.txt
  Translations/de/NewMainMenu.txt
Labels: ingame, de

From "Kierwonik" to "Kierownik" in Badges.txt
  Translations/pl/Badges.txt
Labels: ingame, pl

Changed commas and removed unneccessary spaces
  Translations/pl/Abilities.txt
Labels: ingame, pl

Changed commas in Class_Bio.txt
  Translations/pl/Class_Bio.txt
Labels: ingame, pl

Updated and fixed few things.
  Translations/pl/Class_Descriptions.txt
Labels: ingame, pl

Fixed a word clipping through the screen.
  Translations/pl/DecontaminationDisplays.txt
Labels: ingame, pl

Fixes in Facility.txt
  Translations/pl/Facility.txt
Labels: ingame, pl

Small fix in NewMainMenu.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

Small fix in WeaponMods.txt
  Translations/pl/WeaponMods.txt
Labels: ingame, pl

Updated Workstations.txt to match the EN version
  Translations/pl/Workstations.txt
Labels: ingame, pl

Add new Northwood Anti-Cheat Developer global badge
  Translations/English (default)/Badges.txt
Labels: ingame, en

Wrong prefix, whoops
  Translations/English (default)/Badges.txt
Labels: ingame, en

Replace obsolete badge
  Translations/English (default)/Badges.txt
Labels: ingame, en

Updating the finnish badges.
  Translations/fi/Badges.txt
Labels: ingame, fi

Update file to trigger checks
  Translations/zh-Hant/Facility.txt
Labels: ingame, zh-Hant

File no longer in use, see English/Doors.txt
  Translations/zh-Hant/Door.txt
Labels: ingame, zh-Hant

File update to trigger new PR checks
  Translations/cs/Nuke_Silo_Sign.txt
Labels: ingame, cs

Translated Anticheat Developer
  Translations/pl/Badges.txt
Labels: ingame, pl

Update Abilities.txt
  Translations/pl/Abilities.txt
Labels: ingame, pl

Updated Russian localization
  Translations/ru/Badges.txt
  Translations/ru/DecontaminationDisplays.txt
  Translations/ru/Doors.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

small size fix
  Translations/ru/DecontaminationDisplays.txt
Labels: ingame, ru

Update Class_Nicknames.txt
  Translations/es/Class_Nicknames.txt
Labels: ingame, es

fixed TC text
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

Normalizing PR
  Translations/cs/Abilities.txt
  Translations/cs/Class_Descriptions.txt
  Translations/cs/Class_Names.txt
  Translations/cs/Connection_Errors.txt
  Translations/cs/Death_Causes.txt
  Translations/cs/Facility.txt
  Translations/cs/Legacy_Interfaces.txt
  Translations/cs/MainMenu.txt
  Translations/cs/NewInventory.txt
  Translations/cs/Nuke_Silo_Sign.txt
  Translations/cs/SCP079.txt
  Translations/cs/Workstations.txt
  Translations/cs/manifest.json
Labels: ingame, cs

Anti Cheat Dev line update
  Translations/th/Badges.txt
Labels: ingame, th

Text Retouch
  Translations/zh/LoadingHints.txt
Labels: ingame

Update MainMenu.txt
  Translations/zh/MainMenu.txt
Labels: ingame

Delete Workstations.txt
  Translations/English (default)/Workstations.txt
Labels: ingame, en

Delete WeaponMods.txt
  Translations/English (default)/WeaponMods.txt
Labels: ingame, en

Delete WeaponManager.txt
  Translations/English (default)/WeaponManager.txt
Labels: ingame, en

Delete NewInventory.txt
  Translations/English (default)/NewInventory.txt
Labels: ingame, en

Add files via upload
  Translations/English (default)/Categories.txt
  Translations/English (default)/InventoryGUI.txt
  Translations/English (default)/Items.txt
Labels: ingame, en

Class names changes and additions!
  Translations/English (default)/Class_Names.txt
Labels: ingame, en

Create Categories.txt
  Translations/it/Categories.txt
Labels: ingame, it

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf
