Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
da: 
 - Translations/da/*
de: 
 - Translations/de/*
es: 
 - Translations/es/*
fi: 
 - Translations/fi/*
fr: 
 - Translations/fr/*
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
it: 
 - Translations/it/*
ja: 
 - Translations/ja/*
ko: 
 - Translations/ko/*
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
nl: 
 - Translations/nl/*
pl: 
 - Translations/pl/*
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
ru: 
 - Translations/ru/*
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
tr: 
 - Translations/tr/*
uk: 
 - Translations/uk/*
zh-Hans: 
 - Translations/zh-Hans/*
zh-Hant: 
 - Translations/zh-Hant/*

translated achievements and RP
  Steam-Translations/Achievements/700330_loc_all.vdf
  Steam-Translations/Achievements/700330_loc_thai.vdf
  Steam-Translations/Rich Presence/700330_loc_thai.vdf
Labels: steam-achievements, steam-richpresence

Normalizer
  Translations/th/Abilities.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Facility.txt
  Translations/th/MainMenu.txt
Labels: th

Update MainMenu.txt
  Translations/th/MainMenu.txt
Labels: th

Update Connection_Errors.txt
  Translations/zh-Hans/Connection_Errors.txt
Labels: zh-Hans

Update MenuWarnings.txt
  Translations/zh-CN/MenuWarnings.txt
Labels: none

Hints removed
  Translations/English (default)/Hints.txt
  Translations/cs/Hints.txt
  Translations/da/Hints.txt
  Translations/de/Hints.txt
  Translations/es/Hints.txt
  Translations/fi/Hints.txt
  Translations/fr/Hints.txt
  Translations/hu/Hints.txt
  Translations/it/Hints.txt
  Translations/ja/Hints.txt
  Translations/ko/Hints.txt
  Translations/lv/Hints.txt
  Translations/nb/Hints.txt
  Translations/nl/Hints.txt
  Translations/pl/Hints.txt
  Translations/pt-BR/Hints.txt
  Translations/pt/Hints.txt
  Translations/ru/Hints.txt
  Translations/sk/Hints.txt
  Translations/th/Hints.txt
  Translations/tr/Hints.txt
  Translations/uk/Hints.txt
  Translations/zh-Hans/Hints.txt
  Translations/zh-Hant/Hints.txt
Labels: en, cs, da, de, es, fi, fr, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant
