Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Czech localization
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Czech localization
  Steam-Translations/Rich Presence/700330_loc_czech.vdf
Labels: steam-richpresence, cs

Update 700330_loc_czech.vdf
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Update Class_Descriptions.txt
  Translations/cs/Class_Descriptions.txt
Labels: ingame, cs

ADD badges(still english) and abilites(translated)
  Translations/cs/Abilities.txt
  Translations/cs/Badges.txt
Labels: ingame, cs

ADD this
  Translations/cs/Class_Bio.txt
  Translations/cs/Class_Nicknames.txt
  Translations/cs/Connection_Info.txt
  Translations/cs/GameHints.txt
  Translations/cs/LoadingHints.txt
  Translations/cs/MenuWarnings.txt
Labels: ingame, cs

Update NewInventory.txt
  Translations/cs/NewInventory.txt
Labels: ingame, cs

Update Class_Names.txt
  Translations/cs/Class_Names.txt
Labels: ingame, cs

Update Connection_Errors.txt
  Translations/cs/Connection_Errors.txt
Labels: ingame, cs

Update Facility.txt
  Translations/cs/Facility.txt
Labels: ingame, cs

Update Legacy_Interfaces.txt
  Translations/cs/Legacy_Interfaces.txt
Labels: ingame, cs

Update Death_Causes.txt
  Translations/cs/Death_Causes.txt
Labels: ingame, cs

Update MainMenu.txt
  Translations/cs/MainMenu.txt
Labels: ingame, cs

Update credits.txt
  Translations/credits.txt
Labels: ingame, credits

ํYet another complete revision of Thai TL files.
  Translations/th/Abilities.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Connection_Info.txt
  Translations/th/Death_Causes.txt
  Translations/th/DecontaminationDisplays.txt
  Translations/th/Door.txt
  Translations/th/Doors.txt
  Translations/th/Facility.txt
  Translations/th/GameHints.txt
  Translations/th/HID_Sign.txt
  Translations/th/Intercom.txt
  Translations/th/Intercom_Door_Sign.txt
  Translations/th/InventoryErrors.txt
  Translations/th/Keybinds.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/LoadingHints.txt
  Translations/th/MainMenu.txt
  Translations/th/NewInventory.txt
  Translations/th/NewMainMenu.txt
  Translations/th/Nuke.txt
  Translations/th/ReportForm.txt
  Translations/th/SCP079.txt
  Translations/th/Summary.txt
  Translations/th/WeaponManager.txt
  Translations/th/Workstations.txt
Labels: ingame, th

Delete Door.txt
  Translations/tr/Door.txt
Labels: ingame, tr

Update Nuke_Silo_Sign.txt
  Translations/tr/Nuke_Silo_Sign.txt
Labels: ingame, tr

Delete Door.txt
  Translations/pt-BR/Door.txt
Labels: ingame, pt-BR

Update credits.txt
  Translations/credits.txt
Labels: ingame, credits

Delete Door.txt
  Translations/ja/Door.txt
Labels: ingame, ja

Update credits.txt
  Translations/credits.txt
Labels: ingame, credits

Reflected changes from English translation
  Translations/ru/Door.txt
  Translations/ru/Doors.txt
Labels: ingame, ru

Encoding normalization
  Translations/ru/HID_Sign.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/Nuke_Silo_Sign.txt
Labels: ingame, ru

Fixed text size. Didn't fit in-game door screen.
  Translations/ru/Doors.txt
Labels: ingame, ru

Update manifest.json
  Translations/it/manifest.json
Labels: ingame, it

Revert "Update manifest.json"
  Translations/it/manifest.json
Labels: ingame, it

Update Intercom.txt
  Translations/it/Intercom.txt
Labels: ingame, it

Update DecontaminationDisplays.txt
  Translations/it/DecontaminationDisplays.txt
Labels: ingame, it

Update Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Create Doors.txt
  Translations/tr/Doors.txt
Labels: ingame, tr

Update Facility.txt
  Translations/zh-Hant/Facility.txt
Labels: ingame, zh-Hant

Update HID_Sign.txt
  Translations/zh-Hant/HID_Sign.txt
Labels: ingame, zh-Hant

Fixed text clipping + common sense issue with Russian translation (thx hopperlopip#9909 for letting us know)
  Translations/ru/Doors.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

Add new translation for change to credits
  Translations/English (default)/NewMainMenu.txt
Labels: ingame, en

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Update Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Normalize translation manifest names
  Translations/ja/manifest.json
  Translations/ko/manifest.json
  Translations/zh-Hant/manifest.json
  Translations/zh/manifest.json
Labels: ingame, ja, ko, zh-Hant

Fix manifest formatting
  Translations/zh-Hant/manifest.json
  Translations/zh/manifest.json
Labels: ingame, zh-Hant

For playing our game!
  Translations/ko/NewMainMenu.txt
Labels: ingame, ko

[RU] Updated localization
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru
