Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update Class_Names.txt
  Translations/it/Class_Names.txt
Labels: ingame, it

Create InventoryGUI.txt
  Translations/it/InventoryGUI.txtAmmo {0}/InventoryGUI.txt
Labels: ingame

Delete Translations/it/InventoryGUI.txtAmmo {0} directory
  Translations/it/InventoryGUI.txtAmmo {0}/InventoryGUI.txt
Labels: ingame

Create InventoryGUI.txt
  Translations/it/InventoryGUI.txt
Labels: ingame, it

Update Class_Names.txt
  Translations/it/Class_Names.txt
Labels: ingame, it

Create Categories.txt
  Translations/tr/Categories.txt
Labels: ingame, tr

Update Badges.txt
  Translations/tr/Badges.txt
Labels: ingame, tr

Update Class_Bio.txt
  Translations/tr/Class_Bio.txt
Labels: ingame, tr

Create Items.txt
  Translations/it/Items.txt
Labels: ingame, it

Delete Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Delete WeaponMods.txt
  Translations/it/WeaponMods.txt
Labels: ingame, it

Delete WeaponManager.txt
  Translations/it/WeaponManager.txt
Labels: ingame, it

Delete NewInventory.txt
  Translations/it/NewInventory.txt
Labels: ingame, it

Update Items.txt
  Translations/it/Items.txt
Labels: ingame, it

Update InventoryGUI.txt
  Translations/it/InventoryGUI.txt
Labels: ingame, it

Update Class_Names.txt
  Translations/tr/Class_Names.txt
Labels: ingame, tr

Update Items.txt
  Translations/English (default)/Items.txt
Labels: ingame, en

Class_Names typo
  Translations/English (default)/Class_Names.txt
Labels: ingame, en

Create Items.txt
  Translations/de/Items.txt
Labels: ingame, de

Create Categories.txt
  Translations/de/Categories.txt
Labels: ingame, de

Create InventoryGUI.txt
  Translations/de/InventoryGUI.txt
Labels: ingame, de

Update Class_Names.txt
  Translations/de/Class_Names.txt
Labels: ingame, de

Update Items.txt
  Translations/de/Items.txt
Labels: ingame, de

Update Class_Names.txt
  Translations/de/Class_Names.txt
Labels: ingame, de

Fixed a typo "Enduracne"
  Translations/English (default)/Items.txt
Labels: ingame, en

Delete NewInventory.txt
  Translations/de/NewInventory.txt
Labels: ingame, de

Delete WeaponManager.txt
  Translations/de/WeaponManager.txt
Labels: ingame, de

Delete WeaponMods.txt
  Translations/de/WeaponMods.txt
Labels: ingame, de

Delete Workstations.txt
  Translations/de/Workstations.txt
Labels: ingame, de

Update InventoryGUI.txt
  Translations/de/InventoryGUI.txt
Labels: ingame, de

Update Items.txt
  Translations/it/Items.txt
Labels: ingame, it

Finnish for 11.0
  Translations/fi/Badges.txt
  Translations/fi/Categories.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/GameHints.txt
  Translations/fi/InventoryGUI.txt
  Translations/fi/Items.txt
  Translations/fi/Legacy_Interfaces.txt
  Translations/fi/MenuWarnings.txt
  Translations/fi/NewInventory.txt
  Translations/fi/Nuke_Silo_Sign.txt
  Translations/fi/Summary.txt
  Translations/fi/WeaponManager.txt
  Translations/fi/WeaponMods.txt
  Translations/fi/Workstations.txt
Labels: ingame, fi

Finnish for 11.0
  Translations/fi/Badges.txt
  Translations/fi/Categories.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/GameHints.txt
  Translations/fi/InventoryGUI.txt
  Translations/fi/Items.txt
  Translations/fi/Legacy_Interfaces.txt
  Translations/fi/MenuWarnings.txt
  Translations/fi/NewInventory.txt
  Translations/fi/Nuke_Silo_Sign.txt
  Translations/fi/Summary.txt
  Translations/fi/WeaponManager.txt
  Translations/fi/WeaponMods.txt
  Translations/fi/Workstations.txt
Labels: ingame, fi

New classes for 11.0
  Translations/pl/Class_Names.txt
Labels: ingame, pl

Delete Workstations.txt
  Translations/pl/Workstations.txt
Labels: ingame, pl

Delete WeaponMods.txt
  Translations/pl/WeaponMods.txt
Labels: ingame, pl

Delete WeaponManager.txt
  Translations/pl/WeaponManager.txt
Labels: ingame, pl

Delete NewInventory.txt
  Translations/pl/NewInventory.txt
Labels: ingame, pl

New files for 11.0
  Translations/pl/Categories.txt
  Translations/pl/InventoryGUI.txt
  Translations/pl/Items.txt
Labels: ingame, pl

Small fix in 36th line
  Translations/pl/Connection_Errors.txt
Labels: ingame, pl
