Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

Adding new translation and adjusting the old ones.
  Translations/uk/Abilities.txt
  Translations/uk/Badges.txt
  Translations/uk/Class_Bio.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/Connection_Errors.txt
  Translations/uk/Connection_Info.txt
  Translations/uk/Death_Causes.txt
  Translations/uk/DecontaminationDisplays.txt
  Translations/uk/Door.txt
  Translations/uk/Facility.txt
  Translations/uk/GameHints.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/Intercom.txt
  Translations/uk/Intercom_Door_Sign.txt
  Translations/uk/Keybinds.txt
  Translations/uk/Legacy_Interfaces.txt
  Translations/uk/LoadingHints.txt
Labels: ingame, uk

Adding new translations and adjusting the old ones
  Translations/uk/MainMenu.txt
  Translations/uk/MenuWarnings.txt
  Translations/uk/NewInventory.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/Nuke.txt
  Translations/uk/Nuke_Silo_Sign.txt
  Translations/uk/ReportForm.txt
  Translations/uk/SCP079.txt
  Translations/uk/SCP_Interfaces.txt
  Translations/uk/Summary.txt
  Translations/uk/Version_7-0-0.txt
  Translations/uk/WeaponManager.txt
  Translations/uk/WeaponMods.txt
  Translations/uk/Workstations.txt
Labels: ingame, uk

Update credits.txt
  Translations/credits.txt
Labels: ingame, credits

Update Connection_Errors.txt
  Translations/ko/Connection_Errors.txt
Labels: ingame, ko

Update Badges.txt
  Translations/ko/Badges.txt
Labels: ingame, ko

Update Badges.txt
  Translations/ko/Badges.txt
Labels: ingame, ko

Update WeaponMods.txt
  Translations/ko/WeaponMods.txt
Labels: ingame, ko

Update Nuke_Silo_Sign.txt
  Translations/ko/Nuke_Silo_Sign.txt
Labels: ingame, ko

Complete revision on various text.
  Translations/th/Abilities.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Death_Causes.txt
  Translations/th/Door.txt
  Translations/th/NewMainMenu.txt
  Translations/th/SCP079.txt
  Translations/th/Summary.txt
Labels: ingame, th

Update Door.txt
  Translations/th/Door.txt
Labels: ingame, th

Mistype Fix
  Translations/ko/NewMainMenu.txt
Labels: ingame, ko

Readability Improvement
  Translations/ko/Door.txt
Labels: ingame, ko

Update Connection_Errors.txt
  Translations/fr/Connection_Errors.txt
Labels: ingame, fr

Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: ingame, fr

Update Version_7-0-0.txt
  Translations/fr/Version_7-0-0.txt
Labels: ingame, fr

Create DecontaminationDisplays.txt
  Translations/fr/DecontaminationDisplays.txt
Labels: ingame, fr

Modifying MainMenu
  Translations/fr/MainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: ingame, fr

Ukrainian language update with recent changes
  Steam-Translations/Rich Presence/700330_loc_ukrainian.vdf
  Translations/credits.txt
  Translations/uk/Abilities.txt
  Translations/uk/Badges.txt
  Translations/uk/Class_Bio.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/Connection_Errors.txt
  Translations/uk/Connection_Info.txt
  Translations/uk/Death_Causes.txt
  Translations/uk/DecontaminationDisplays.txt
  Translations/uk/Door.txt
  Translations/uk/Facility.txt
  Translations/uk/GameHints.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/Intercom.txt
  Translations/uk/Intercom_Door_Sign.txt
  Translations/uk/Keybinds.txt
  Translations/uk/Legacy_Interfaces.txt
  Translations/uk/MainMenu.txt
  Translations/uk/NewInventory.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/Nuke.txt
  Translations/uk/Nuke_Silo_Sign.txt
  Translations/uk/ReportForm.txt
  Translations/uk/Summary.txt
  Translations/uk/WeaponMods.txt
  Translations/uk/Workstations.txt
  Translations/uk/manifest.json
Labels: steam-richpresence, ingame, credits, uk

Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: ingame, fr

Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: ingame, fr

Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: ingame, fr

Update Workstations.txt
  Translations/English (default)/Workstations.txt
Labels: ingame, en

Update Door.txt
  Translations/English (default)/Door.txt
Labels: ingame, en

[RU] Reflected changes from English language
  Translations/ru/Badges.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

[RU] Quick fix for Workstation translation
  Translations/ru/Workstations.txt
Labels: ingame, ru

Update Workstations.txt
  Translations/th/Workstations.txt
Labels: ingame, th

Update Door.txt
  Translations/th/Door.txt
Labels: ingame, th

Update Class_Bio.txt
  Translations/English (default)/Class_Bio.txt
Labels: ingame, en

Update Class_Descriptions.txt
  Translations/English (default)/Class_Descriptions.txt
Labels: ingame, en

Update Class_Descriptions.txt
  Translations/English (default)/Class_Descriptions.txt
Labels: ingame, en

Update + English text fix
  Translations/English (default)/Workstations.txt
  Translations/ru/Door.txt
  Translations/ru/Workstations.txt
Labels: ingame, en, ru

Update credits.txt
  Translations/credits.txt
Labels: ingame, credits

Revert "Update + English text fix"
  Translations/English (default)/Workstations.txt
  Translations/ru/Door.txt
  Translations/ru/Workstations.txt
Labels: ingame, en, ru

Revert "Revert "Update + English text fix""
  Translations/English (default)/Workstations.txt
  Translations/ru/Door.txt
  Translations/ru/Workstations.txt
Labels: ingame, en, ru

Reverted English fix
  Translations/English (default)/Workstations.txt
Labels: ingame, en

Normalizing Hex Code
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
Labels: ingame, ru

HEX Class_Bio
  Translations/ko/Class_Bio.txt
Labels: ingame, ko

HEX Class_Descriptions
  Translations/ko/Class_Descriptions.txt
Labels: ingame, ko

HEX Door
  Translations/ko/Door.txt
Labels: ingame, ko

Changes to WorkStations
  Translations/ko/WorkStations.txt
Labels: ingame, ko

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf
