Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update Class_Names.txt
  Translations/zh/Class_Names.txt
Labels: ingame

Update Items.txt
  Translations/zh/Items.txt
Labels: ingame

Update Class_Bio.txt
  Translations/zh/Class_Bio.txt
Labels: ingame

Update Badges.txt
  Translations/zh/Badges.txt
Labels: ingame

Update Class_Names.txt
  Translations/zh/Class_Names.txt
Labels: ingame

Update InventoryGUI.txt
  Translations/zh/InventoryGUI.txt
Labels: ingame

[RU] Update 11.0
  Translations/ru/Categories.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Names.txt
  Translations/ru/InventoryGUI.txt
  Translations/ru/Items.txt
  Translations/ru/NewInventory.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/WeaponManager.txt
  Translations/ru/WeaponMods.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

[RU] Hotfix 1
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Names.txt
Labels: ingame, ru

[RU] Hotfix 2
  Translations/ru/Categories.txt
  Translations/ru/InventoryGUI.txt
Labels: ingame, ru

[RU] Fit item names
  Translations/ru/Items.txt
Labels: ingame, ru

Update Connection_Errors.txt
  Translations/tr/Connection_Errors.txt
Labels: ingame, tr

Update NewMainMenu.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

Create InventoryGUI.txt
  Translations/tr/InventoryGUI.txt
Labels: ingame, tr

Update InventoryErrors.txt
  Translations/tr/InventoryErrors.txt
Labels: ingame, tr

Create Items.txt
  Translations/tr/Items.txt
Labels: ingame, tr

Update Class_Descriptions.txt
  Translations/tr/Class_Descriptions.txt
Labels: ingame, tr

Update Class_Bio.txt
  Translations/tr/Class_Bio.txt
Labels: ingame, tr

Update Categories.txt
  Translations/tr/Categories.txt
Labels: ingame, tr

Update Class_Names.txt
  Translations/tr/Class_Names.txt
Labels: ingame, tr

Update Items.txt
  Translations/tr/Items.txt
Labels: ingame, tr

Update Categories.txt
  Translations/pl/Categories.txt
Labels: ingame, pl

Update Class_Names.txt
  Translations/pl/Class_Names.txt
Labels: ingame, pl

Update InventoryGUI.txt
  Translations/pl/InventoryGUI.txt
Labels: ingame, pl

Update Items.txt
  Translations/pl/Items.txt
Labels: ingame, pl

Translated stamina
  Translations/pl/InventoryGUI.txt
Labels: ingame, pl

[RU] Hotfix 3
  Translations/ru/Class_Names.txt
  Translations/ru/GameHints.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

Update Badges.txt
  Translations/tr/Badges.txt
Labels: ingame, tr

Update Class_Names.txt
  Translations/tr/Class_Names.txt
Labels: ingame, tr

Update
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Add new option
  Translations/English (default)/NewMainMenu.txt
Labels: ingame, en
