Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, credits, en, cs, da, de, es, fi, fr, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
cs: 
 - Translations/cs/*
da: 
 - Translations/da/*
de: 
 - Translations/de/*
es: 
 - Translations/es/*
fi: 
 - Translations/fi/*
fr: 
 - Translations/fr/*
hu: 
 - Translations/hu/*
it: 
 - Translations/it/*
ja: 
 - Translations/ja/*
ko: 
 - Translations/ko/*
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
nl: 
 - Translations/nl/*
pl: 
 - Translations/pl/*
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
ru: 
 - Translations/ru/*
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
tr: 
 - Translations/tr/*
uk: 
 - Translations/uk/*
zh-Hans: 
 - Translations/zh-Hans/*
zh-Hant: 
 - Translations/zh-Hant/*

Languages sorted alphabetically
  Translations/credits.txt
Labels: credits

Little fix
  Translations/credits.txt
Labels: credits

Finished!
  .gitignore
  EncodingNormalizer.exe
  Translations/ca/Connection_Errors.txt
  Translations/ca/Death_Causes.txt
  Translations/ca/Facility.txt
  Translations/ca/Legacy_Interfaces.txt
  Translations/ca/NewInventory.txt
  Translations/ca/SCP_Interfaces.txt
Labels: none

Update NewInventory.txt
  Translations/ru/NewInventory.txt
Labels: ru

Added EncodingNormalizer.exe
  EncodingNormalizer.exe
Labels: none

Create InventoryErrors.txt
  Translations/fi/InventoryErrors.txt
Labels: fi

Update InventoryErrors.txt
  Translations/fi/InventoryErrors.txt
Labels: fi

Update Class Name
  Translations/de/Class_Bio.txt
Labels: de

Update Class_Names.txt
  Translations/de/Class_Names.txt
Labels: de

Update NewInventory.txt
  Translations/de/NewInventory.txt
Labels: de

Update NewInventory.txt
  Translations/de/NewInventory.txt
Labels: de

Update Connection_Errors.txt
  Translations/zh-CN/Connection_Errors.txt
Labels: none

Create SCP_Interfaces.txt
  Translations/fi/SCP_Interfaces.txt
Labels: fi

Update SCP_Interfaces.txt
  Translations/zh-CN/SCP_Interfaces.txt
Labels: none

Update Class_Bio.txt
  Translations/zh-CN/Class_Bio.txt
Labels: none

Update Class_Descriptions.txt
  Translations/zh-CN/Class_Descriptions.txt
Labels: none

Update NewInventory.txt
  Translations/zh-CN/NewInventory.txt
Labels: none

Fixed SCP-268 description. Thx FakeMan2332 for fix ;)
  Translations/ru/NewInventory.txt
Labels: ru

Late Update for 9.0.2
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Connection_Errors.txt
  Translations/zh-Hant/Death_Causes.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/NewInventory.txt
  Translations/zh-Hant/SCP_Interfaces.txt
  Translations/zh-Hant/WeaponManager.txt
Labels: zh-Hant

Update Class_Bio.txt
  Translations/zh-CN/Class_Bio.txt
Labels: none

Update Death_Causes.txt
  Translations/zh-CN/Death_Causes.txt
Labels: none

More smoother 079 interface text
  Translations/ko/SCP_Interfaces.txt
Labels: ko

Update Class_Descriptions.txt
  Translations/ko/Class_Descriptions.txt
Labels: ko

Translate summary
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/SCP_Interfaces.txt
  Translations/ko/Summary.txt
Labels: ko

Fixed placeholders
  Translations/ko/Death_Causes.txt
  Translations/ko/Facility.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/WeaponManager.txt
Labels: ko
