Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update Class_Bio.txt
  Translations/zh/Class_Bio.txt
Labels: ingame

Update Class_Descriptions.txt
  Translations/zh/Class_Descriptions.txt
Labels: ingame

Update Workstations.txt
  Translations/zh/Workstations.txt
Labels: ingame

Update Door.txt
  Translations/zh/Door.txt
Labels: ingame

Update manifest.json
  Translations/zh/manifest.json
Labels: ingame

Update Class_Bio.txt
  Translations/zh-Hant/Class_Bio.txt
Labels: ingame, zh-Hant

Update Class_Descriptions.txt
  Translations/zh-Hant/Class_Descriptions.txt
Labels: ingame, zh-Hant

Update Workstations.txt
  Translations/zh-Hant/Workstations.txt
Labels: ingame, zh-Hant

Update Door.txt
  Translations/zh-Hant/Door.txt
Labels: ingame, zh-Hant

Update manifest.json
  Translations/zh-Hant/manifest.json
Labels: ingame, zh-Hant

Update Connection_Errors.txt
  Translations/es/Connection_Errors.txt
Labels: ingame, es

Update Connection_Errors.txt
  Translations/ca/Connection_Errors.txt
Labels: ingame, ca

Add files via upload
  Translations/cs/Class_Descriptions.txt
  Translations/cs/Connection_Errors.txt
Labels: ingame, cs

Update Class_Bio.txt
  Translations/th/Class_Bio.txt
Labels: ingame, th

Update Class_Descriptions.txt
  Translations/th/Class_Descriptions.txt
Labels: ingame, th

Update NewMainMenu.txt
  Translations/ja/NewMainMenu.txt
Labels: ingame, ja

Update Abilities.txt
  Translations/zh-Hant/Abilities.txt
Labels: ingame, zh-Hant

Update Abilities.txt
  Translations/zh-Hant/Abilities.txt
Labels: ingame, zh-Hant

Update Abilities.txt
  Translations/zh-Hant/Abilities.txt
Labels: ingame, zh-Hant

Encoding Normalized
  Translations/ko/Abilities.txt
  Translations/ko/Badges.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Class_Nicknames.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/DecontaminationDisplays.txt
  Translations/ko/Door.txt
  Translations/ko/Facility.txt
  Translations/ko/HID_Sign.txt
  Translations/ko/Intercom.txt
  Translations/ko/Intercom_Door_Sign.txt
  Translations/ko/Keybinds.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/MainMenu.txt
  Translations/ko/MenuWarnings.txt
  Translations/ko/NewInventory.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/Nuke.txt
  Translations/ko/Nuke_Silo_Sign.txt
  Translations/ko/SCP079.txt
  Translations/ko/Summary.txt
  Translations/ko/Version_7-0-0.txt
  Translations/ko/WeaponManager.txt
  Translations/ko/WeaponMods.txt
  Translations/ko/WorkStations.txt
Labels: ingame, ko

Update manifest.json
  Translations/fr/manifest.json
Labels: ingame, fr

Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: ingame, fr

Updated with last English changes
  Translations/uk/Class_Bio.txt
  Translations/uk/Door.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/Intercom.txt
  Translations/uk/NewInventory.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/Nuke_Silo_Sign.txt
  Translations/uk/Workstations.txt
Labels: ingame, uk

Update manifest.json
  Translations/uk/manifest.json
Labels: ingame, uk

Update NewMainMenu.txt
  Translations/uk/NewMainMenu.txt
Labels: ingame, uk

Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: ingame, fr

Update Nuke.txt
  Translations/zh/Nuke.txt
Labels: ingame

Update Workstations.txt
  Translations/de/Workstations.txt
Labels: ingame, de

Update Workstations.txt
  Translations/de/Workstations.txt
Labels: ingame, de

Update Door.txt
  Translations/de/Door.txt
Labels: ingame, de

Update Class_Descriptions.txt
  Translations/de/Class_Descriptions.txt
Labels: ingame, de

Update Class_Descriptions.txt
  Translations/de/Class_Descriptions.txt
Labels: ingame, de

Update NewMainMenu.txt
  Translations/de/NewMainMenu.txt
Labels: ingame, de

Update Workstations.txt
  Translations/th/Workstations.txt
Labels: ingame, th

Update Workstations.txt
  Translations/th/Workstations.txt
Labels: ingame, th

Update HID_Sign.txt
  Translations/th/HID_Sign.txt
Labels: ingame, th

Update Class_Names.txt
  Translations/zh/Class_Names.txt
Labels: ingame

Update Class_Descriptions.txt
  Translations/zh/Class_Descriptions.txt
Labels: ingame

Update 700330_loc_italian.vdf
  Steam-Translations/Achievements/700330_loc_italian.vdf
Labels: steam-achievements, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it
