Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update 700330_loc_czech.vdf
  Steam-Translations/Rich Presence/700330_loc_czech.vdf
Labels: steam-richpresence, cs

Update 700330_loc_czech.vdf
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Update Abilities.txt
  Translations/cs/Abilities.txt
Labels: ingame, cs

Update Class_Bio.txt
  Translations/cs/Class_Bio.txt
Labels: ingame, cs

Update DecontaminationDisplays.txt
  Translations/cs/DecontaminationDisplays.txt
Labels: ingame, cs

Update NewInventory.txt
  Translations/cs/NewInventory.txt
Labels: ingame, cs

Update Summary.txt
  Translations/cs/Summary.txt
Labels: ingame, cs

Update WeaponManager.txt
  Translations/cs/WeaponManager.txt
Labels: ingame, cs

Update Workstations.txt
  Translations/cs/Workstations.txt
Labels: ingame, cs

Correction of translation errors and typos
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Update 700330_loc_czech.vdf
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: steam-achievements, cs

Update Class_Descriptions.txt
  Translations/cs/Class_Descriptions.txt
Labels: ingame, cs

Update Badges.txt
  Translations/cs/Badges.txt
Labels: ingame, cs

Update NewMainMenu.txt
  Translations/cs/NewMainMenu.txt
Labels: ingame, cs

Delete NewInventory.txt
  Translations/cs/NewInventory.txt
Labels: ingame, cs

Delete WeaponManager.txt
  Translations/cs/WeaponManager.txt
Labels: ingame, cs

Delete WeaponMods.txt
  Translations/cs/WeaponMods.txt
Labels: ingame, cs

Delete Workstations.txt
  Translations/cs/Workstations.txt
Labels: ingame, cs

Add files via upload
  Translations/cs/Categories.txt
  Translations/cs/Class_Names.txt
  Translations/cs/InventoryGUI.txt
  Translations/cs/Items.txt
Labels: ingame, cs

Update Class_Names.txt
  Translations/cs/Class_Names.txt
Labels: ingame, cs

Updated MTF names
  Translations/pl/Class_Bio.txt
Labels: ingame, pl

from dowódcy to kapitana
  Translations/pl/Class_Descriptions.txt
Labels: ingame, pl

Small classname changes
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
Labels: ingame, en

Removing old files
  Translations/pl/Workstations.txt
Labels: ingame, pl

Removing old files
  Translations/pl/WeaponMods.txt
Labels: ingame, pl

Removing old files
  Translations/pl/WeaponManager.txt
Labels: ingame, pl

small class update
  Translations/pl/Class_Descriptions.txt
Labels: ingame, pl

Small class updates in class_bio.txt
  Translations/pl/Class_Bio.txt
Labels: ingame, pl

Updated MTF & CI names
  Translations/pl/Class_Names.txt
Labels: ingame, pl

Small format fix
  Translations/pl/Connection_Errors.txt
Labels: ingame, pl

New Categories file for 11.0
  Translations/pl/Categories.txt
Labels: ingame, pl

Added InventoryGUI for 11.0
  Translations/pl/InventoryGUI.txt
Labels: ingame, pl

Added Items file for 11.0
  Translations/pl/Items.txt
Labels: ingame, pl

Remove NewInventory due to new file replacing it
  Translations/pl/NewInventory.txt
Labels: ingame, pl

Create Categories.txt
  Translations/zh/Categories.txt
Labels: ingame

Create InventoryGUI.txt
  Translations/zh/InventoryGUI.txt
Labels: ingame

Update InventoryGUI.txt
  Translations/zh/InventoryGUI.txt
Labels: ingame

Create Items.txt
  Translations/zh/Items.txt
Labels: ingame

Update Items.txt
  Translations/zh/Items.txt
Labels: ingame

Delete NewInventory.txt
  Translations/zh/NewInventory.txt
Labels: ingame
