Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update Abilities.txt
  Translations/it/Abilities.txt
Labels: ingame, it

Delete Door.txt
  Translations/English (default)/Door.txt
Labels: ingame, en

added doors.txt
  Translations/English (default)/Doors.txt
Labels: ingame, en

Zh_Delete Door.txt & added Doors.txt
  Translations/zh/Doors.txt
Labels: ingame

Zh_Delete Door.txt & added Doors.txt
  Translations/zh/Doors.txt
Labels: ingame

Delete Door.txt
  Translations/zh/Door.txt
Labels: ingame

Update and rename Door.txt to Doors.txt
  Translations/fr/Door.txt
  Translations/fr/Doors.txt
Labels: ingame, fr

Create DecontaminationDisplays.txt
  Translations/it/DecontaminationDisplays.txt
Labels: ingame, it

Create Doors.txt
  Translations/it/Doors.txt
Labels: ingame, it

Create HID_Sign.txt
  Translations/it/HID_Sign.txt
Labels: ingame, it

Create Intercom.txt
  Translations/it/Intercom.txt
Labels: ingame, it

Create Intercom_Door_Sign.txt
  Translations/it/Intercom_Door_Sign.txt
Labels: ingame, it

Create Keybinds.txt
  Translations/it/Keybinds.txt
Labels: ingame, it

Create Nuke.txt
  Translations/it/Nuke.txt
Labels: ingame, it

Create Nuke_Silo_Sign.txt
  Translations/it/Nuke_Silo_Sign.txt
Labels: ingame, it

Create Doors.txt
  Translations/hu/Doors.txt
Labels: ingame, hu

Delete Door.txt
  Translations/hu/Door.txt
Labels: ingame, hu

Create WeaponMods.txt
  Translations/it/WeaponMods.txt
Labels: ingame, it

Create Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Renaming
  Translations/ko/Door.txt
  Translations/ko/Doors.txt
Labels: ingame, ko

Update Badges.txt
  Translations/it/Badges.txt
Labels: ingame, it

Update Connection_Errors.txt
  Translations/it/Connection_Errors.txt
Labels: ingame, it

Update Facility.txt
  Translations/it/Facility.txt
Labels: ingame, it

Update HID_Sign.txt
  Translations/it/HID_Sign.txt
Labels: ingame, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Update HID_Sign.txt
  Translations/it/HID_Sign.txt
Labels: ingame, it

Update Intercom_Door_Sign.txt
  Translations/it/Intercom_Door_Sign.txt
Labels: ingame, it

Update Nuke_Silo_Sign.txt
  Translations/it/Nuke_Silo_Sign.txt
Labels: ingame, it

Update to last English version
  Translations/uk/Door.txt
  Translations/uk/Doors.txt
Labels: ingame, uk

Update Class_Descriptions.txt
  Translations/de/Class_Descriptions.txt
Labels: ingame, de

DecontaminationDisplays
  Translations/cs/DecontaminationDisplays.txt
Labels: ingame, cs

Add files via upload
  Translations/cs/Doors.txt
Labels: ingame, cs

NewMainMenu
  Translations/cs/NewMainMenu.txt
Labels: ingame, cs

Add files via upload
  Translations/cs/HID_Sign.txt
  Translations/cs/Intercom.txt
  Translations/cs/Intercom_Door_Sign.txt
  Translations/cs/Keybinds.txt
Labels: ingame, cs

Update SCP079.txt
  Translations/cs/SCP079.txt
Labels: ingame, cs

Add files via upload
  Translations/cs/Nuke.txt
  Translations/cs/Nuke_Silo_Sign.txt
  Translations/cs/ReportForm.txt
  Translations/cs/SCP_Interfaces.txt
Labels: ingame, cs

Add files via upload
  Translations/cs/WeaponMods.txt
  Translations/cs/Workstations.txt
Labels: ingame, cs

Update manifest.json
  Translations/cs/manifest.json
Labels: ingame, cs

Add a missing comma.
  Translations/cs/manifest.json
Labels: ingame, cs

Update and rename Door.txt to Doors.txt
  Translations/th/Door.txt
  Translations/th/Doors.txt
Labels: ingame, th
