Repository northwood-studios/SCPSL-Translations, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, steam-achievements, steam-richpresence, ingame, credits, en, ca, cs, da, de, es, fi, fr, fr-CA, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hans, zh-Hant

.github/labeler.yml:

readme: 
 - README.md
steam-achievements:
 - Steam-Translations/Achievements/*
steam-richpresence:
 - Steam-Translations/Rich Presence/*
ingame: 
 - Translations/**/*
credits: 
 - Translations/credits.txt
en: 
 - Translations/English (default)/*
 - Steam-Translations/**/*_english.vdf
ca:
 - Translations/ca/*
cs: 
 - Translations/cs/*
 - Steam-Translations/**/*_czech.vdf
da: 
 - Translations/da/*
 - Steam-Translations/**/*_danish.vdf
de: 
 - Translations/de/*
 - Steam-Translations/**/*_german.vdf
es: 
 - Translations/es/*
 - Steam-Translations/**/*_spanish.vdf
fi: 
 - Translations/fi/*
 - Steam-Translations/**/*_finnish.vdf
fr: 
 - Translations/fr/*
 - Steam-Translations/**/*_french.vdf
fr-CA:
 - Translations/fr-CA/*
hu: 
 - Translations/hu/*
 - Steam-Translations/**/*_hungarian.vdf
it: 
 - Translations/it/*
 - Steam-Translations/**/*_italian.vdf
ja: 
 - Translations/ja/*
 - Steam-Translations/**/*_japanese.vdf
ko: 
 - Translations/ko/*
 - Steam-Translations/Rich Presence/*_koreana.vdf
 - Steam-Translations/Achievements/*_korean.vdf
lv: 
 - Translations/lv/*
nb: 
 - Translations/nb/*
 - Steam-Translations/**/*_norwegian.vdf
nl: 
 - Translations/nl/*
 - Steam-Translations/**/*_dutch.vdf
pl: 
 - Translations/pl/*
 - Steam-Translations/**/*_polish.vdf
pt-BR: 
 - Translations/pt-BR/*
pt: 
 - Translations/pt/*
 - Steam-Translations/**/*_portuguese.vdf
ru: 
 - Translations/ru/*
 - Steam-Translations/**/*_russian.vdf
sk: 
 - Translations/sk/*
th: 
 - Translations/th/*
 - Steam-Translations/**/*_thai.vdf
tr: 
 - Translations/tr/*
 - Steam-Translations/**/*_turkish.vdf
uk: 
 - Translations/uk/*
 - Steam-Translations/**/*_ukrainian.vdf
zh-Hans: 
 - Translations/zh-Hans/*
 - Steam-Translations/**/*_schinese.vdf
zh-Hant: 
 - Translations/zh-Hant/*
 - Steam-Translations/**/*_tchinese.vdf

Update 700330_loc_korean.vdf
  Steam-Translations/Achievements/700330_loc_korean.vdf
Labels: steam-achievements, ko

Update DecontaminationDisplays.txt
  Translations/it/DecontaminationDisplays.txt
Labels: ingame, it

Update Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Removed leftover text on line 19
  Translations/th/Facility.txt
Labels: ingame, th

Update 700330_loc_thai.vdf
  Steam-Translations/Achievements/700330_loc_thai.vdf
Labels: steam-achievements, th

Shorten NTF.
  Translations/th/Class_Names.txt
Labels: ingame, th

Updated class names for consistency.
  Steam-Translations/Rich Presence/700330_loc_thai.vdf
Labels: steam-richpresence, th

Update NewMainMenu.txt
  Translations/th/NewMainMenu.txt
Labels: ingame, th

Small changes to mirror EN
  Translations/fi/Class_Bio.txt
  Translations/fi/Class_Descriptions.txt
  Translations/fi/Door.txt
  Translations/fi/Doors.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/Nuke.txt
  Translations/fi/Workstations.txt
Labels: ingame, fi

Update Workstations.txt
  Translations/it/Workstations.txt
Labels: ingame, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Update NewMainMenu.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it

Update DecontaminationDisplays.txt
  Translations/it/DecontaminationDisplays.txt
Labels: ingame, it

Chinese optimization
  Translations/zh/Death_Causes.txt
Labels: ingame

Update LoadingHints.txt
  Translations/zh/LoadingHints.txt
Labels: ingame

Delete Door.txt
  Translations/zh/Door.txt
Labels: ingame

Update Death_Causes.txt
  Translations/zh/Death_Causes.txt
Labels: ingame

Update LoadingHints.txt
  Translations/zh/LoadingHints.txt
Labels: ingame

Update 700330_loc_schinese.vdf
  Steam-Translations/Achievements/700330_loc_schinese.vdf
Labels: steam-achievements, zh-Hans

Update 700330_loc_schinese.vdf
  Steam-Translations/Achievements/700330_loc_schinese.vdf
Labels: steam-achievements, zh-Hans

Update 700330_loc_schinese.vdf
  Steam-Translations/Achievements/700330_loc_schinese.vdf
Labels: steam-achievements, zh-Hans

Update SCP_Interfaces.txt
  Translations/hu/SCP_Interfaces.txt
Labels: ingame, hu

Update Class_Bio.txt
  Translations/hu/Class_Bio.txt
Labels: ingame, hu

Update LoadingHints.txt
  Translations/hu/LoadingHints.txt
Labels: ingame, hu

Update Facility.txt
  Translations/hu/Facility.txt
Labels: ingame, hu

Update Class_Bio.txt
  Translations/hu/Class_Bio.txt
Labels: ingame, hu

Update Abilities.txt
  Translations/hu/Abilities.txt
Labels: ingame, hu

Update Class_Descriptions.txt
  Translations/hu/Class_Descriptions.txt
Labels: ingame, hu

Update Connection_Errors.txt
  Translations/hu/Connection_Errors.txt
Labels: ingame, hu

Update Death_Causes.txt
  Translations/hu/Death_Causes.txt
Labels: ingame, hu

Update NewMainMenu.txt
  Translations/hu/NewMainMenu.txt
Labels: ingame, hu

Update MenuWarnings.txt
  Translations/fi/MenuWarnings.txt
Labels: ingame, fi

Update Nuke_Silo_Sign.txt
  Translations/fi/Nuke_Silo_Sign.txt
Labels: ingame, fi

Update manifest.json
  Translations/fi/manifest.json
Labels: ingame, fi

Update manifest.json
  Translations/fi/manifest.json
Labels: ingame, fi

Manifest test fix
  Translations/fi/manifest.json
Labels: ingame, fi

Update Summary.txt
  Translations/fi/Summary.txt
Labels: ingame, fi

Update Facility.txt
  Translations/fi/Facility.txt
Labels: ingame, fi
