Repository northwood-studios/SCPSL-Translations, pull requests merged in 2019-11, with the labels that each got.

#202 Added recontainment damage type
  Translations/English (default)/Death_Causes.txt
Labels: en

#187 Finalized the translation... also added new lines (zh-Hans)
  Translations/zh-Hans/Abilities.txt
  Translations/zh-Hans/Class_Bio.txt
  Translations/zh-Hans/Class_Descriptions.txt
  Translations/zh-Hans/Connection_Errors.txt
  Translations/zh-Hans/Death_Causes.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/InventoryErrors.txt
  Translations/zh-Hans/MainMenu.txt
  Translations/zh-Hans/NewInventory.txt
  Translations/zh-Hans/SCP079.txt
  Translations/zh-Hans/SCP_Interfaces.txt
  Translations/zh-Hans/WeaponManager.txt
Labels: zh-Hans

#174 Update Ablities.txt
  Translations/ko/Ablities.txt
Labels: ko

#213 Fixed grammar of one line
  Translations/de/NewInventory.txt
Labels: de

#211 049 can now reanimate regardless of cause of death
  Translations/English (default)/Abilities.txt
Labels: en

#214 Missing line
  Translations/de/Death_Causes.txt
Labels: de

#194 Update for polish translation (SCP Balance update & Stuff)
  Translations/pl/Abilities.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/Death_Causes.txt
  Translations/pl/Facility.txt
  Translations/pl/NewInventory.txt
  Translations/pl/SCP_Interfaces.txt
Labels: pl

#182 Updated and revised several Thai files
  Translations/th/Abilities.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Death_Causes.txt
  Translations/th/Facility.txt
  Translations/th/InventoryErrors.txt
  Translations/th/MainMenu.txt
  Translations/th/NewInventory.txt
  Translations/th/SCP_Interfaces.txt
  Translations/th/Version_7-0-0.txt
Labels: th

#208 Final revision for Chinese before MP2
  Translations/credits.txt
  Translations/zh-Hans/Abilities.txt
  Translations/zh-Hans/Class_Bio.txt
  Translations/zh-Hans/Class_Descriptions.txt
  Translations/zh-Hans/Connection_Errors.txt
  Translations/zh-Hans/Death_Causes.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/Legacy_Interfaces.txt
  Translations/zh-Hans/MainMenu.txt
  Translations/zh-Hans/MenuWarnings.txt
  Translations/zh-Hans/NewInventory.txt
  Translations/zh-Hans/WeaponManager.txt
Labels: credits, zh-Hans

#249 Updated for "DROP AMMO" change
  Translations/zh-Hans/WeaponManager.txt
Labels: zh-Hans

#260 fuckin added {} instead of old brackets
  Translations/de/Summary.txt
Labels: de

#263 Revert "fuckin added {} instead of old brackets"
  Translations/de/Summary.txt
Labels: de
