Repository northwood-studios/SCPSL-Translations, pull requests merged in 2019-12, with the labels that each got.

#268 Thai translation fix
  Translations/th/Class_Descriptions.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/MainMenu.txt
Labels: th

#198 Italian translation update
  Translations/it/Abilities.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Class_Nicknames.txt
  Translations/it/Connection_Errors.txt
  Translations/it/Death_Causes.txt
  Translations/it/Facility.txt
  Translations/it/MainMenu.txt
  Translations/it/NewInventory.txt
  Translations/it/SCP_Interfaces.txt
  Translations/it/Summary.txt
Labels: it

#271 Changed Class name
  Translations/de/Class_Bio.txt
  Translations/de/Class_Names.txt
  Translations/de/NewInventory.txt
Labels: de

#269 Catalan translation
  Translations/ca/Abilities.txt
  Translations/ca/Class_Bio.txt
  Translations/ca/Class_Descriptions.txt
  Translations/ca/Class_Names.txt
  Translations/ca/Class_Nicknames.txt
  Translations/ca/Connection_Errors.txt
  Translations/ca/Death_Causes.txt
  Translations/ca/Facility.txt
  Translations/ca/Hints.txt
  Translations/ca/Inventory.txt
  Translations/ca/InventoryErrors.txt
  Translations/ca/Legacy_Interfaces.txt
  Translations/ca/MainMenu.txt
  Translations/ca/MenuWarnings.txt
  Translations/ca/NewInventory.txt
  Translations/ca/SCP079.txt
  Translations/ca/SCP_Interfaces.txt
  Translations/ca/Summary.txt
  Translations/ca/Tutorial_01.txt
  Translations/ca/Tutorial_02.txt
  Translations/ca/Tutorial_03.txt
  Translations/ca/Version_7-0-0.txt
  Translations/ca/WeaponManager.txt
  Translations/credits.txt
Labels: credits

#273 Late Update for 9.0.2
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Connection_Errors.txt
  Translations/zh-Hant/Death_Causes.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/NewInventory.txt
  Translations/zh-Hant/SCP079.txt
  Translations/zh-Hant/SCP_Interfaces.txt
  Translations/zh-Hant/WeaponManager.txt
Labels: zh-Hant

#274 Run encoding normalizer
  Translations/ca/Facility.txt
  Translations/de/Class_Bio.txt
  Translations/de/Class_Names.txt
  Translations/de/NewInventory.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Nicknames.txt
  Translations/it/Connection_Errors.txt
  Translations/it/SCP_Interfaces.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/MainMenu.txt
Labels: ca, de, it, th

#245 Updated Russian Localization
  Translations/ru/Abilities.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/InventoryErrors.txt
  Translations/ru/Legacy_Interfaces.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewInventory.txt
  Translations/ru/SCP_Interfaces.txt
  Translations/ru/Summary.txt
  Translations/ru/WeaponManager.txt
Labels: ru

#275 Reviewed, updated and fixed current Spanish translation.
  Translations/es/Abilities.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/Connection_Errors.txt
  Translations/es/Death_Causes.txt
  Translations/es/Facility.txt
  Translations/es/Hints.txt
  Translations/es/InventoryErrors.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/MainMenu.txt
  Translations/es/MenuWarnings.txt
  Translations/es/NewInventory.txt
  Translations/es/SCP079.txt
  Translations/es/SCP_Interfaces.txt
  Translations/es/Summary.txt
  Translations/es/Version_7-0-0.txt
  Translations/es/WeaponManager.txt
Labels: es

#278 Update MenuWarnings.txt
  Translations/it/MenuWarnings.txt
Labels: it

#276 Update Abilities.txt
  Translations/it/Abilities.txt
Labels: it

#262 Update Class_Descriptions.txt
  Translations/it/Class_Descriptions.txt
Labels: it

#259 Update MainMenu.txt
  Translations/it/MainMenu.txt
Labels: it

#280 Update Connection_Errors.txt
  Translations/zh-Hans/Connection_Errors.txt
Labels: zh-Hans

#247 Adding fr-CA (Quebec French) translation, making sure to make the files being up to date with the changes
  Translations/credits.txt
  Translations/fr-CA/Abilities.txt
  Translations/fr-CA/Class_Bio.txt
  Translations/fr-CA/Class_Descriptions.txt
  Translations/fr-CA/Class_Names.txt
  Translations/fr-CA/Class_Nicknames.txt
  Translations/fr-CA/Connection_Errors.txt
  Translations/fr-CA/Death_Causes.txt
  Translations/fr-CA/Facility.txt
  Translations/fr-CA/Hints.txt
  Translations/fr-CA/InventoryErrors.txt
  Translations/fr-CA/Legacy_Interfaces.txt
  Translations/fr-CA/MainMenu.txt
  Translations/fr-CA/MenuWarnings.txt
  Translations/fr-CA/NewInventory.txt
  Translations/fr-CA/SCP079.txt
  Translations/fr-CA/SCP_Interfaces.txt
  Translations/fr-CA/Summary.txt
  Translations/fr-CA/Version_7-0-0.txt
  Translations/fr-CA/WeaponManager.txt
Labels: credits

#283 Update Japanese for 9.0.2
  Translations/ja/Abilities.txt
  Translations/ja/Class_Bio.txt
  Translations/ja/Class_Descriptions.txt
  Translations/ja/Connection_Errors.txt
  Translations/ja/Death_Causes.txt
  Translations/ja/Facility.txt
  Translations/ja/InventoryErrors.txt
  Translations/ja/MainMenu.txt
  Translations/ja/NewInventory.txt
  Translations/ja/SCP_Interfaces.txt
  Translations/ja/WeaponManager.txt
Labels: ja

#289 Update Death_Causes.txt
  Translations/tr/Death_Causes.txt
Labels: tr

#288 Update Class_Descriptions.txt
  Translations/tr/Class_Descriptions.txt
Labels: tr

#285 Update Connection_Errors.txt
  Translations/fr/Connection_Errors.txt
Labels: fr

#286 Create SCP_Interfaces.txt
  Translations/fr/SCP_Interfaces.txt
Labels: fr

#284 Update Abilities.txt
  Translations/fr/Abilities.txt
Labels: fr

#272 Added InventoryErrors, SCP_Interfaces and updated all the other files for FI
  Translations/fi/Class_Descriptions.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Connection_Errors.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/InventoryErrors.txt
  Translations/fi/MainMenu.txt
  Translations/fi/MenuWarnings.txt
  Translations/fi/NewInventory.txt
  Translations/fi/SCP_Interfaces.txt
Labels: fi

#295 Update WeaponManager.txt
  Translations/zh-Hans/WeaponManager.txt
Labels: zh-Hans

#264 Update New_Inventory.txt
  Translations/ko/NewInventory.txt
Labels: ko

#277 Update Death_Causes.txt
  Translations/it/Death_Causes.txt
Labels: it

#293 Update Summary.txt
  Translations/uk/Summary.txt
Labels: uk

#294 Update Class_Names.txt
  Translations/uk/Class_Names.txt
Labels: uk
