Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-08, with the labels that each got.

#561 Fixes to early translated text | SChinese
  Translations/zh-Hans/MenuWarnings.txt
Labels: ingame, zh-Hans

#562 Updated catalan
  Translations/ca/Abilities.txt
  Translations/ca/Class_Bio.txt
  Translations/ca/Connection_Errors.txt
  Translations/ca/Death_Causes.txt
  Translations/ca/Facility.txt
  Translations/ca/Hints.txt
  Translations/ca/InventoryErrors.txt
  Translations/ca/LoadingHints.txt
  Translations/ca/MainMenu.txt
  Translations/ca/MenuWarnings.txt
  Translations/ca/NewInventory.txt
  Translations/ca/NewMainMenu.txt
  Translations/ca/ReportForm.txt
  Translations/ca/SCP079.txt
  Translations/ca/Summary.txt
  Translations/ca/Tutorial_01.txt
  Translations/ca/Tutorial_02.txt
  Translations/ca/Tutorial_03.txt
  Translations/ca/Version_7-0-0.txt
  Translations/ca/WeaponManager.txt
Labels: ca, ingame

#559 Added 1 new fıle and update others.
  Translations/tr/Badges.txt
  Translations/tr/Connection_Info.txt
  Translations/tr/LoadingHints.txt
  Translations/tr/MainMenu.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#558 Update 700330_loc_italian.vdf
  Steam-Translations/Rich Presence/700330_loc_italian.vdf
Labels: it, steam-richpresence

#553 Update 700330_loc_italian.vdf
  Steam-Translations/Achievements/700330_loc_italian.vdf
Labels: it, steam-achievements

#565 KO | Minor Fixes
  Steam-Translations/Achievements/700330_loc_korean.vdf
  Translations/ko/Abilities.txt
  Translations/ko/NewInventory.txt
  Translations/ko/NewMainMenu.txt
Labels: ingame, ko, steam-achievements

#570 Update NewMainMenu.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

#571 Rename Light Rendering Mode to Render Lights in English (default) translation file.
  Translations/English (default)/MainMenu.txt
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#573 CN|Rename 'Light Rendering Mode' to Render Lights
  Translations/zh-Hans/MainMenu.txt
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#567 KO | Adding Badges.txt
  Translations/ko/Badges.txt
Labels: ingame, ko

#568 New Finnish Translations for 10.0.0
  Translations/fi/Abilities.txt
  Translations/fi/Badges.txt
  Translations/fi/Class_Bio.txt
  Translations/fi/Class_Descriptions.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Class_Nicknames.txt
  Translations/fi/Connection_Errors.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/GameHints.txt
  Translations/fi/InventoryErrors.txt
  Translations/fi/Legacy_Interfaces.txt
  Translations/fi/LoadingHints.txt
  Translations/fi/MainMenu.txt
  Translations/fi/MenuWarnings.txt
  Translations/fi/NewInventory.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/ReportForm.txt
  Translations/fi/SCP079.txt
  Translations/fi/Summary.txt
  Translations/fi/Version_7-0-0.txt
  Translations/fi/WeaponManager.txt
Labels: fi, ingame

#580 Proofreading of PL language, minor changes in EN language
  Translations/English (default)/Badges.txt
  Translations/English (default)/Class_Names.txt
  Translations/English (default)/Facility.txt
  Translations/English (default)/GameHints.txt
  Translations/English (default)/NewInventory.txt
  Translations/English (default)/SCP079.txt
  Translations/English (default)/WeaponManager.txt
  Translations/pl/Abilities.txt
  Translations/pl/Badges.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/Class_Names.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/Death_Causes.txt
  Translations/pl/Facility.txt
  Translations/pl/GameHints.txt
  Translations/pl/LoadingHints.txt
  Translations/pl/MainMenu.txt
  Translations/pl/NewInventory.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/ReportForm.txt
  Translations/pl/SCP079.txt
  Translations/pl/Version_7-0-0.txt
  Translations/pl/WeaponManager.txt
Labels: en, ingame, pl

#582 Further proofreading changes in PL translation
  Translations/pl/Abilities.txt
  Translations/pl/Badges.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/NewInventory.txt
  Translations/pl/SCP079.txt
  Translations/pl/WeaponManager.txt
Labels: ingame, pl

#585 Finnish Update
  Translations/fi/Abilities.txt
  Translations/fi/Badges.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Facility.txt
  Translations/fi/GameHints.txt
  Translations/fi/LoadingHints.txt
  Translations/fi/MainMenu.txt
  Translations/fi/NewInventory.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/SCP079.txt
  Translations/fi/WeaponManager.txt
Labels: fi, ingame

#578 TC New Update
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/MainMenu.txt
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

#584 German Update
  Translations/de/Abilities.txt
  Translations/de/Badges.txt
  Translations/de/Class_Names.txt
  Translations/de/MainMenu.txt
  Translations/de/NewInventory.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP079.txt
Labels: de, ingame

#591 Update Badges.txt
  Translations/zh-Hans/Badges.txt
Labels: ingame, zh-Hans

#592 Escaping while disarmed presents the unique message for your team
  Translations/English (default)/Facility.txt
Labels: awaiting-decision, do-not-merge, en, ingame
