Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-05, with the labels that each got.

#479 Update new main menu text
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#482 Japanese update(Scopophobia)
  Translations/ja/Abilities.txt
  Translations/ja/Badges.txt
  Translations/ja/Legacy_Interfaces.txt
  Translations/ja/NewMainMenu.txt
  Translations/ja/ReportForm.txt
Labels: ingame, ja

#481 New Language(Brazillian Steam Rich Presence)
  Steam-Translations/Rich Presence/700330_loc_brazilian.vdf
Labels: steam-richpresence

#472 Update 096's skıll lınes, add 939's Predator and NewMaınMenu lınes.
  Translations/tr/Abilities.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#471 Updated NewMainMenu.txt and a small change in Abilities
  Translations/de-AT/Abilities.txt
  Translations/de-AT/NewMainMenu.txt
Labels: ingame

#483 Update 700330_loc_german.vdf
  Steam-Translations/Achievements/700330_loc_german.vdf
Labels: de, steam-achievements

#488 Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#485 Text correction & optimization
  Translations/zh-Hans/Badges.txt
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, text-change, zh-Hans

#489 Align with scp-foundation-jp notation
  Steam-Translations/Achievements/700330_loc_japanese.vdf
  Steam-Translations/Rich Presence/700330_loc_japanese.vdf
  Translations/ja/Class_Bio.txt
  Translations/ja/Class_Descriptions.txt
  Translations/ja/Class_Names.txt
  Translations/ja/Facility.txt
  Translations/ja/Legacy_Interfaces.txt
  Translations/ja/NewInventory.txt
  Translations/ja/SCP079.txt
  Translations/ja/Summary.txt
Labels: ingame, ja, steam-achievements, steam-richpresence

#442 [RU] SCP-096 Description update + small edits
  Translations/ru/Abilities.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/GameHints.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/Summary.txt
  Translations/ru/WeaponManager.txt
Labels: ingame, ru
