Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-02, with the labels that each got.

#350 Update new 2 Death causes.
  Translations/tr/Death_Causes.txt
Labels: ingame, tr

#351 Update Connection_Errors.txt
  Translations/tr/Connection_Errors.txt
Labels: ingame, tr

#352 Update Facility.txt
  Translations/tr/Facility.txt
Labels: ingame, tr

#355 Update 700330_loc_turkish.vdf
  Steam-Translations/Achievements/700330_loc_turkish.vdf
Labels: steam-achievements, tr

#354 Updating Thai Hints Translations
  Translations/th/Connection_Info.txt
  Translations/th/Facility.txt
  Translations/th/GameHints.txt
  Translations/th/LoadingHints.txt
  Translations/th/MainMenu.txt
Labels: ingame, th

#349 Updated Russian localization
  Steam-Translations/Achievements/700330_loc_russian.vdf
  Steam-Translations/Rich Presence/700330_loc_russian.vdf
  Translations/ru/Abilities.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Names.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Connection_Info.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/GameHints.txt
  Translations/ru/InventoryErrors.txt
  Translations/ru/Legacy_Interfaces.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewInventory.txt
  Translations/ru/SCP079.txt
  Translations/ru/Version_7-0-0.txt
  Translations/ru/WeaponManager.txt
Labels: ingame, ru, steam-achievements, steam-richpresence

#357 more conn info
  Translations/English (default)/Connection_Info.txt
Labels: en, ingame

#365 Update Connection_Errors.txt
  Translations/fr/Connection_Errors.txt
Labels: fr, ingame

#368 Create ReportForm.txt
  Translations/English (default)/ReportForm.txt
Labels: en, ingame

#366 Added new files and translations according to english default
  Translations/de/Class_Bio.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Connection_Info.txt
  Translations/de/Facility.txt
  Translations/de/GameHints.txt
  Translations/de/InventoryErrors.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/SCP079.txt
  Translations/de/Summary.txt
  Translations/de/WeaponManager.txt
Labels: de, ingame

#373 Report form
  Translations/English (default)/ReportForm.txt
Labels: en, ingame
