Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-07, with the labels that each got.

#517 PL | Fast grammar fix
  Translations/pl/Badges.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

#518 graphics api
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#521 CN Graphics API.txt
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#510 ES Achievements and Abilities revisited and Updated
  Steam-Translations/Achievements/700330_loc_spanish.vdf
  Translations/es/Abilities.txt
  Translations/es/Class_Names.txt
  Translations/es/Connection_Info.txt
Labels: es, ingame, steam-achievements

#522 New stuff
  Translations/de/Badges.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#526 Disconnect info
  Translations/English (default)/Connection_Info.txt
Labels: en, ingame

#435 Ukrainian translation full update
  Steam-Translations/Achievements/700330_loc_ukrainian.vdf
  Steam-Translations/Rich Presence/700330_loc_ukrainian.vdf
  Translations/credits.txt
  Translations/uk/Abilities.txt
  Translations/uk/Badges.txt
  Translations/uk/Class_Bio.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/Connection_Errors.txt
  Translations/uk/Connection_Info.txt
  Translations/uk/Death_Causes.txt
  Translations/uk/Facility.txt
  Translations/uk/GameHints.txt
  Translations/uk/Legacy_Interfaces.txt
  Translations/uk/LoadingHints.txt
  Translations/uk/MainMenu.txt
  Translations/uk/MenuWarnings.txt
  Translations/uk/NewInventory.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/ReportForm.txt
  Translations/uk/SCP079.txt
  Translations/uk/SCP_Interfaces.txt
  Translations/uk/Summary.txt
  Translations/uk/Version_7-0-0.txt
  Translations/uk/WeaponManager.txt
Labels: credits, ingame, steam-achievements, steam-richpresence, uk

#525 Text optimization | Public beta 21th | CN
  Translations/zh-Hans/Badges.txt
  Translations/zh-Hans/Connection_Info.txt
Labels: ingame, zh-Hans

#528 TChinese update
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Connection_Info.txt
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

#532 TC New Update
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Connection_Info.txt
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

#531 catch update and fix typo
  Translations/ja/Abilities.txt
  Translations/ja/Badges.txt
  Translations/ja/Connection_Info.txt
  Translations/ja/NewMainMenu.txt
Labels: ingame, ja

#530 [ES] Updated with the recent changes
  Translations/es/Badges.txt
  Translations/es/Connection_Info.txt
  Translations/es/NewMainMenu.txt
Labels: es, ingame

#520 Updated Russian localization
  Translations/ru/Badges.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

#527 PL | Graphics API & Disconnect Info
  Translations/pl/Connection_Info.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

#535 Badge changes
  Translations/pl/Badges.txt
Labels: ingame, pl

#536 Updating Thai translations
  Translations/th/Badges.txt
  Translations/th/Connection_Info.txt
  Translations/th/NewMainMenu.txt
Labels: ingame, th

#533 Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#534 Update Badges.txt
  Translations/fr/Badges.txt
Labels: fr, ingame

#540 English pass for SCP-096's F1 menu
  Translations/English (default)/Abilities.txt
Labels: en, ingame

#541 PL | SCP-096 Abilities update
  Translations/pl/Abilities.txt
Labels: ingame, pl

#499 Very ımportant fıx for Abılıty menu, sorry for that.
  Translations/tr/Abilities.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#543 Updated Russian language | Disconnect info
  Translations/ru/Connection_Info.txt
Labels: ingame, ru

#509 (REUPDATE) ko-KR for upcoming updates
  Steam-Translations/Achievements/700330_loc_korean.vdf
  Steam-Translations/Rich Presence/700330_loc_koreana.vdf
  Translations/credits.txt
  Translations/ko/Abilities.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Class_Nicknames.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Connection_Info.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/Facility.txt
  Translations/ko/GameHints.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/MainMenu.txt
  Translations/ko/MenuWarnings.txt
  Translations/ko/NewInventory.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/ReportForm.txt
  Translations/ko/SCP079.txt
  Translations/ko/SCP_Interfaces.txt
  Translations/ko/Summary.txt
  Translations/ko/Version_7-0-0.txt
  Translations/ko/WeaponManager.txt
Labels: credits, ingame, ko, steam-achievements, steam-richpresence

#502 Fixed Dutch Translation
  Translations/credits.txt
  Translations/nl/Abilities.txt
  Translations/nl/Badges.txt
  Translations/nl/Class_Bio.txt
  Translations/nl/Class_Descriptions.txt
  Translations/nl/Class_Names.txt
  Translations/nl/Class_Nicknames.txt
  Translations/nl/Connection_Errors.txt
  Translations/nl/Connection_Info.txt
  Translations/nl/Death_Causes.txt
  Translations/nl/Facility.txt
  Translations/nl/GameHints.txt
  Translations/nl/Legacy_Interfaces.txt
  Translations/nl/LoadingHints.txt
  Translations/nl/MainMenu.txt
  Translations/nl/MenuWarnings.txt
  Translations/nl/NewInventory.txt
  Translations/nl/NewMainMenu.txt
  Translations/nl/ReportForm.txt
  Translations/nl/SCP079.txt
  Translations/nl/SCP_Interfaces.txt
  Translations/nl/Summary.txt
  Translations/nl/Version_7-0-0.txt
  Translations/nl/WeaponManager.txt
Labels: credits, ingame, nl

#529 Updated Catalan
  Translations/ca/Abilities.txt
  Translations/ca/Badges.txt
  Translations/ca/Connection_Errors.txt
  Translations/ca/Connection_Info.txt
  Translations/ca/Death_Causes.txt
  Translations/ca/Facility.txt
  Translations/ca/GameHints.txt
  Translations/ca/Inventory.txt
  Translations/ca/Legacy_Interfaces.txt
  Translations/ca/LoadingHints.txt
  Translations/ca/MainMenu.txt
  Translations/ca/NewMainMenu.txt
  Translations/ca/ReportForm.txt
  Translations/ca/Tutorial_01.txt
  Translations/ca/Tutorial_02.txt
  Translations/ca/Tutorial_03.txt
Labels: ca, ingame

#545 update Abilities.txt | CN
  Translations/zh-Hans/Abilities.txt
Labels: ingame, zh-Hans

#547 Updated 096's abilities tab.
  Translations/th/Abilities.txt
Labels: ingame, th

#546 update NewMainMenu.txt | Traditional Chinese
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

#487 Added a new language(Steam Achievements)
  Steam-Translations/Achievements/700330_loc_brazilian.vdf
Labels: steam-achievements

#549 RU | Text doesn't fit main menu UI. Now fixed.
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

#544 Update Badges.txt
  Translations/de/Badges.txt
Labels: de, ingame

#548 Deleted Unused File
  Translations/ko/InventoryErrors.txt
Labels: ingame, ko

#494 Italian Translation
  Steam-Translations/Achievements/700330_loc_italian.vdf
  Steam-Translations/Rich Presence/700330_loc_italian.vdf
  Translations/it/Abilities.txt
  Translations/it/Badges.txt
  Translations/it/Connection_Errors.txt
  Translations/it/Connection_Info.txt
  Translations/it/Death_Causes.txt
  Translations/it/Facility.txt
  Translations/it/GameHints.txt
  Translations/it/Legacy_Interfaces.txt
  Translations/it/LoadingHints.txt
  Translations/it/MainMenu.txt
  Translations/it/NewInventory.txt
  Translations/it/NewMainMenu.txt
  Translations/it/ReportForm.txt
Labels: ingame, it, steam-achievements, steam-richpresence

#555 [Hungarian] Added missing lines + changed existing lines
  Translations/hu/Badges.txt
  Translations/hu/Class_Descriptions.txt
  Translations/hu/Connection_Errors.txt
  Translations/hu/Connection_Info.txt
  Translations/hu/Facility.txt
  Translations/hu/Legacy_Interfaces.txt
  Translations/hu/NewMainMenu.txt
Labels: hu, ingame

#560 Fix newlines
  Translations/English (default)/MenuWarnings.txt
  Translations/ca/MenuWarnings.txt
  Translations/de-AT/MenuWarnings.txt
  Translations/de/MenuWarnings.txt
  Translations/es/MenuWarnings.txt
  Translations/fi/MenuWarnings.txt
  Translations/fr-CA/MenuWarnings.txt
  Translations/hu/MenuWarnings.txt
  Translations/hu/NewMainMenu.txt
  Translations/it/MenuWarnings.txt
  Translations/ko/MenuWarnings.txt
  Translations/lv/MenuWarnings.txt
  Translations/nl/MenuWarnings.txt
  Translations/pl/MenuWarnings.txt
  Translations/pt-BR/MenuWarnings.txt
  Translations/ru/MenuWarnings.txt
  Translations/th/MenuWarnings.txt
  Translations/tr/MenuWarnings.txt
  Translations/uk/MenuWarnings.txt
  Translations/zh-Hans/MenuWarnings.txt
  Translations/zh-Hant/MenuWarnings.txt
Labels: ca, de, en, es, fi, fr-CA, hu, ingame, it, ko, lv, nl, pl, pt-BR, ru, th, tr, uk, zh-Hans, zh-Hant
