Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-01, with the labels that each got.

#317 Update Death_Causes.txt
  Translations/tr/Death_Causes.txt
Labels: tr

#316 Update Death_Causes.txt
  Translations/fr/Death_Causes.txt
Labels: fr

#315 Update NewInventory.txt
  Translations/zh-Hans/NewInventory.txt
Labels: zh-Hans

#298 Typo fixed in Facility.txt
  Translations/fr-CA/Facility.txt
Labels: fr-CA

#297 Update Class_Names.txt
  Translations/it/Class_Names.txt
Labels: it

#314 [northwood-studios/SCPSL-Translations] New pull request : Changing and Updating Hungarian
  Translations/hu/Abilities.txt
  Translations/hu/Class_Bio.txt
  Translations/hu/Class_Nicknames.txt
  Translations/hu/Death_Causes.txt
  Translations/hu/Facility.txt
  Translations/hu/InventoryErrors.txt
  Translations/hu/MainMenu.txt
  Translations/hu/MenuWarnings.txt
  Translations/hu/NewInventory.txt
  Translations/hu/SCP_Interfaces.txt
Labels: hu

#324 Update Summary.txt
  Translations/zh-Hant/Summary.txt
Labels: zh-Hant

#319 Tweaks English translation for the F1 menu popup
  Translations/English (default)/Facility.txt
Labels: en, text-change

#325 Added more connection errors and minor PL change
  Translations/English (default)/Connection_Errors.txt
  Translations/pl/Connection_Errors.txt
Labels: en, pl

#326 HideIP Option
  Translations/English (default)/MainMenu.txt
Labels: en

#323 Update Death_Causes.txt
  Translations/zh-Hant/Death_Causes.txt
Labels: zh-Hant

#329 Implements death causes for new damage types
  Translations/English (default)/Death_Causes.txt
Labels: content-change, en

#331 Updated Russian localization
  Steam-Translations/Achievements/700330_loc_all.vdf
  Steam-Translations/Rich Presence/700330_loc_all.vdf
  Translations/ru/Abilities.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/MainMenu.txt
  Translations/ru/Summary.txt
Labels: ru, steam-achievements, steam-richpresence

#333 Update Death_Causes.txt
  Translations/ja/Death_Causes.txt
Labels: ja

#336 Update MainMenu.txt
  Translations/zh-Hans/MainMenu.txt
Labels: zh-Hans

#335 Update Connection_Errors.txt
  Translations/zh-Hans/Connection_Errors.txt
Labels: zh-Hans

#337 added missing lines and achievements
  Steam-Translations/Achievements/700330_loc_all.vdf
  Translations/de/Connection_Errors.txt
  Translations/de/Death_Causes.txt
  Translations/de/MainMenu.txt
Labels: de, steam-achievements

#339 Hints removed
  Translations/English (default)/Hints.txt
  Translations/cs/Hints.txt
  Translations/da/Hints.txt
  Translations/de/Hints.txt
  Translations/es/Hints.txt
  Translations/fi/Hints.txt
  Translations/fr/Hints.txt
  Translations/hu/Hints.txt
  Translations/it/Hints.txt
  Translations/ja/Hints.txt
  Translations/ko/Hints.txt
  Translations/lv/Hints.txt
  Translations/nb/Hints.txt
  Translations/nl/Hints.txt
  Translations/pl/Hints.txt
  Translations/pt-BR/Hints.txt
  Translations/pt/Hints.txt
  Translations/ru/Hints.txt
  Translations/sk/Hints.txt
  Translations/th/Hints.txt
  Translations/tr/Hints.txt
  Translations/uk/Hints.txt
  Translations/zh-Hans/Hints.txt
  Translations/zh-Hant/Hints.txt
Labels: cs, da, de, en, es, fi, fr, hu, it, ja, ko, lv, nb, nl, pl, pt, pt-BR, ru, sk, th, tr, uk, zh-Hans, zh-Hant

#340 [WIP]LoadingScreen related translation
  Translations/English (default)/Connection_Info.txt
  Translations/English (default)/LoadingHints.txt
Labels: en

#338 Translation reworks and achievements translation.
  Steam-Translations/Achievements/700330_loc_all.vdf
  Steam-Translations/Achievements/700330_loc_thai.vdf
  Steam-Translations/Rich Presence/700330_loc_thai.vdf
  Translations/th/Abilities.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Death_Causes.txt
  Translations/th/Facility.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/MainMenu.txt
  Translations/th/NewInventory.txt
  Translations/th/SCP079.txt
  Translations/th/Summary.txt
  Translations/th/WeaponManager.txt
Labels: steam-achievements, steam-richpresence, th

#328 Japanese mini update
  Translations/ja/Connection_Errors.txt
  Translations/ja/Facility.txt
Labels: ja

#346 added tutorial video :D
  README.md
Labels: readme

#341 Update MainMenu.txt
  Translations/fr/MainMenu.txt
Labels: fr

#334 Update Death_Causes.txt
  Translations/zh-Hans/Death_Causes.txt
Labels: zh-Hans

#347 Hints and Search Translations
  Translations/English (default)/Facility.txt
  Translations/English (default)/GameHints.txt
  Translations/English (default)/InventoryErrors.txt
  Translations/English (default)/MainMenu.txt
Labels: en
