Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-10, with the labels that each got.

#639 Polish translation
  Translations/pl/DecontaminationDisplays.txt
  Translations/pl/Facility.txt
  Translations/pl/Keybinds.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/Nuke.txt
  Translations/pl/WeaponMods.txt
  Translations/pl/Workstations.txt
Labels: ingame, pl

#637 [RU] Updated localization
  Translations/ru/DecontaminationDisplays.txt
  Translations/ru/Keybinds.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/Nuke.txt
  Translations/ru/WeaponMods.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

#478 Added translation fo the new update
  Translations/pt-BR/Abilities.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Class_Nicknames.txt
  Translations/pt-BR/Connection_Errors.txt
  Translations/pt-BR/Connection_Info.txt
  Translations/pt-BR/Death_Causes.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/GameHints.txt
  Translations/pt-BR/Legacy_Interfaces.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/NewInventory.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/ReportForm.txt
  Translations/pt-BR/SCP079.txt
  Translations/pt-BR/SCP_Interfaces.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Version_7-0-0.txt
  Translations/pt-BR/WeaponManager.txt
Labels: ingame, pt-BR

#593 Update 700330_loc_german.vdf
  Steam-Translations/Achievements/700330_loc_german.vdf
Labels: de, steam-achievements

#566 Merge zh-CN and zh-Hans into zh
  Steam-Translations/Achievements/700330_loc_schinese.vdf
  Translations/credits.txt
  Translations/zh-Hans/GameHints.txt
  Translations/zh-Hans/LoadingHints.txt
  Translations/zh-Hans/WeaponManager.txt
  Translations/zh/Abilities.txt
  Translations/zh/Badges.txt
  Translations/zh/Class_Bio.txt
  Translations/zh/Class_Descriptions.txt
  Translations/zh/Class_Names.txt
  Translations/zh/Class_Nicknames.txt
  Translations/zh/Connection_Errors.txt
  Translations/zh/Connection_Info.txt
  Translations/zh/Death_Causes.txt
  Translations/zh/DecontaminationDisplays.txt
  Translations/zh/Door.txt
  Translations/zh/Facility.txt
  Translations/zh/GameHints.txt
  Translations/zh/HID_Sign.txt
  Translations/zh/Intercom.txt
  Translations/zh/Intercom_Door_Sign.txt
  Translations/zh/Keybinds.txt
  Translations/zh/Legacy_Interfaces.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/MainMenu.txt
  Translations/zh/MenuWarnings.txt
  Translations/zh/NewInventory.txt
  Translations/zh/NewMainMenu.txt
  Translations/zh/Nuke.txt
  Translations/zh/Nuke_Silo_Sign.txt
  Translations/zh/ReportForm.txt
  Translations/zh/SCP079.txt
  Translations/zh/SCP_Interfaces.txt
  Translations/zh/Summary.txt
  Translations/zh/Version_7-0-0.txt
  Translations/zh/WeaponManager.txt
  Translations/zh/WeaponMods.txt
  Translations/zh/Workstations.txt
Labels: credits, ingame, steam-achievements, update, zh, zh-Hans

#641 Keep the old zh-hans translations
  Translations/zh/Abilities.txt
  Translations/zh/Connection_Info.txt
  Translations/zh/GameHints.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/MainMenu.txt
  Translations/zh/NewInventory.txt
  Translations/zh/NewMainMenu.txt
Labels: content-change, ingame, zh-Hans

#643 sChinese text correction and optimization
  Translations/zh/NewMainMenu.txt
  Translations/zh/Nuke.txt
  Translations/zh/Workstations.txt
Labels: ingame, text-change, zh, zh-Hans

#647 TC New Update (13/10)
  Translations/zh-Hant/DecontaminationDisplays.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/Keybinds.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/Nuke.txt
  Translations/zh-Hant/WeaponMods.txt
  Translations/zh-Hant/Workstations.txt
Labels: ingame, zh-Hant

#650 Finnish Update 2
  Steam-Translations/Achievements/700330_loc_finnish.vdf
  Translations/fi/Badges.txt
  Translations/fi/DecontaminationDisplays.txt
  Translations/fi/Door.txt
  Translations/fi/Facility.txt
  Translations/fi/HID_Sign.txt
  Translations/fi/Intercom.txt
  Translations/fi/Intercom_Door_Sign.txt
  Translations/fi/Keybinds.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/Nuke.txt
  Translations/fi/Nuke_Silo_Sign.txt
  Translations/fi/WeaponMods.txt
  Translations/fi/Workstations.txt
Labels: fi, ingame, steam-achievements

#651 Incorrect spelling corrected.
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#642 [RU] Translation update to reflect code changes
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

#627 Ko | Changes from 10.0.2
  Translations/ko/Badges.txt
  Translations/ko/Connection_Info.txt
  Translations/ko/DecontaminationDisplays.txt
  Translations/ko/Door.txt
  Translations/ko/Facility.txt
  Translations/ko/HID_Sign.txt
  Translations/ko/Intercom.txt
  Translations/ko/Intercom_Door_Sign.txt
  Translations/ko/Keybinds.txt
  Translations/ko/MainMenu.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/Nuke.txt
  Translations/ko/Nuke_Silo_Sign.txt
  Translations/ko/WeaponMods.txt
  Translations/ko/WorkStations.txt
Labels: ingame, ko

#657 Update Connection_Errors.txt
  Translations/fr/Connection_Errors.txt
Labels: fr, ingame

#656 Update MenuWarnings.txt
  Translations/fr/MenuWarnings.txt
Labels: fr, ingame

#653 FR Update
  Translations/fr/Door.txt
  Translations/fr/Facility.txt
  Translations/fr/HID_Sign.txt
  Translations/fr/Intercom.txt
  Translations/fr/Intercom_Door_Sign.txt
  Translations/fr/Keybinds.txt
  Translations/fr/MainMenu.txt
  Translations/fr/NewInventory.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/Nuke.txt
  Translations/fr/Nuke_Silo_Sign.txt
  Translations/fr/WeaponMods.txt
  Translations/fr/Workstations.txt
Labels: fr, ingame

#655 Update Badges.txt
  Translations/fr/Badges.txt
Labels: fr, ingame

#574 Light render update & VERY minor fix on controls.
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Death_Causes.txt
  Translations/th/Door.txt
  Translations/th/Facility.txt
  Translations/th/Intercom.txt
  Translations/th/LoadingHints.txt
  Translations/th/NewInventory.txt
  Translations/th/NewMainMenu.txt
  Translations/th/ReportForm.txt
  Translations/th/SCP079.txt
Labels: ingame, th

#589 Fixed a typo - Italian translation
  Translations/it/NewMainMenu.txt
Labels: ingame, it

#658 German Update.
  Translations/de/DecontaminationDisplays.txt
  Translations/de/Keybinds.txt
  Translations/de/NewMainMenu.txt
  Translations/de/Nuke.txt
  Translations/de/Nuke_Silo_Sign.txt
  Translations/de/SCP079.txt
  Translations/de/WeaponMods.txt
  Translations/de/Workstations.txt
Labels: de, ingame
