Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-12, with the labels that each got.

#695 Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: fr, ingame

#682 Updated Russian localization
  Translations/ru/Badges.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Door.txt
  Translations/ru/Workstations.txt
Labels: en, ingame, ru

#692 Patch FR | Normalizing Hex Code
  Translations/fr/Badges.txt
  Translations/fr/Class_Bio.txt
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Door.txt
  Translations/fr/NewInventory.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/manifest.json
Labels: fr, ingame

#696 Hex codes fix
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Door.txt
  Translations/th/Workstations.txt
Labels: ingame, th

#697 Update Nuke.txt
  Translations/zh/Nuke.txt
Labels: ingame, text-change, zh, zh-Hans

#700 Update Class_Names.txt
  Translations/zh/Class_Descriptions.txt
  Translations/zh/Class_Names.txt
Labels: ingame, text-change, zh
