Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-09, with the labels that each got.

#609 More translatable strings
  Translations/English (default)/Door.txt
  Translations/English (default)/Intercom.txt
Labels: en, ingame

#610 Polish translation additions
  Translations/pl/Badges.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/Door.txt
  Translations/pl/Facility.txt
  Translations/pl/Intercom.txt
Labels: ingame, pl

#588 fr_FR Correct and add translations
  Translations/fr/Badges.txt
  Translations/fr/Connection_Info.txt
  Translations/fr/GameHints.txt
  Translations/fr/MenuWarnings.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#575 [RU] Fixed new line and small adjustment
  Translations/English (default)/MenuWarnings.txt
  Translations/ru/Badges.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/MenuWarnings.txt
Labels: en, ingame, ru

#590 Added missing badge
  Translations/it/Badges.txt
Labels: ingame, it

#612 MISSING THINGS
  Translations/de/Badges.txt
  Translations/de/Class_Bio.txt
  Translations/de/Facility.txt
  Translations/de/Intercom.txt
  Translations/de/SCP079.txt
  Translations/de/door.txt
Labels: de, ingame

#611 Added more translatable texts
  Translations/English (default)/Facility.txt
  Translations/English (default)/HID_Sign.txt
  Translations/English (default)/Intercom_Door_Sign.txt
  Translations/English (default)/Nuke_Silo_Sign.txt
Labels: en, ingame

#613 Added more SChinese translatable texts
  Translations/zh-Hans/Badges.txt
  Translations/zh-Hans/Door.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/HID_Sign.txt
  Translations/zh-Hans/Intercom.txt
  Translations/zh-Hans/Intercom_Door_Sign.txt
  Translations/zh-Hans/Nuke_Silo_Sign.txt
Labels: ingame, update, zh-Hans

#616 Updated PL translations
  Translations/pl/Facility.txt
  Translations/pl/HID_Sign.txt
  Translations/pl/Intercom_Door_Sign.txt
  Translations/pl/Nuke_Silo_Sign.txt
Labels: ingame, pl

#618 [RU] Updated Localization
  Translations/ru/Badges.txt
  Translations/ru/Door.txt
  Translations/ru/Facility.txt
  Translations/ru/HID_Sign.txt
  Translations/ru/Intercom.txt
  Translations/ru/Intercom_Door_Sign.txt
  Translations/ru/Nuke_Silo_Sign.txt
Labels: ingame, ru

#621 TC New Update (15/9)
  Steam-Translations/Achievements/700330_loc_tchinese.vdf
  Steam-Translations/Rich Presence/700330_loc_tchinese.vdf
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Door.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/HID_Sign.txt
  Translations/zh-Hant/Intercom.txt
  Translations/zh-Hant/Intercom_Door_Sign.txt
  Translations/zh-Hant/InventoryErrors.txt
  Translations/zh-Hant/MenuWarnings.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/Nuke_Silo_Sign.txt
Labels: ingame, steam-achievements, steam-richpresence, zh-Hant

#622 Simplified-Chinese-text-optimize
  Translations/zh-Hans/Door.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/HID_Sign.txt
  Translations/zh-Hans/Intercom_Door_Sign.txt
  Translations/zh-Hans/Nuke_Silo_Sign.txt
Labels: ingame, update, zh-Hans

#624 optimize Badges.txt text
  Translations/zh-Hans/Badges.txt
Labels: ingame, text-change, update, zh-Hans

#625 Added new translations
  Translations/English (default)/Keybinds.txt
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#629 Create Keybinds.txt
  Translations/zh-Hans/Keybinds.txt
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#630 Missing Lines for german language
  Translations/English (default)/Keybinds.txt
  Translations/de/NewMainMenu.txt
Labels: de, en, ingame

#631 English text error urgently corrected
  Translations/English (default)/Keybinds.txt
  Translations/de/Keybinds.txt
Labels: en, error

#635 Added new translations
  Translations/English (default)/DecontaminationDisplays.txt
  Translations/English (default)/Nuke.txt
  Translations/English (default)/WeaponMods.txt
  Translations/English (default)/Workstations.txt
Labels: en, ingame

#617 Updated Hungarian translation
  Translations/hu/Badges.txt
  Translations/hu/Door.txt
  Translations/hu/Facility.txt
  Translations/hu/HID_Sign.txt
  Translations/hu/Intercom.txt
  Translations/hu/Intercom_Door_Sign.txt
  Translations/hu/NewInventory.txt
  Translations/hu/Nuke_Silo_Sign.txt
Labels: hu, ingame

#636 Added new translations-Simplified Chinese
  Translations/zh-Hans/DecontaminationDisplays.txt
  Translations/zh-Hans/Intercom_Door_Sign.txt
  Translations/zh-Hans/Nuke.txt
  Translations/zh-Hans/WeaponMods.txt
  Translations/zh-Hans/Workstations.txt
Labels: ingame, zh-Hans

#638 Update translations to reflect code changes
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame
