Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-04, with the labels that each got.

#397 updata schinese text
  Translations/zh-Hans/NewMainMenu.txt
  Translations/zh-Hans/ReportForm.txt
Labels: ingame, zh-Hans

#432 Correct translation errors
  Translations/zh-Hans/Abilities.txt
  Translations/zh-Hans/Class_Descriptions.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/GameHints.txt
  Translations/zh-Hans/InventoryErrors.txt
  Translations/zh-Hans/LoadingHints.txt
Labels: ingame, zh-Hans

#403 Update LoadingHints.txt
  Translations/fr/LoadingHints.txt
Labels: fr, ingame, update

#425 Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame, update

#424 Update MainMenu.txt
  Translations/fr/MainMenu.txt
Labels: fr, ingame, update

#422 Create Badges.txt
  Translations/fr/Badges.txt
Labels: fr, ingame

#420 Update Legacy_Interfaces.txt
  Translations/fr/Legacy_Interfaces.txt
Labels: fr, ingame, update

#436 Added missing stuff
  Translations/de/NewMainMenu.txt
  Translations/de/ReportForm.txt
Labels: de, ingame

#421 SChinese Create Badges.txt
  Translations/zh-Hans/Badges.txt
  Translations/zh-Hans/Legacy_Interfaces.txt
Labels: ingame, zh-Hans

#385 [RU] Localization update. Tested in-game with latest patreon beta.
  Translations/ru/Abilities.txt
  Translations/ru/Badges.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Connection_Info.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Legacy_Interfaces.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewInventory.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/ReportForm.txt
Labels: ingame, ru

#364 Updating French Canadian language
  Translations/fr-CA/Connection_Errors.txt
  Translations/fr-CA/Connection_Info.txt
  Translations/fr-CA/Death_Causes.txt
  Translations/fr-CA/Facility.txt
  Translations/fr-CA/GameHints.txt
  Translations/fr-CA/Hints.txt
  Translations/fr-CA/InventoryErrors.txt
  Translations/fr-CA/LoadingHints.txt
  Translations/fr-CA/MainMenu.txt
Labels: fr-CA, ingame

#440 Added 5 fıles and Update Rıch Presence
  Steam-Translations/Rich Presence/700330_loc_turkish.vdf
  Translations/tr/Badges.txt
  Translations/tr/Connection_Info.txt
  Translations/tr/GameHints.txt
  Translations/tr/Legacy_Interfaces.txt
  Translations/tr/NewMainMenu.txt
  Translations/tr/ReportForm.txt
Labels: ingame, steam-richpresence, tr

#428 Add badges.txt
  Translations/credits.txt
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/NewInventory.txt
Labels: credits, ingame, zh-Hant

#443 Add credits
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#446 Update 096 abilities.
  Translations/English (default)/Abilities.txt
Labels: en, ingame

#447 Update 096 abilities Chinese text
  Translations/zh-Hans/Abilities.txt
Labels: ingame, zh-Hans

#444 Improvement translation in zh-Hant
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Legacy_Interfaces.txt
  Translations/zh-Hant/LoadingHints.txt
  Translations/zh-Hant/NewInventory.txt
  Translations/zh-Hant/NewMainMenu.txt
Labels: credits, ingame, zh-Hant

#448 abilities.txt Lockdown AL 3 changed to 2.
  Translations/English (default)/Abilities.txt
Labels: en, ingame

#449 Updated the missing translations
  Translations/de/Abilities.txt
  Translations/de/Class_Bio.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#450 Update 096 abilities chinese text
  Translations/zh-Hans/Abilities.txt
Labels: ingame, zh-Hans

#453 Update Abilities.txt
  Translations/fr/Abilities.txt
Labels: fr, ingame

#455 Update 096 TC
  Translations/zh-Hant/Abilities.txt
Labels: ingame, zh-Hant

#454 Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#460 [FR] Abilities.txt Lockdown AL 3 changed to 2.
  Translations/fr/Abilities.txt
Labels: fr, ingame

#461 Auth Status
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#463 Update NewMainMenu.txt
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#452 Added German - Austria language translation
  Translations/de-AT/Abilities.txt
  Translations/de-AT/Badges.txt
  Translations/de-AT/Class_Bio.txt
  Translations/de-AT/Class_Descriptions.txt
  Translations/de-AT/Class_Names.txt
  Translations/de-AT/Class_Nicknames.txt
  Translations/de-AT/Connection_Errors.txt
  Translations/de-AT/Connection_Info.txt
  Translations/de-AT/Death_Causes.txt
  Translations/de-AT/Facility.txt
  Translations/de-AT/GameHints.txt
  Translations/de-AT/Legacy_Interfaces.txt
  Translations/de-AT/LoadingHints.txt
  Translations/de-AT/MainMenu.txt
  Translations/de-AT/MenuWarnings.txt
  Translations/de-AT/NewInventory.txt
  Translations/de-AT/NewMainMenu.txt
  Translations/de-AT/ReportForm.txt
  Translations/de-AT/SCP079.txt
  Translations/de-AT/SCP_Interfaces.txt
  Translations/de-AT/Summary.txt
  Translations/de-AT/Version_7-0-0.txt
  Translations/de-AT/WeaponManager.txt
Labels: ingame

#466 Added missing newmainmenu lines
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#465 Added authors of de-AT
  Translations/credits.txt
Labels: credits

#467 new lines for ragdoll setting
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#361 Created 2 New files for pt-BR
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/SCP_Interfaces.txt
Labels: ingame, pt-BR

#392 Japanese update(NewMenu and Report)
  Translations/ja/NewMainMenu.txt
  Translations/ja/ReportForm.txt
Labels: ingame, ja

#413 New language
  Steam-Translations/Achievements/700330_loc_japanese.vdf
  Steam-Translations/Rich Presence/700330_loc_japanese.vdf
Labels: ja, steam-achievements, steam-richpresence

#469 Update NewMainMenu.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#451 Minor changes and updates.
  Steam-Translations/Rich Presence/700330_loc_turkish.vdf
  Translations/tr/Abilities.txt
  Translations/tr/Class_Bio.txt
  Translations/tr/Class_Descriptions.txt
  Translations/tr/Facility.txt
  Translations/tr/Legacy_Interfaces.txt
  Translations/tr/MainMenu.txt
  Translations/tr/NewInventory.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, steam-richpresence, tr

#470 Added new Spanish translations
  Steam-Translations/Achievements/700330_loc_spanish.vdf
  Steam-Translations/Rich Presence/700330_loc_spanish.vdf
  Translations/es/Abilities.txt
  Translations/es/Connection_Errors.txt
  Translations/es/Death_Causes.txt
  Translations/es/Facility.txt
  Translations/es/GameHints.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
Labels: credits, es, ingame, steam-achievements, steam-richpresence

#475 Update for TC ragdoll setting
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant
