Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-11, with the labels that each got.

#660 Update DecontaminationDisplays.txt
  Translations/pl/DecontaminationDisplays.txt
Labels: ingame, pl

#666 Update polish translation
  Translations/pl/Connection_Errors.txt
  Translations/pl/DecontaminationDisplays.txt
  Translations/pl/NewMainMenu.txt
Labels: ingame, pl

#668 Small Finnish Update
  Translations/fi/Badges.txt
  Translations/fi/Connection_Errors.txt
  Translations/fi/Connection_Info.txt
Labels: fi, ingame

#669 update Chinese connection_error
  Translations/zh-Hant/Connection_Errors.txt
  Translations/zh/Connection_Errors.txt
Labels: ingame, update, zh, zh-Hans, zh-Hant

#670 Update Connection_Errors.txt
  Translations/de/Connection_Errors.txt
Labels: de, ingame

#662 Add manifests for font issue fix
  .github/workflows/manifest.yml
  README.md
  TranslationManifestChecker.exe
  Translations/English (default)/manifest.json
  Translations/ca/manifest.json
  Translations/cs/manifest.json
  Translations/da/manifest.json
  Translations/de-AT/manifest.json
  Translations/de/manifest.json
  Translations/es/manifest.json
  Translations/fi/manifest.json
  Translations/fr-CA/manifest.json
  Translations/fr/manifest.json
  Translations/hu/manifest.json
  Translations/it/manifest.json
  Translations/ja/manifest.json
  Translations/ko/manifest.json
  Translations/lv/manifest.json
  Translations/nb/manifest.json
  Translations/nl/manifest.json
  Translations/pl/manifest.json
  Translations/pt-BR/manifest.json
  Translations/pt/manifest.json
  Translations/ru/manifest.json
  Translations/sk/manifest.json
  Translations/th/manifest.json
  Translations/tr/manifest.json
  Translations/uk/manifest.json
  Translations/zh-Hant/manifest.json
  Translations/zh/manifest.json
  fontfallbacks.txt
Labels: ca, cs, da, de, en, es, fi, fr, fr-CA, hu, ingame, it, ja, ko, lv, nb, nl, pl, pt, pt-BR, readme, ru, sk, th, tr, uk, zh-Hant

#674 Update Workstations.txt
  Translations/fr/Workstations.txt
Labels: fr, ingame

#677 Modifying MainMenu Create Game
  Translations/fr/MainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#676 Create DecontaminationDisplays.txt
  Translations/fr/DecontaminationDisplays.txt
Labels: fr, ingame

#675 Update Version_7-0-0.txt
  Translations/fr/Version_7-0-0.txt
Labels: fr, ingame

#673 Update Connection_Errors.txt
  Translations/fr/Connection_Errors.txt
Labels: fr, ingame

#652 Brazillian Portuguese achievements fix.
  Steam-Translations/Achievements/700330_loc_brazilian.vdf
  Steam-Translations/Rich Presence/700330_loc_brazilian.vdf
Labels: steam-achievements, steam-richpresence

#664 [Hungarian] Created missing files + changed some existing ones
  Translations/hu/Class_Names.txt
  Translations/hu/Connection_Errors.txt
  Translations/hu/DecontaminationDisplays.txt
  Translations/hu/Facility.txt
  Translations/hu/GameHints.txt
  Translations/hu/Keybinds.txt
  Translations/hu/NewMainMenu.txt
  Translations/hu/Nuke.txt
  Translations/hu/SCP079.txt
  Translations/hu/WeaponManager.txt
  Translations/hu/WeaponMods.txt
  Translations/hu/Workstations.txt
Labels: hu, ingame

#672 KO | Minor Updates and Changes
  Translations/ko/Badges.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Door.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/Nuke_Silo_Sign.txt
  Translations/ko/WeaponMods.txt
Labels: ingame, ko

#661 Updating Thai translations to be up to version 10.1.1
  Translations/th/Abilities.txt
  Translations/th/Badges.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Death_Causes.txt
  Translations/th/DecontaminationDisplays.txt
  Translations/th/Door.txt
  Translations/th/HID_Sign.txt
  Translations/th/Intercom_Door_Sign.txt
  Translations/th/Keybinds.txt
  Translations/th/NewMainMenu.txt
  Translations/th/Nuke.txt
  Translations/th/Nuke_Silo_Sign.txt
  Translations/th/SCP079.txt
  Translations/th/Summary.txt
  Translations/th/WeaponMods.txt
  Translations/th/Workstations.txt
Labels: ingame, th

#680 Update Workstations.txt
  Translations/English (default)/Workstations.txt
Labels: en, ingame, text-change

#681 Update Door.txt (Uppercase fix)
  Translations/English (default)/Door.txt
Labels: content-change, en, ingame

#583 Danish Translation Update and Rework
  Translations/credits.txt
  Translations/da/Abilities.txt
  Translations/da/Badges.txt
  Translations/da/Class_Bio.txt
  Translations/da/Class_Descriptions.txt
  Translations/da/Class_Names.txt
  Translations/da/Class_Nicknames.txt
  Translations/da/Connection_Errors.txt
  Translations/da/Connection_Info.txt
  Translations/da/Death_Causes.txt
  Translations/da/Facility.txt
  Translations/da/GameHints.txt
  Translations/da/Legacy_Interfaces.txt
  Translations/da/LoadingHints.txt
  Translations/da/MainMenu.txt
  Translations/da/MenuWarnings.txt
  Translations/da/NewInventory.txt
  Translations/da/NewMainMenu.txt
  Translations/da/ReportForm.txt
  Translations/da/SCP079.txt
  Translations/da/SCP_Interfaces.txt
  Translations/da/Summary.txt
  Translations/da/Version_7-0-0.txt
  Translations/da/WeaponManager.txt
Labels: credits, da, ingame

#684 Update Class_Descriptions.txt (Normalizing Hex Code)
  Translations/English (default)/Class_Descriptions.txt
Labels: content-change, en, ingame

#683 Update Class_Bio.txt (Normalizing Hex Code)
  Translations/English (default)/Class_Bio.txt
Labels: content-change, en, ingame

#685 KO | Updates.
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Door.txt
  Translations/ko/WorkStations.txt
Labels: ingame, ko

#687 Update TChinese
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Door.txt
  Translations/zh-Hant/Workstations.txt
  Translations/zh-Hant/manifest.json
Labels: ingame, zh-Hant

#678 Update Workstations.txt (Status Display)
  Translations/fr/Workstations.txt
Labels: content-change, fr, ingame

#686 Update SChinese
  Translations/zh/Class_Bio.txt
  Translations/zh/Class_Descriptions.txt
  Translations/zh/Door.txt
  Translations/zh/Workstations.txt
  Translations/zh/manifest.json
Labels: ingame, update, zh, zh-Hans

#691 Traditional Chinese info fix
  Translations/zh-Hant/Abilities.txt
Labels: ingame, zh-Hant

#690 Update Connection_Errors & Class_Descriptions (Fixing markdown & Normalizing Hex Code)
  Translations/cs/Class_Descriptions.txt
  Translations/cs/Connection_Errors.txt
Labels: content-change, cs, ingame

#688 Update Connection_Errors.txt (Spanish markdown fix)
  Translations/es/Connection_Errors.txt
Labels: content-change, es, ingame

#689 Update Connection_Errors.txt (Catalan markdown fix)
  Translations/ca/Connection_Errors.txt
Labels: ca, content-change, ingame
