Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-06, with the labels that each got.

#496 more options
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#492 [RU] MicroHID Achievement description fix + Christmass achievement na…
  Steam-Translations/Achievements/700330_loc_russian.vdf
  Translations/ru/LoadingHints.txt
  Translations/ru/Summary.txt
Labels: ingame, ru, steam-achievements

#399 Updated Thai translations.
  Translations/credits.txt
  Translations/th/Abilities.txt
  Translations/th/Badges.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/LoadingHints.txt
  Translations/th/MainMenu.txt
  Translations/th/NewMainMenu.txt
  Translations/th/ReportForm.txt
Labels: credits, ingame, th

#493 [Scopophobia] Updated Hungarian Translation
  Translations/hu/Badges.txt
  Translations/hu/Class_Descriptions.txt
  Translations/hu/Connection_Info.txt
  Translations/hu/Death_Causes.txt
  Translations/hu/GameHints.txt
  Translations/hu/InventoryErrors.txt
  Translations/hu/LoadingHints.txt
  Translations/hu/MainMenu.txt
  Translations/hu/NewMainMenu.txt
  Translations/hu/ReportForm.txt
Labels: hu, ingame

#503 [RU] Translation update
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

#504 Update NewMainMenu.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#476 General fixes and updates for ES translations and achievements
  Steam-Translations/Achievements/700330_loc_spanish.vdf
  Translations/es/Abilities.txt
  Translations/es/Badges.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Connection_Errors.txt
  Translations/es/LoadingHints.txt
  Translations/es/NewMainMenu.txt
  Translations/es/ReportForm.txt
  Translations/es/Summary.txt
Labels: es, ingame, steam-achievements

#266 Added new translations and few improvement for MP2
  Translations/ko/Abilities.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Class_Nicknames.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/Facility.txt
  Translations/ko/InventoryErrors.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/MainMenu.txt
  Translations/ko/MenuWarnings.txt
  Translations/ko/NewInventory.txt
  Translations/ko/SCP079.txt
  Translations/ko/SCP_Interfaces.txt
  Translations/ko/Summary.txt
  Translations/ko/WeaponManager.txt
Labels: ingame, ko

#497 Update newmainmenu text
  Translations/zh-Hans/NewMainMenu.txt
Labels: ingame, zh-Hans

#511 NewMainMenu Update
  Translations/de-AT/NewMainMenu.txt
Labels: ingame

#459 Polish translation update for 10.0.0 (Scopophobia)
  Steam-Translations/Achievements/700330_loc_polish.vdf
  Steam-Translations/Rich Presence/700330_loc_polish.vdf
  Translations/pl/Abilities.txt
  Translations/pl/Badges.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/Connection_Info.txt
  Translations/pl/Death_Causes.txt
  Translations/pl/Facility.txt
  Translations/pl/GameHints.txt
  Translations/pl/InventoryErrors.txt
  Translations/pl/Legacy_Interfaces.txt
  Translations/pl/LoadingHints.txt
  Translations/pl/MainMenu.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/ReportForm.txt
Labels: ingame, pl, steam-achievements, steam-richpresence

#507 [Hungarian] Added missing translation lines and fixed grammar.
  Translations/hu/Abilities.txt
  Translations/hu/Class_Names.txt
  Translations/hu/NewInventory.txt
  Translations/hu/NewMainMenu.txt
Labels: hu, ingame
