Repository northwood-studios/SCPSL-Translations, pull requests merged in 2020-03, with the labels that each got.

#376 Sync
  .github/labeler.yml
  .github/workflows/main.yml
  .gitignore
  EncodingNormalizer.exe
  README.md
  Steam-Translations/Achievements/700330_loc_russian.vdf
  Steam-Translations/Achievements/700330_loc_turkish.vdf
  Steam-Translations/Rich Presence/700330_loc_russian.vdf
  TranslationChecker.exe
  Translations/English (default)/Connection_Errors.txt
  Translations/English (default)/Connection_Info.txt
  Translations/English (default)/Facility.txt
  Translations/English (default)/GameHints.txt
  Translations/English (default)/InventoryErrors.txt
  Translations/English (default)/MainMenu.txt
  Translations/English (default)/ReportForm.txt
  Translations/de/Class_Bio.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Connection_Info.txt
  Translations/de/Facility.txt
  Translations/de/GameHints.txt
  Translations/de/InventoryErrors.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/SCP079.txt
  Translations/de/Summary.txt
  Translations/de/WeaponManager.txt
  Translations/fr/Connection_Errors.txt
  Translations/ru/Abilities.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Names.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/Connection_Info.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/GameHints.txt
  Translations/ru/InventoryErrors.txt
  Translations/ru/Legacy_Interfaces.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewInventory.txt
  Translations/ru/SCP079.txt
  Translations/ru/Version_7-0-0.txt
  Translations/ru/WeaponManager.txt
  Translations/th/Connection_Info.txt
  Translations/th/Facility.txt
  Translations/th/GameHints.txt
  Translations/th/LoadingHints.txt
  Translations/th/MainMenu.txt
  Translations/tr/Connection_Errors.txt
  Translations/tr/Death_Causes.txt
  Translations/tr/Facility.txt
  VerifySteamTranslations.ps1
Labels: de, en, fr, ingame, readme, ru, steam-achievements, steam-richpresence, tr

#377 Create NewMainMenu.txt
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#369 Update 700330_loc_swedish.vdf
  Steam-Translations/Achievements/700330_loc_swedish.vdf
Labels: steam-achievements

#372 Update Death_Causes.txt
  Translations/fr/Death_Causes.txt
Labels: fr, ingame

#371 Update 700330_loc_swedish.vdf
  Steam-Translations/Rich Presence/700330_loc_swedish.vdf
Labels: steam-richpresence

#367 Japanese Update
  Steam-Translations/Achievements/700330_loc_japanese.vdf
  Steam-Translations/Rich Presence/700330_loc_japanese.vdf
  Translations/ja/Connection_Info.txt
  Translations/ja/Death_Causes.txt
  Translations/ja/Facility.txt
  Translations/ja/GameHints.txt
  Translations/ja/InventoryErrors.txt
  Translations/ja/LoadingHints.txt
  Translations/ja/MainMenu.txt
Labels: ingame, ja, steam-achievements, steam-richpresence

#362 More connection info
  Translations/ru/Connection_Info.txt
  Translations/ru/ReportForm.txt
Labels: ingame, ru

#379 Translated NewMainMenu, ReportForm, and various others.
  Translations/th/Connection_Info.txt
  Translations/th/NewMainMenu.txt
  Translations/th/ReportForm.txt
Labels: ingame, th

#358 New version text update
  Translations/zh-Hans/Connection_Info.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/GameHints.txt
  Translations/zh-Hans/LoadingHints.txt
  Translations/zh-Hans/MainMenu.txt
  Translations/zh-Hans/NewMainMenu.txt
  Translations/zh-Hans/ReportForm.txt
Labels: ingame, zh-Hans

#378 Added two new files according to ENG (default)
  Steam-Translations/Rich Presence/700330_loc_german.vdf
  Translations/de/NewMainMenu.txt
  Translations/de/ReportForm.txt
Labels: de, ingame, steam-richpresence, update

#383 tchinese update
  Steam-Translations/Achievements/700330_loc_tchinese.vdf
  Translations/zh-Hant/Connection_Info.txt
  Translations/zh-Hant/GameHints.txt
  Translations/zh-Hant/LoadingHints.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/ReportForm.txt
Labels: ingame, steam-achievements, zh-Hant

#387 tChinese correction
  Steam-Translations/Rich Presence/700330_loc_tchinese.vdf
Labels: steam-richpresence, zh-Hant

#388 Add missing translations for new menu
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#386 For future SChinese text optimization
  Steam-Translations/Achievements/700330_loc_schinese.vdf
  Translations/zh-Hans/Connection_Errors.txt
  Translations/zh-Hans/Connection_Info.txt
  Translations/zh-Hans/Death_Causes.txt
  Translations/zh-Hans/Facility.txt
  Translations/zh-Hans/GameHints.txt
  Translations/zh-Hans/LoadingHints.txt
  Translations/zh-Hans/MainMenu.txt
  Translations/zh-Hans/NewInventory.txt
  Translations/zh-Hans/NewMainMenu.txt
  Translations/zh-Hans/ReportForm.txt
  Translations/zh-Hans/WeaponManager.txt
Labels: ingame, steam-achievements, zh-Hans

#390 tChinese correction
  Translations/zh-Hant/Connection_Errors.txt
  Translations/zh-Hant/Death_Causes.txt
  Translations/zh-Hant/MainMenu.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/ReportForm.txt
Labels: ingame, zh-Hant

#391 Spelling / Grammar
  Translations/de/Abilities.txt
  Translations/de/Class_Bio.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Connection_Errors.txt
  Translations/de/Death_Causes.txt
  Translations/de/Facility.txt
  Translations/de/Legacy_Interfaces.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/NewInventory.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP079.txt
  Translations/de/Summary.txt
Labels: de, ingame, text-change

#384 MajorFox - Patch of French folder
  Translations/fr/Connection_Info.txt
  Translations/fr/Facility.txt
  Translations/fr/GameHints.txt
  Translations/fr/LoadingHints.txt
  Translations/fr/MainMenu.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/ReportForm.txt
  Translations/fr/Summary.txt
Labels: fr, ingame, update

#396 Update ReportForm.txt
  Translations/English (default)/ReportForm.txt
Labels: en, ingame

#400 Update ReportForm.txt
  Translations/fr/ReportForm.txt
Labels: fr, ingame, update

#401 Update LoadingHints.txt
  Translations/fr/LoadingHints.txt
Labels: fr, ingame, update

#408 Update NewMainMenu.txt
  Translations/fr/NewMainMenu.txt
Labels: fr, ingame

#398 WIP: Badges translation
  Translations/English (default)/Badges.txt
  Translations/English (default)/Legacy_Interfaces.txt
Labels: en, ingame

#412 Better translation
  Translations/de/Badges.txt
  Translations/de/Legacy_Interfaces.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame, text-change

#423 Add welcome text
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame
