Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-01, with the labels that each got.

#703 Added Doors.txt & Delete Door.txt
  Translations/English (default)/Door.txt
  Translations/English (default)/Doors.txt
Labels: en, ingame, update

#704 Zh_Delete Door.txt & added Doors.txt
  Translations/zh/Doors.txt
Labels: ingame, update, zh

#707 [Hungarian] Added Doors.txt & Deleted Door.txt
  Translations/hu/Door.txt
  Translations/hu/Doors.txt
Labels: hu, ingame
