Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-02, with the labels that each got.

#607 Add Vietnamese language
  Translations/vi/Abilities.txt
  Translations/vi/Badges.txt
  Translations/vi/Class_Bio.txt
  Translations/vi/Class_Descriptions.txt
  Translations/vi/Class_Names.txt
  Translations/vi/Class_Nicknames.txt
  Translations/vi/Connection_Errors.txt
  Translations/vi/Connection_Info.txt
  Translations/vi/Death_Causes.txt
  Translations/vi/Facility.txt
  Translations/vi/Game_Hints.txt
  Translations/vi/Legacy_Interfaces.txt
  Translations/vi/LoadingHints.txt
  Translations/vi/MainMenu.txt
  Translations/vi/MenuWarnings.txt
  Translations/vi/NewInventory.txt
  Translations/vi/NewMainMenu.txt
  Translations/vi/ReportForm.txt
  Translations/vi/SCP079.txt
  Translations/vi/SCP_Interfaces.txt
  Translations/vi/Summary.txt
  Translations/vi/Version_7-0-0.txt
  Translations/vi/WeaponManager.txt
Labels: ingame

#706 Update and rename Door.txt to Doors.txt
  Translations/fr/Door.txt
  Translations/fr/Doors.txt
Labels: fr, ingame

#608 Added new lınes and adjusted several lınes.
  Steam-Translations/Achievements/700330_loc_turkish.vdf
  Translations/tr/Badges.txt
  Translations/tr/Class_Nicknames.txt
  Translations/tr/DecontaminationDisplays.txt
  Translations/tr/Facility.txt
  Translations/tr/HID_Sign.txt
  Translations/tr/Intercom.txt
  Translations/tr/Intercom_Door_Sign.txt
  Translations/tr/Keybinds.txt
  Translations/tr/MenuWarnings.txt
  Translations/tr/NewMainMenu.txt
  Translations/tr/Nuke.txt
  Translations/tr/Nuke_Silo_Sign.txt
  Translations/tr/WeaponMods.txt
  Translations/tr/Workstations.txt
Labels: ingame, steam-achievements, tr

#708 [Italian] Added: HID_Sign, Intercom.txt, Nuke and updated NewMainMenu
  Translations/it/Abilities.txt
  Translations/it/Badges.txt
  Translations/it/Connection_Errors.txt
  Translations/it/DecontaminationDisplays.txt
  Translations/it/Doors.txt
  Translations/it/Facility.txt
  Translations/it/HID_Sign.txt
  Translations/it/Intercom.txt
  Translations/it/Intercom_Door_Sign.txt
  Translations/it/Keybinds.txt
  Translations/it/NewMainMenu.txt
  Translations/it/Nuke.txt
  Translations/it/Nuke_Silo_Sign.txt
  Translations/it/WeaponMods.txt
  Translations/it/Workstations.txt
Labels: ingame, it

#646 Disambiguation, Ease of Reading and Misspelling
  Translations/credits.txt
  Translations/pt-BR/Abilities.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Connection_Errors.txt
  Translations/pt-BR/Connection_Info.txt
  Translations/pt-BR/Death_Causes.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/GameHints.txt
  Translations/pt-BR/HID_Sign.txt
  Translations/pt-BR/Intercom.txt
  Translations/pt-BR/Intercom_Door_Sign.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/NewInventory.txt
  Translations/pt-BR/Nuke_Silo_Sign.txt
  Translations/pt-BR/ReportForm.txt
  Translations/pt-BR/SCP079.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Version_7-0-0.txt
  Translations/pt-BR/WeaponManager.txt
Labels: credits, ingame, pt-BR

#659 Added more sense to some Russian translations
  Translations/ru/HID_Sign.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/Nuke_Silo_Sign.txt
Labels: ingame, ru

#711 Revision on Thai translation.
  Translations/th/Abilities.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Connection_Info.txt
  Translations/th/Death_Causes.txt
  Translations/th/DecontaminationDisplays.txt
  Translations/th/Door.txt
  Translations/th/Doors.txt
  Translations/th/Facility.txt
  Translations/th/GameHints.txt
  Translations/th/HID_Sign.txt
  Translations/th/Intercom.txt
  Translations/th/Intercom_Door_Sign.txt
  Translations/th/InventoryErrors.txt
  Translations/th/Keybinds.txt
  Translations/th/Legacy_Interfaces.txt
  Translations/th/LoadingHints.txt
  Translations/th/MainMenu.txt
  Translations/th/NewInventory.txt
  Translations/th/NewMainMenu.txt
  Translations/th/Nuke.txt
  Translations/th/ReportForm.txt
  Translations/th/SCP079.txt
  Translations/th/Summary.txt
  Translations/th/WeaponManager.txt
  Translations/th/Workstations.txt
Labels: ingame, th

#714 Updated Doors translation
  Translations/ru/Door.txt
  Translations/ru/Doors.txt
  Translations/ru/HID_Sign.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/Nuke_Silo_Sign.txt
Labels: ingame, ru

#713 Update credits.txt
  Translations/credits.txt
Labels: credits

#663 Update and Add for Japanese
  Translations/credits.txt
  Translations/ja/Badges.txt
  Translations/ja/Connection_Errors.txt
  Translations/ja/DecontaminationDisplays.txt
  Translations/ja/Facility.txt
  Translations/ja/HID_Sign.txt
  Translations/ja/Intercom.txt
  Translations/ja/Intercom_Door_Sign.txt
  Translations/ja/Keybinds.txt
  Translations/ja/NewMainMenu.txt
  Translations/ja/Nuke.txt
  Translations/ja/Nuke_Silo_Sign.txt
  Translations/ja/WeaponMods.txt
  Translations/ja/Workstations.txt
Labels: credits, ingame, ja

#698 German Update, Fix of HEX Codes and Workstation.
  Translations/de/Class_Descriptions.txt
  Translations/de/Door.txt
  Translations/de/NewMainMenu.txt
  Translations/de/Workstations.txt
Labels: de, ingame

#721 Add new translation for ingame change to credits
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#724 Non-Translation Change for manifest.json
  Translations/ja/manifest.json
  Translations/ko/manifest.json
  Translations/zh-Hant/manifest.json
  Translations/zh/manifest.json
Labels: ingame, ja, ko, zh-Hant
