Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-03, with the labels that each got.

#729 Smol Finnish Mirror Update
  Translations/fi/Class_Bio.txt
  Translations/fi/Class_Descriptions.txt
  Translations/fi/Door.txt
  Translations/fi/Doors.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/Nuke.txt
  Translations/fi/Workstations.txt
Labels: fi, ingame

#728 Update for consistency in classes name.
  Steam-Translations/Achievements/700330_loc_thai.vdf
  Steam-Translations/Rich Presence/700330_loc_thai.vdf
  Translations/th/Class_Names.txt
  Translations/th/Facility.txt
  Translations/th/NewMainMenu.txt
Labels: ingame, steam-achievements, steam-richpresence, th

#733 SChinese optimization
  Steam-Translations/Achievements/700330_loc_schinese.vdf
  Translations/zh/Death_Causes.txt
  Translations/zh/Door.txt
  Translations/zh/LoadingHints.txt
Labels: ingame, steam-achievements, text-change, zh, zh-Hans
