Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-09, with the labels that each got.

#875 Update and add translations related to attachments
  Translations/English (default)/AttachmentDescriptiveAdvantages.txt
  Translations/English (default)/AttachmentDescriptiveDownsides.txt
  Translations/English (default)/AttachmentEditors.txt
  Translations/English (default)/AttachmentParameters.txt
Labels: update, en, ingame

#878 Update for next build
  Translations/fr/Items.txt
Labels: fr, ingame

#795 [RU] Translation update for Patreon Beta v.11.0
  Translations/ru/Abilities.txt
  Translations/ru/AttachmentNames.txt
  Translations/ru/AttachmentParameters.txt
  Translations/ru/Badges.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Names.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/DecontaminationDisplays.txt
  Translations/ru/Facility.txt
  Translations/ru/InventoryGUI.txt
  Translations/ru/Items.txt
  Translations/ru/Keybinds.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/SCP079.txt
  Translations/ru/Voicechat.txt
Labels: ru, ingame

#879 New update (New files)
  Translations/fr/AttachmentDescriptiveAdvantages.txt
  Translations/fr/AttachmentDescriptiveDownsides.txt
  Translations/fr/AttachmentEditors.txt
  Translations/fr/AttachmentParameters.txt
Labels: fr, ingame

#880 New files update (v1)
  Translations/fr/AttachmentDescriptiveAdvantages.txt
  Translations/fr/AttachmentEditors.txt
Labels: fr, ingame

#853 11.0 PL Translations Update
  Translations/pl/AttachmentDescriptiveAdvantages.txt
  Translations/pl/AttachmentDescriptiveDownsides.txt
  Translations/pl/AttachmentEditors.txt
  Translations/pl/AttachmentParameters.txt
  Translations/pl/Badges.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/HID_Sign.txt
  Translations/pl/InventoryGUI.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/Voicechat.txt
Labels: pl, ingame

#877 SChinese Attachments
  Translations/zh/AttachmentDescriptiveAdvantages.txt
  Translations/zh/AttachmentDescriptiveDownsides.txt
  Translations/zh/AttachmentEditors.txt
  Translations/zh/AttachmentParameters.txt
Labels: update, zh-Hans, ingame

#886 CHS FIX
  Translations/zh/AttachmentEditors.txt
  Translations/zh/Items.txt
Labels: text-change, ingame, zh

#885 Japanese updates for new attachment translations
  Translations/ja/AttachmentDescriptiveAdvantages.txt
  Translations/ja/AttachmentDescriptiveDownsides.txt
  Translations/ja/AttachmentEditors.txt
  Translations/ja/AttachmentNames.txt
  Translations/ja/AttachmentParameters.txt
  Translations/ja/Connection_Errors.txt
  Translations/ja/Items.txt
  Translations/ja/Voicechat.txt
Labels: ja, ingame

#855 [pt-BR] Just my perfectionism bothering me (11.0 Parabellum Public Beta)
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Names.txt
Labels: pt-BR, ingame

#859 [CS] Update and polish the translations
  Steam-Translations/Rich Presence/700330_loc_czech.vdf
  Translations/credits.txt
  Translations/cs/Abilities.txt
  Translations/cs/AttachmentParameters.txt
  Translations/cs/Badges.txt
  Translations/cs/Categories.txt
  Translations/cs/Class_Bio.txt
  Translations/cs/Class_Names.txt
  Translations/cs/Class_Nicknames.txt
  Translations/cs/Connection_Errors.txt
  Translations/cs/Death_Causes.txt
  Translations/cs/DecontaminationDisplays.txt
  Translations/cs/Facility.txt
  Translations/cs/GameHints.txt
  Translations/cs/InventoryGUI.txt
  Translations/cs/Items.txt
  Translations/cs/MainMenu.txt
  Translations/cs/MenuWarnings.txt
  Translations/cs/NewMainMenu.txt
  Translations/cs/Summary.txt
  Translations/cs/manifest.json
Labels: cs, credits, steam-richpresence, ingame

#882 [TH] Files update and fixes
  Translations/th/AttachmentDescriptiveAdvantages.txt
  Translations/th/AttachmentDescriptiveDownsides.txt
  Translations/th/AttachmentEditors.txt
  Translations/th/AttachmentParameters.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Voicechat.txt
Labels: th, ingame

#889 Ko | Patch
  Translations/ko/Abilities.txt
  Translations/ko/AttachmentDescriptiveAdvantages.txt
  Translations/ko/AttachmentDescriptiveDownsides.txt
  Translations/ko/AttachmentEditors.txt
  Translations/ko/AttachmentParameters.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Facility.txt
  Translations/ko/GameHints.txt
  Translations/ko/InventoryGUI.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/SCP079.txt
  Translations/ko/Voicechat.txt
Labels: ko, ingame

#887 Update AttachmentEditors.txt
  Translations/fr/AttachmentEditors.txt
Labels: fr, ingame

#890 [ES] Spanish attachements update
  Translations/es/AttachmentDescriptiveAdvantages.txt
  Translations/es/AttachmentDescriptiveDownsides.txt
  Translations/es/AttachmentEditors.txt
  Translations/es/AttachmentParameters.txt
  Translations/es/Voicechat.txt
Labels: es, ingame

#892 Updated translations for minor attachment editor changes
  Translations/English (default)/AttachmentEditors.txt
  Translations/de/AttachmentEditors.txt
  Translations/es/AttachmentEditors.txt
  Translations/fr/AttachmentEditors.txt
  Translations/ja/AttachmentEditors.txt
  Translations/ko/AttachmentEditors.txt
  Translations/pl/AttachmentEditors.txt
  Translations/th/AttachmentEditors.txt
  Translations/zh/AttachmentEditors.txt
Labels: en, de, es, fr, ja, ko, pl, th, ingame

#881 [TR] New files update.
  Translations/tr/AttachmentDescriptiveAdvantages.txt
  Translations/tr/AttachmentDescriptiveDownsides.txt
  Translations/tr/AttachmentEditors.txt
  Translations/tr/AttachmentParameters.txt
  Translations/tr/Connection_Errors.txt
  Translations/tr/Voicechat.txt
Labels: tr, ingame

#891 Update Abilities.txt
  Translations/English (default)/Abilities.txt
Labels: en, ingame

#893 [EN] Changes and New File
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
  Translations/English (default)/Class_Names.txt
  Translations/English (default)/Class_Nicknames.txt
  Translations/English (default)/Connection_Errors.txt
  Translations/English (default)/Disarming.txt
  Translations/English (default)/Voicechat.txt
Labels: en, ingame

#900 LoadingHints.txt update
  Translations/English (default)/LoadingHints.txt
  Translations/ca/LoadingHints.txt
  Translations/cs/LoadingHints.txt
  Translations/da/LoadingHints.txt
  Translations/de-AT/LoadingHints.txt
  Translations/de/LoadingHints.txt
  Translations/es/LoadingHints.txt
  Translations/fi/LoadingHints.txt
  Translations/fr-CA/LoadingHints.txt
  Translations/fr/LoadingHints.txt
  Translations/hu/LoadingHints.txt
  Translations/it/LoadingHints.txt
  Translations/ja/LoadingHints.txt
  Translations/ko/LoadingHints.txt
  Translations/nb/LoadingHints.txt
  Translations/nl/LoadingHints.txt
  Translations/pl/LoadingHints.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/ru/LoadingHints.txt
  Translations/th/LoadingHints.txt
  Translations/tr/LoadingHints.txt
  Translations/uk/LoadingHints.txt
  Translations/vi/LoadingHints.txt
  Translations/zh-Hant/LoadingHints.txt
  Translations/zh/LoadingHints.txt
Labels: en, cs, da, de, es, fi, fr, hu, it, ja, ko, nb, nl, pl, pt-BR, ru, th, tr, uk, zh-Hant, ca, fr-CA, ingame
