Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-12, with the labels that each got.

#927 [TH] DeathReasons, SCP330, and items.
  Translations/th/DeathReasons.txt
  Translations/th/Items.txt
  Translations/th/SCP330.txt
Labels: th, ingame

#933 Chinese translation update
  Translations/zh/Items.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/SCP330.txt
Labels: ingame, zh

#936 [FR] Updated to 11.1 version of the game
  Translations/credits.txt
  Translations/fr/Abilities.txt
  Translations/fr/AttachmentEditors.txt
  Translations/fr/AttachmentParameters.txt
  Translations/fr/Class_Bio.txt
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Class_Names.txt
  Translations/fr/Class_Nicknames.txt
  Translations/fr/Connection_Errors.txt
  Translations/fr/DeathReasons.txt
  Translations/fr/Death_Causes.txt
  Translations/fr/Disarming.txt
  Translations/fr/InventoryErrors.txt
  Translations/fr/Items.txt
  Translations/fr/Keybinds.txt
  Translations/fr/LoadingHints.txt
  Translations/fr/SCP330.txt
Labels: fr, credits, ingame

#937 Update
  Translations/fr/LoadingHints.txt
Labels: fr, ingame

#934 Subtitles
  Translations/English (default)/MainMenu.txt
  Translations/English (default)/NewMainMenu.txt
  Translations/English (default)/Subtitles.txt
Labels: new-translation, en, ingame

#935 Subtitles_zh
  Translations/zh/MainMenu.txt
  Translations/zh/NewMainMenu.txt
  Translations/zh/Subtitles.txt
Labels: new-translation, zh-Hans, ingame, zh

#939 Update SChinese translations for SCP-244
  Translations/zh/DeathReasons.txt
  Translations/zh/Items.txt
  Translations/zh/MenuWarnings.txt
Labels: content-change, ingame, zh

#938 Update English translations for SCP-244
  Translations/English (default)/DeathReasons.txt
  Translations/English (default)/Items.txt
Labels: content-change, en, ingame

#922 Changed consistency with tech support
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#931 Minor consistency changes
  Translations/cs/Badges.txt
  Translations/cs/Categories.txt
  Translations/cs/Class_Names.txt
  Translations/cs/Intercom_Door_Sign.txt
  Translations/cs/Items.txt
  Translations/cs/Nuke.txt
  Translations/cs/manifest.json
Labels: cs, ingame

#932 Correction of some of the Spanish Translations
  Translations/es/AttachmentEditors.txt
  Translations/es/AttachmentNames.txt
  Translations/es/Categories.txt
  Translations/es/Class_Bio.txt
  Translations/es/Connection_Errors.txt
  Translations/es/SCP079.txt
Labels: es, ingame

#863 Parabellum Italian translation rework
  Translations/it/AttachmentNames.txt
  Translations/it/AttachmentParameters.txt
  Translations/it/Categories.txt
  Translations/it/Connection_Info.txt
  Translations/it/DecontaminationDisplays.txt
  Translations/it/Facility.txt
  Translations/it/InventoryGUI.txt
  Translations/it/Items.txt
  Translations/it/Keybinds.txt
  Translations/it/MenuWarnings.txt
  Translations/it/NewMainMenu.txt
Labels: it, ingame

#884 Italian Translation, updated files for 11.1.0
  Translations/it/AttachmentDescriptiveAdvantages.txt
  Translations/it/AttachmentDescriptiveDownsides.txt
  Translations/it/AttachmentEditors.txt
  Translations/it/AttachmentNames.txt
  Translations/it/AttachmentParameters.txt
  Translations/it/Badges.txt
  Translations/it/Categories.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Class_Names.txt
  Translations/it/Class_Nicknames.txt
  Translations/it/Connection_Errors.txt
  Translations/it/Connection_Info.txt
  Translations/it/DeathReasons.txt
  Translations/it/DecontaminationDisplays.txt
  Translations/it/Disarming.txt
  Translations/it/Doors.txt
  Translations/it/Facility.txt
  Translations/it/HID_Sign.txt
  Translations/it/Intercom.txt
  Translations/it/Intercom_Door_Sign.txt
  Translations/it/InventoryErrors.txt
  Translations/it/InventoryGUI.txt
  Translations/it/Items.txt
  Translations/it/Keybinds.txt
  Translations/it/LoadingHints.txt
  Translations/it/MenuWarnings.txt
  Translations/it/NewMainMenu.txt
  Translations/it/Nuke.txt
  Translations/it/Nuke_Silo_Sign.txt
  Translations/it/SCP330.txt
  Translations/it/Version_7-0-0.txt
  Translations/it/Voicechat.txt
  Translations/it/manifest.json
Labels: it, ingame

#918 SCP:SL KOR
  Steam-Translations/Achievements/700330_loc_korean.vdf
  Steam-Translations/Rich Presence/700330_loc_koreana.vdf
  Translations/ko/Abilities.txt
  Translations/ko/AttachmentDescriptiveAdvantages.txt
  Translations/ko/AttachmentDescriptiveDownsides.txt
  Translations/ko/AttachmentEditors.txt
  Translations/ko/AttachmentNames.txt
  Translations/ko/AttachmentParameters.txt
  Translations/ko/Badges.txt
  Translations/ko/Categories.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Class_Nicknames.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Connection_Info.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/DecontaminationDisplays.txt
  Translations/ko/Disarming.txt
  Translations/ko/Doors.txt
  Translations/ko/Facility.txt
  Translations/ko/GameHints.txt
  Translations/ko/HID_Sign.txt
  Translations/ko/Intercom.txt
  Translations/ko/Intercom_Door_Sign.txt
  Translations/ko/InventoryGUI.txt
  Translations/ko/Items.txt
  Translations/ko/Keybinds.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/MainMenu.txt
  Translations/ko/MenuWarnings.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/Nuke.txt
  Translations/ko/Nuke_Silo_Sign.txt
  Translations/ko/ReportForm.txt
  Translations/ko/SCP079.txt
  Translations/ko/SCP330.txt
  Translations/ko/SCP_Interfaces.txt
  Translations/ko/Summary.txt
  Translations/ko/TemporaryHalloweenOverride.txt
  Translations/ko/Version_7-0-0.txt
  Translations/ko/Voicechat.txt
  Translations/ko/manifest.json
Labels: ko, steam-achievements, steam-richpresence, ingame

#899 added Romanian language to SCP:SL
  Steam-Translations/Achievements/700330_loc_romanian.vdf
  Steam-Translations/Rich Presence/700330_loc_romanian.vdf
  Translations/ro/Abilities.txt
  Translations/ro/AttachmentDescriptiveAdvantages.txt
  Translations/ro/AttachmentDescriptiveDownsides.txt
  Translations/ro/AttachmentEditors.txt
  Translations/ro/AttachmentNames.txt
  Translations/ro/AttachmentParameters.txt
  Translations/ro/Badges.txt
  Translations/ro/Categories.txt
  Translations/ro/Class_Bio.txt
  Translations/ro/Class_Descriptions.txt
  Translations/ro/Class_Names.txt
  Translations/ro/Class_Nicknames.txt
  Translations/ro/Connection_Errors.txt
  Translations/ro/Connection_Info.txt
  Translations/ro/DeathReasons.txt
  Translations/ro/Death_Causes.txt
  Translations/ro/DecontaminationDisplays.txt
  Translations/ro/Disarming.txt
  Translations/ro/Doors.txt
  Translations/ro/Facility.txt
  Translations/ro/GameHints.txt
  Translations/ro/HID_Sign.txt
  Translations/ro/Intercom.txt
  Translations/ro/Intercom_Door_Sign.txt
  Translations/ro/InventoryGUI.txt
  Translations/ro/Items.txt
  Translations/ro/Keybinds.txt
  Translations/ro/Legacy_Interfaces.txt
  Translations/ro/LoadingHints.txt
  Translations/ro/MainMenu.txt
  Translations/ro/MenuWarnings.txt
  Translations/ro/NewMainMenu.txt
  Translations/ro/Nuke.txt
  Translations/ro/Nuke_Silo_Sign.txt
  Translations/ro/ReportForm.txt
  Translations/ro/SCP079.txt
  Translations/ro/SCP330.txt
  Translations/ro/SCP_Interfaces.txt
  Translations/ro/Summary.txt
  Translations/ro/Version_7-0-0.txt
  Translations/ro/Voicechat.txt
  Translations/ro/manifest.json
Labels: steam-achievements, steam-richpresence, ingame
