Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-07, with the labels that each got.

#761 fixed TC text
  Translations/zh-Hant/NewMainMenu.txt
Labels: ingame, zh-Hant

#710 Czech translation
  Steam-Translations/Achievements/700330_loc_czech.vdf
  Steam-Translations/Rich Presence/700330_loc_czech.vdf
  Translations/credits.txt
  Translations/cs/Abilities.txt
  Translations/cs/Badges.txt
  Translations/cs/Class_Bio.txt
  Translations/cs/Class_Descriptions.txt
  Translations/cs/Class_Names.txt
  Translations/cs/Class_Nicknames.txt
  Translations/cs/Connection_Errors.txt
  Translations/cs/Connection_Info.txt
  Translations/cs/Death_Causes.txt
  Translations/cs/DecontaminationDisplays.txt
  Translations/cs/Doors.txt
  Translations/cs/Facility.txt
  Translations/cs/GameHints.txt
  Translations/cs/HID_Sign.txt
  Translations/cs/Intercom.txt
  Translations/cs/Intercom_Door_Sign.txt
  Translations/cs/Keybinds.txt
  Translations/cs/Legacy_Interfaces.txt
  Translations/cs/LoadingHints.txt
  Translations/cs/MainMenu.txt
  Translations/cs/MenuWarnings.txt
  Translations/cs/NewInventory.txt
  Translations/cs/NewMainMenu.txt
  Translations/cs/Nuke.txt
  Translations/cs/Nuke_Silo_Sign.txt
  Translations/cs/ReportForm.txt
  Translations/cs/SCP079.txt
  Translations/cs/SCP_Interfaces.txt
  Translations/cs/WeaponMods.txt
  Translations/cs/Workstations.txt
  Translations/cs/manifest.json
Labels: credits, cs, ingame, steam-achievements, steam-richpresence

#741 Spanish translations improvements & new translations
  Translations/es/Abilities.txt
  Translations/es/Badges.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/Connection_Errors.txt
  Translations/es/Connection_Info.txt
  Translations/es/Death_Causes.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/Doors.txt
  Translations/es/Facility.txt
  Translations/es/GameHints.txt
  Translations/es/HID_Sign.txt
  Translations/es/Intercom.txt
  Translations/es/Intercom_Door_Sign.txt
  Translations/es/Keybinds.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/MenuWarnings.txt
  Translations/es/NewInventory.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke.txt
  Translations/es/Nuke_Silo_Sign.txt
  Translations/es/ReportForm.txt
  Translations/es/SCP079.txt
  Translations/es/SCP_Interfaces.txt
  Translations/es/Summary.txt
  Translations/es/Version_7-0-0.txt
  Translations/es/WeaponManager.txt
  Translations/es/WeaponMods.txt
  Translations/es/Workstations.txt
Labels: es, ingame

#760 [RU] Updated localization
  Translations/ru/Badges.txt
  Translations/ru/DecontaminationDisplays.txt
  Translations/ru/Doors.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

#762 Thai: Badges update
  Translations/th/Badges.txt
Labels: ingame, th

#763 Text Retouch
  Translations/zh/LoadingHints.txt
  Translations/zh/MainMenu.txt
Labels: ingame, text-change, zh

#764 [Update 11.0] Deletion of unused files and creation of new ones.
  Translations/English (default)/Categories.txt
  Translations/English (default)/InventoryGUI.txt
  Translations/English (default)/Items.txt
  Translations/English (default)/NewInventory.txt
  Translations/English (default)/WeaponManager.txt
  Translations/English (default)/WeaponMods.txt
  Translations/English (default)/Workstations.txt
Labels: en, ingame

#765 Class names changes and additions!
  Translations/English (default)/Class_Names.txt
Labels: en, ingame, update

#757 [PL] Small changes and fixes
  Translations/pl/Abilities.txt
  Translations/pl/Badges.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/DecontaminationDisplays.txt
  Translations/pl/Facility.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/WeaponMods.txt
  Translations/pl/Workstations.txt
Labels: ingame, pl

#768 Update German - For 11.0
  Translations/de/Categories.txt
  Translations/de/Class_Names.txt
  Translations/de/InventoryGUI.txt
  Translations/de/Items.txt
  Translations/de/NewInventory.txt
  Translations/de/WeaponManager.txt
  Translations/de/WeaponMods.txt
  Translations/de/Workstations.txt
Labels: de, ingame

#769 Uptate Italian Language for 11.0
  Translations/it/Categories.txt
  Translations/it/Class_Names.txt
  Translations/it/InventoryGUI.txt
  Translations/it/Items.txt
  Translations/it/NewInventory.txt
  Translations/it/WeaponManager.txt
  Translations/it/WeaponMods.txt
  Translations/it/Workstations.txt
Labels: ingame, it

#770 Finnish for 11.0
  Translations/fi/Badges.txt
  Translations/fi/Categories.txt
  Translations/fi/Class_Names.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/GameHints.txt
  Translations/fi/InventoryGUI.txt
  Translations/fi/Items.txt
  Translations/fi/Legacy_Interfaces.txt
  Translations/fi/MenuWarnings.txt
  Translations/fi/NewInventory.txt
  Translations/fi/Nuke_Silo_Sign.txt
  Translations/fi/Summary.txt
  Translations/fi/WeaponManager.txt
  Translations/fi/WeaponMods.txt
  Translations/fi/Workstations.txt
Labels: fi, ingame

#774 [EN] Small classname changes
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
Labels: en, ingame

#776 11.0 update - SChinese.txt
  Translations/zh/Badges.txt
  Translations/zh/Categories.txt
  Translations/zh/Class_Bio.txt
  Translations/zh/Class_Names.txt
  Translations/zh/InventoryGUI.txt
  Translations/zh/Items.txt
  Translations/zh/NewInventory.txt
Labels: ingame, update, zh, zh-Hans

#775 PL | Updating to 11.0
  Translations/pl/Categories.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/Class_Names.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/InventoryGUI.txt
  Translations/pl/Items.txt
  Translations/pl/NewInventory.txt
  Translations/pl/WeaponManager.txt
  Translations/pl/WeaponMods.txt
  Translations/pl/Workstations.txt
Labels: ingame, pl

#782 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#786 Add new option
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame

#787 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#785 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#783 fix grammar translate
  Steam-Translations/Achievements/700330_loc_czech.vdf
Labels: cs, steam-achievements

#790 Add new badge, option and fix some errors for new update, 11.0
  Steam-Translations/Rich Presence/700330_loc_italian.vdf
  Translations/it/Badges.txt
  Translations/it/Categories.txt
  Translations/it/NewMainMenu.txt
Labels: ingame, it, steam-richpresence

#791 New Scp173 ability descriptions
  Translations/English (default)/Abilities.txt
Labels: en, ingame, new-translation, update

#792 New settings translations
  Translations/English (default)/NewMainMenu.txt
Labels: en, ingame, new-translation

#789 Fixed spanish misspelling
  Translations/es/LoadingHints.txt
Labels: es, ingame

#780 [TR] Translation update for version 11.0
  Translations/tr/Badges.txt
  Translations/tr/Categories.txt
  Translations/tr/Class_Bio.txt
  Translations/tr/Class_Descriptions.txt
  Translations/tr/Class_Names.txt
  Translations/tr/Connection_Errors.txt
  Translations/tr/Intercom_Door_Sign.txt
  Translations/tr/InventoryErrors.txt
  Translations/tr/InventoryGUI.txt
  Translations/tr/Items.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#777 [RU] Translation update for version 11.0
  Translations/ru/Categories.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Names.txt
  Translations/ru/GameHints.txt
  Translations/ru/InventoryGUI.txt
  Translations/ru/Items.txt
  Translations/ru/NewInventory.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/WeaponManager.txt
  Translations/ru/WeaponMods.txt
  Translations/ru/Workstations.txt
Labels: ingame, ru

#788 SCHS little update
  Translations/zh/Badges.txt
  Translations/zh/NewMainMenu.txt
Labels: ingame, update, zh-Hans

#793 New bio/description for 173 rework
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
Labels: en, ingame

#799 Update credits.txt
  Translations/credits.txt
Labels: credits

#808 11.0 SChinese
  Translations/credits.txt
  Translations/zh/Abilities.txt
  Translations/zh/AttachmentNames.txt
  Translations/zh/AttachmentParameters.txt
  Translations/zh/Badges.txt
  Translations/zh/Class_Bio.txt
  Translations/zh/Class_Descriptions.txt
  Translations/zh/InventoryGUI.txt
  Translations/zh/NewMainMenu.txt
  Translations/zh/WeaponManager.txt
  Translations/zh/WeaponMods.txt
  Translations/zh/Workstations.txt
Labels: credits, ingame, update, zh, zh-Hans

#810 Complete German Update for 11.0
  Translations/de/Abilities.txt
  Translations/de/AttachmentNames.txt
  Translations/de/AttachmentParameters.txt
  Translations/de/Badges.txt
  Translations/de/Class_Bio.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/InventoryGUI.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#781 [FR Update 11.0] Deletion of unused files and creation of new ones.
  Translations/fr/Abilities.txt
  Translations/fr/AttachmentNames.txt
  Translations/fr/AttachmentParameters.txt
  Translations/fr/Badges.txt
  Translations/fr/Categories.txt
  Translations/fr/Class_Bio.txt
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Class_Names.txt
  Translations/fr/Connection_Errors.txt
  Translations/fr/DecontaminationDisplays.txt
  Translations/fr/Doors.txt
  Translations/fr/InventoryGUI.txt
  Translations/fr/Items.txt
  Translations/fr/NewInventory.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/Version_7-0-0.txt
  Translations/fr/WeaponManager.txt
  Translations/fr/WeaponMods.txt
  Translations/fr/Workstations.txt
Labels: fr, ingame

#813 Added new disconnection reason
  Translations/English (default)/Connection_Errors.txt
Labels: en, ingame

#802 [ES] Spanish Update for the next update
  Translations/es/Abilities.txt
  Translations/es/AttachmentNames.txt
  Translations/es/AttachmentParameters.txt
  Translations/es/Badges.txt
  Translations/es/Categories.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/InventoryErrors.txt
  Translations/es/InventoryGUI.txt
  Translations/es/Items.txt
  Translations/es/NewInventory.txt
  Translations/es/NewMainMenu.txt
  Translations/es/WeaponManager.txt
  Translations/es/WeaponMods.txt
  Translations/es/Workstations.txt
Labels: es, ingame

#801 [TR] 173 Update and some adjustments.
  Translations/tr/Abilities.txt
  Translations/tr/AttachmentNames.txt
  Translations/tr/AttachmentParameters.txt
  Translations/tr/Badges.txt
  Translations/tr/Class_Bio.txt
  Translations/tr/Class_Descriptions.txt
  Translations/tr/Class_Names.txt
  Translations/tr/InventoryGUI.txt
  Translations/tr/NewMainMenu.txt
Labels: ingame, tr

#804 Ko | TR
  Translations/credits.txt
  Translations/ko/Abilities.txt
  Translations/ko/AttachmentNames.txt
  Translations/ko/AttachmentParameters.txt
  Translations/ko/Badges.txt
  Translations/ko/Categories.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Connection_Errors.txt
  Translations/ko/Door.txt
  Translations/ko/Doors.txt
  Translations/ko/Intercom.txt
  Translations/ko/InventoryGUI.txt
  Translations/ko/Items.txt
  Translations/ko/MainMenu.txt
  Translations/ko/NewInventory.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/Version_7-0-0.txt
  Translations/ko/WeaponManager.txt
  Translations/ko/WeaponMods.txt
  Translations/ko/WorkStations.txt
  Translations/ko/manifest.json
Labels: credits, ingame, ko

#815 Credits.txt | Resolution
  Translations/credits.txt
Labels: credits

#814 [TR] Update Connection_Errors.txt
  Translations/tr/Connection_Errors.txt
Labels: ingame, tr
