Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-11, with the labels that each got.

#914 [TR] Halloween Update.
  Translations/tr/Items.txt
  Translations/tr/SCP330.txt
  Translations/tr/TemporaryHalloweenOverride.txt
Labels: tr, ingame

#917 [TH] Halloween update
  Translations/th/Items.txt
  Translations/th/SCP330.txt
  Translations/th/TemporaryHalloweenOverride.txt
Labels: th, ingame

#924 update death reasons
  Translations/English (default)/DeathReasons.txt
Labels: update, en, ingame

#926 Create DeathReasons.txt
  Translations/zh/DeathReasons.txt
Labels: update, ingame, zh

#929 Update Doors.txt
  Translations/pl/Doors.txt
Labels: pl, ingame

#930 Manifest updates
  TranslationManifestChecker.exe
  Translations/English (default)/manifest.json
  Translations/ca/manifest.json
  Translations/cs/manifest.json
  Translations/da/manifest.json
  Translations/de-AT/manifest.json
  Translations/de/manifest.json
  Translations/es/manifest.json
  Translations/fi/manifest.json
  Translations/fr-CA/manifest.json
  Translations/fr/manifest.json
  Translations/hu/manifest.json
  Translations/it/manifest.json
  Translations/ja/manifest.json
  Translations/ko/manifest.json
  Translations/lv/manifest.json
  Translations/nb/manifest.json
  Translations/nl/manifest.json
  Translations/pl/manifest.json
  Translations/pt-BR/manifest.json
  Translations/pt/manifest.json
  Translations/ru/manifest.json
  Translations/sk/manifest.json
  Translations/th/manifest.json
  Translations/tr/manifest.json
  Translations/uk/manifest.json
  Translations/vi/manifest.json
  Translations/zh-Hant/manifest.json
  Translations/zh/manifest.json
Labels: en, cs, da, de, es, fi, fr, hu, it, ja, ko, lv, nb, nl, pl, pt-BR, pt, ru, sk, th, tr, uk, zh-Hant, ca, fr-CA, ingame
