Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-08, with the labels that each got.

#816 Update japanese for 11.0
  Translations/ja/Abilities.txt
  Translations/ja/AttachmentNames.txt
  Translations/ja/AttachmentParameters.txt
  Translations/ja/Badges.txt
  Translations/ja/Categories.txt
  Translations/ja/Class_Bio.txt
  Translations/ja/Class_Descriptions.txt
  Translations/ja/Class_Names.txt
  Translations/ja/Connection_Errors.txt
  Translations/ja/Doors.txt
  Translations/ja/InventoryGUI.txt
  Translations/ja/Items.txt
  Translations/ja/NewMainMenu.txt
Labels: ingame, ja

#819 Hungarian Parabellum Update
  Translations/hu/Abilities.txt
  Translations/hu/AttachmentNames.txt
  Translations/hu/AttachmentParameters.txt
  Translations/hu/Badges.txt
  Translations/hu/Categories.txt
  Translations/hu/Class_Bio.txt
  Translations/hu/Class_Descriptions.txt
  Translations/hu/Class_Names.txt
  Translations/hu/Connection_Errors.txt
  Translations/hu/InventoryGUI.txt
  Translations/hu/Items.txt
  Translations/hu/NewMainMenu.txt
Labels: hu, ingame

#817 Ko | Minor
  Translations/ko/Connection_Errors.txt
  Translations/ko/Connection_Info.txt
Labels: ingame, ko

#818 [TH] Translations for update 11.0
  Translations/th/Abilities.txt
  Translations/th/AttachmentNames.txt
  Translations/th/AttachmentParameters.txt
  Translations/th/Badges.txt
  Translations/th/Categories.txt
  Translations/th/Class_Bio.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/Class_Nicknames.txt
  Translations/th/Connection_Errors.txt
  Translations/th/Facility.txt
  Translations/th/GameHints.txt
  Translations/th/InventoryGUI.txt
  Translations/th/Items.txt
  Translations/th/LoadingHints.txt
  Translations/th/NewInventory.txt
  Translations/th/NewMainMenu.txt
  Translations/th/WeaponManager.txt
  Translations/th/WeaponMods.txt
  Translations/th/Workstations.txt
Labels: ingame, th

#834 Update Connection_Errors.txt
  Translations/zh/AttachmentNames.txt
  Translations/zh/Connection_Errors.txt
Labels: ingame, zh

#820 [IT] Fixed translation
  Translations/it/Abilities.txt
Labels: it, ingame

#821 [IT] Fixed typos
  Translations/it/Class_Descriptions.txt
Labels: it, ingame

#822 [IT] Fixed typos
  Translations/it/Connection_Errors.txt
Labels: it, ingame

#827 [IT] Fixed typo
  Translations/it/InventoryGUI.txt
Labels: it, ingame

#828 [IT] Fixed typos
  Translations/it/MenuWarnings.txt
Labels: it, ingame

#829 [IT] Fixed typo
  Translations/it/Nuke.txt
Labels: it, ingame

#831 [ITALIAN] Fix some errors and create new file for new update, 11.0
  Translations/it/Abilities.txt
  Translations/it/AttachmentNames.txt
  Translations/it/AttachmentParameters.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Connection_Errors.txt
  Translations/it/Facility.txt
  Translations/it/InventoryGUI.txt
  Translations/it/Items.txt
  Translations/it/MenuWarnings.txt
  Translations/it/NewMainMenu.txt
Labels: it, ingame

#835 a small change
  Translations/zh/AttachmentNames.txt
Labels: text-change, ingame, zh

#811 [no-nb] Fixing Norwegian
  Translations/credits.txt
  Translations/nb/Abilities.txt
  Translations/nb/AttachmentNames.txt
  Translations/nb/AttachmentParameters.txt
  Translations/nb/Badges.txt
  Translations/nb/Categories.txt
  Translations/nb/Class_Bio.txt
  Translations/nb/Class_Nicknames.txt
  Translations/nb/Connection_Info.txt
  Translations/nb/DecontaminationDisplays.txt
  Translations/nb/Doors.txt
  Translations/nb/GameHints.txt
  Translations/nb/HID_Sign.txt
  Translations/nb/Intercom.txt
  Translations/nb/Intercom_Door_Sign.txt
  Translations/nb/InventoryGUI.txt
  Translations/nb/Items.txt
  Translations/nb/Keybinds.txt
  Translations/nb/LoadingHints.txt
  Translations/nb/MenuWarnings.txt
  Translations/nb/NewInventory.txt
  Translations/nb/NewMainMenu.txt
  Translations/nb/Nuke.txt
  Translations/nb/Nuke_Silo_Sign.txt
  Translations/nb/ReportForm.txt
  Translations/nb/SCP_Interfaces.txt
  Translations/nb/WeaponManager.txt
  Translations/nb/manifest.json
Labels: nb, credits, ingame

#837 [ES] Update AttachmentNames.txt
  Translations/es/AttachmentNames.txt
Labels: es, ingame

#836 Update credits.txt
  Translations/credits.txt
Labels: credits

#823 [pt-BR] Translations for Parabellum Beta 11.0 and all files revamp
  Translations/pt-BR/Abilities.txt
  Translations/pt-BR/AttachmentNames.txt
  Translations/pt-BR/AttachmentParameters.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Categories.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Class_Nicknames.txt
  Translations/pt-BR/Connection_Errors.txt
  Translations/pt-BR/Connection_Info.txt
  Translations/pt-BR/Death_Causes.txt
  Translations/pt-BR/DecontaminationDisplays.txt
  Translations/pt-BR/Doors.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/GameHints.txt
  Translations/pt-BR/HID_Sign.txt
  Translations/pt-BR/Intercom.txt
  Translations/pt-BR/Intercom_Door_Sign.txt
  Translations/pt-BR/InventoryGUI.txt
  Translations/pt-BR/Items.txt
  Translations/pt-BR/Keybinds.txt
  Translations/pt-BR/Legacy_Interfaces.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/MenuWarnings.txt
  Translations/pt-BR/NewInventory.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/Nuke.txt
  Translations/pt-BR/Nuke_Silo_Sign.txt
  Translations/pt-BR/ReportForm.txt
  Translations/pt-BR/SCP079.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/WeaponManager.txt
  Translations/pt-BR/manifest.json
Labels: pt-BR, ingame

#824 [lv] Fixed translator errors, better grammar.
  Translations/credits.txt
  Translations/lv/Class_Bio.txt
  Translations/lv/Class_Names.txt
  Translations/lv/Class_Nicknames.txt
  Translations/lv/SCP079.txt
Labels: lv, credits, ingame

#833 correcting and adding Czech words and adding a translation for game version 11
  Steam-Translations/Achievements/700330_loc_czech.vdf
  Steam-Translations/Rich Presence/700330_loc_czech.vdf
  Translations/cs/Abilities.txt
  Translations/cs/AttachmentNames.txt
  Translations/cs/AttachmentParameters.txt
  Translations/cs/Badges.txt
  Translations/cs/Categories.txt
  Translations/cs/Class_Bio.txt
  Translations/cs/Class_Descriptions.txt
  Translations/cs/Class_Names.txt
  Translations/cs/Connection_Errors.txt
  Translations/cs/Death_Causes.txt
  Translations/cs/DecontaminationDisplays.txt
  Translations/cs/GameHints.txt
  Translations/cs/InventoryGUI.txt
  Translations/cs/Items.txt
  Translations/cs/MainMenu.txt
  Translations/cs/NewInventory.txt
  Translations/cs/NewMainMenu.txt
  Translations/cs/SCP079.txt
  Translations/cs/Summary.txt
  Translations/cs/WeaponManager.txt
  Translations/cs/WeaponMods.txt
  Translations/cs/Workstations.txt
Labels: cs, credits, steam-achievements, steam-richpresence, ingame

#838 Create AttachmentNames.txt
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/AttachmentNames.txt
  Translations/zh-Hant/AttachmentParameters.txt
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Categories.txt
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Class_Names.txt
  Translations/zh-Hant/Connection_Errors.txt
  Translations/zh-Hant/Doors.txt
  Translations/zh-Hant/InventoryGUI.txt
  Translations/zh-Hant/Items.txt
  Translations/zh-Hant/NewInventory.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/WeaponManager.txt
  Translations/zh-Hant/WeaponMods.txt
  Translations/zh-Hant/Workstations.txt
  Translations/zh-Hant/manifest.json
Labels: update, zh-Hant, ingame, zh

#840 Update InventoryGUI.txt
  Translations/zh/Abilities.txt
  Translations/zh/AttachmentNames.txt
  Translations/zh/Class_Bio.txt
  Translations/zh/InventoryGUI.txt
  Translations/zh/Items.txt
Labels: text-change, zh-Hans, ingame, zh

#794 [FI] More Finnish for 11.0
  Translations/fi/Abilities.txt
  Translations/fi/AttachmentNames.txt
  Translations/fi/AttachmentParameters.txt
  Translations/fi/Badges.txt
  Translations/fi/Class_Bio.txt
  Translations/fi/Class_Descriptions.txt
  Translations/fi/Connection_Errors.txt
  Translations/fi/InventoryGUI.txt
  Translations/fi/NewMainMenu.txt
  Translations/fi/ReportForm.txt
Labels: fi, ingame

#832 Fixing text in-game
  Translations/fr/Abilities.txt
  Translations/fr/AttachmentNames.txt
  Translations/fr/Class_Bio.txt
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Class_Names.txt
  Translations/fr/Connection_Errors.txt
  Translations/fr/Doors.txt
  Translations/fr/Facility.txt
  Translations/fr/GameHints.txt
  Translations/fr/Keybinds.txt
  Translations/fr/Legacy_Interfaces.txt
  Translations/fr/LoadingHints.txt
  Translations/fr/MainMenu.txt
  Translations/fr/MenuWarnings.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/ReportForm.txt
  Translations/fr/Summary.txt
Labels: fr, ingame

#843 ITA - Fix some error
  Translations/it/Class_Descriptions.txt
  Translations/it/MenuWarnings.txt
  Translations/it/Nuke.txt
Labels: it, ingame

#845 Patch - German
  Translations/de/Abilities.txt
  Translations/de/AttachmentNames.txt
  Translations/de/Keybinds.txt
  Translations/de/NewMainMenu.txt
Labels: de, ingame

#846 SChinese-update-connection_errors
  Translations/zh/Connection_Errors.txt
Labels: zh-Hans, ingame, zh

#841 [FR] Translation added and fixed v0.1
  Translations/fr/AttachmentNames.txt
  Translations/fr/AttachmentParameters.txt
  Translations/fr/Class_Bio.txt
Labels: fr, ingame

#847 Update Abilities.txt
  Translations/fr/Abilities.txt
Labels: fr, ingame

#848 Patch-1
  Translations/fr/DecontaminationDisplays.txt
Labels: fr, ingame

#857 fix tChinese
  Translations/zh-Hant/AttachmentNames.txt
Labels: zh-Hant, ingame

#856 fix sChinese
  Translations/zh/AttachmentNames.txt
Labels: ingame, zh

#862 Bois fixing Norwegian
  Translations/nb/Abilities.txt
  Translations/nb/AttachmentNames.txt
  Translations/nb/AttachmentParameters.txt
  Translations/nb/Badges.txt
  Translations/nb/Categories.txt
  Translations/nb/Class_Bio.txt
  Translations/nb/Class_Descriptions.txt
  Translations/nb/Class_Names.txt
  Translations/nb/Class_Nicknames.txt
  Translations/nb/Connection_Errors.txt
  Translations/nb/Connection_Info.txt
  Translations/nb/Death_Causes.txt
  Translations/nb/DecontaminationDisplays.txt
  Translations/nb/Doors.txt
  Translations/nb/Facility.txt
  Translations/nb/GameHints.txt
  Translations/nb/HID_Sign.txt
  Translations/nb/Intercom.txt
  Translations/nb/Intercom_Door_Sign.txt
  Translations/nb/InventoryGUI.txt
  Translations/nb/Items.txt
  Translations/nb/Keybinds.txt
  Translations/nb/Legacy_Interfaces.txt
  Translations/nb/LoadingHints.txt
  Translations/nb/MainMenu.txt
  Translations/nb/MenuWarnings.txt
  Translations/nb/NewMainMenu.txt
  Translations/nb/Nuke.txt
  Translations/nb/Nuke_Silo_Sign.txt
  Translations/nb/ReportForm.txt
  Translations/nb/SCP079.txt
  Translations/nb/SCP_Interfaces.txt
Labels: nb, ingame

#854 Create Voicechat.txt
  Translations/zh/Voicechat.txt
Labels: ingame, zh

#851 Fixes before 11.0
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Voicechat.txt
Labels: fr, ingame

#871 Update Class_Names.txt
  Translations/zh/Class_Names.txt
Labels: text-change, zh-Hans, ingame, zh

#872 Setting up subtitles + added some settings descriptions
  Translations/English (default)/MainMenu.txt
  Translations/English (default)/NewMainMenu.txt
  Translations/English (default)/Subtitles.txt
Labels: content-change, en, ingame

#873 Revert "Setting up subtitles + added some settings descriptions"
  Translations/English (default)/MainMenu.txt
  Translations/English (default)/NewMainMenu.txt
  Translations/English (default)/Subtitles.txt
Labels: en, ingame

#852 Added voicechat mute statuses
  Translations/English (default)/Voicechat.txt
Labels: en, ingame
