Repository northwood-studios/SCPSL-Translations, pull requests merged in 2021-04, with the labels that each got.

#735 Update MenuWarnings.txt
  Translations/fi/MenuWarnings.txt
Labels: fi, ingame

#737 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#740 Japanese badges
  Translations/ja/Badges.txt
Labels: ingame, ja, update

#739 Update Badges.txt
  Translations/zh-Hant/Badges.txt
Labels: ingame, update, zh-Hant

#738 Update Badges.txt
  Translations/zh/Badges.txt
Labels: ingame, update, zh

#742 Hungarian translation reworked #2
  Translations/hu/Badges.txt
  Translations/hu/Death_Causes.txt
  Translations/hu/Facility.txt
  Translations/hu/Legacy_Interfaces.txt
  Translations/hu/NewInventory.txt
  Translations/hu/Nuke.txt
  Translations/hu/WeaponManager.txt
  Translations/hu/WeaponMods.txt
  Translations/hu/Workstations.txt
Labels: hu, ingame

#736 Yet another Finnish patch.
  Translations/fi/Badges.txt
  Translations/fi/Connection_Info.txt
  Translations/fi/Death_Causes.txt
  Translations/fi/Facility.txt
  Translations/fi/Legacy_Interfaces.txt
  Translations/fi/Nuke_Silo_Sign.txt
  Translations/fi/Summary.txt
  Translations/fi/manifest.json
Labels: fi, ingame

#746 Normalize the English translation
  Translations/English (default)/Badges.txt
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Class_Descriptions.txt
  Translations/English (default)/Workstations.txt
Labels: en, ingame

#720 Fixed some issues within Russian localization.
  Translations/ru/Doors.txt
  Translations/ru/NewMainMenu.txt
Labels: ingame, ru

#719 Create Doors.txt
  Translations/tr/Doors.txt
Labels: ingame, tr

#754 Update 700330_loc_norwegian.vdf
  Steam-Translations/Achievements/700330_loc_norwegian.vdf
Labels: nb, steam-achievements
