Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-04, with the labels that each got.

#1019 PL | 11.2 Summary Update part 2
  Translations/pl/Summary.txt
Labels: pl, ingame

#1014 [DE]: Updated Summary.txt for new lines
  Translations/de/Summary.txt
Labels: de, ingame

#1011 Hungarian update to 11.2
  Steam-Translations/Achievements/700330_loc_hungarian.vdf
  Steam-Translations/Rich Presence/700330_loc_hungarian.vdf
  Translations/hu/Abilities.txt
  Translations/hu/AttachmentDescriptiveAdvantages.txt
  Translations/hu/AttachmentDescriptiveDownsides.txt
  Translations/hu/AttachmentEditors.txt
  Translations/hu/AttachmentNames.txt
  Translations/hu/AttachmentParameters.txt
  Translations/hu/Badges.txt
  Translations/hu/Categories.txt
  Translations/hu/Class_Bio.txt
  Translations/hu/Class_Descriptions.txt
  Translations/hu/Class_Names.txt
  Translations/hu/Class_Nicknames.txt
  Translations/hu/DeathReasons.txt
  Translations/hu/Disarming.txt
  Translations/hu/Facility.txt
  Translations/hu/GameHints.txt
  Translations/hu/InventoryGUI.txt
  Translations/hu/Items.txt
  Translations/hu/Keybinds.txt
  Translations/hu/Legacy_Interfaces.txt
  Translations/hu/LoadingHints.txt
  Translations/hu/MainMenu.txt
  Translations/hu/MenuWarnings.txt
  Translations/hu/NewInventory.txt
  Translations/hu/NewMainMenu.txt
  Translations/hu/Nuke.txt
  Translations/hu/Nuke_Silo_Sign.txt
  Translations/hu/SCP079.txt
  Translations/hu/SCP330.txt
  Translations/hu/Subtitles.txt
  Translations/hu/Summary.txt
  Translations/hu/Voicechat.txt
  Translations/hu/WeaponManager.txt
  Translations/hu/WeaponMods.txt
  Translations/hu/Workstations.txt
  Translations/hu/manifest.json
Labels: hu, steam-achievements, steam-richpresence, ingame, manifest

#1025 [EN]: Update Items.txt
  Translations/English (default)/Items.txt
Labels: en, ingame

#1027 [FR] Updated to version 11.2 of the game (patch n°3)
  Translations/fr/Items.txt
Labels: fr, ingame

#1020 some updates for korean
  Translations/ko/AttachmentDescriptiveAdvantages.txt
  Translations/ko/Badges.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Names.txt
  Translations/ko/Facility.txt
  Translations/ko/Items.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/Subtitles.txt
  Translations/ko/Summary.txt
Labels: ko, ingame

#967 [RU] Updated to 11.1.2
  Translations/ru/AttachmentDescriptiveAdvantages.txt
  Translations/ru/AttachmentDescriptiveDownsides.txt
  Translations/ru/AttachmentEditors.txt
  Translations/ru/AttachmentNames.txt
  Translations/ru/AttachmentParameters.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Descriptions.txt
  Translations/ru/Class_Nicknames.txt
  Translations/ru/DeathReasons.txt
  Translations/ru/Disarming.txt
  Translations/ru/Facility.txt
  Translations/ru/Items.txt
  Translations/ru/Keybinds.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/SCP330.txt
  Translations/ru/Subtitles.txt
  Translations/ru/Summary.txt
  Translations/ru/manifest.json
Labels: ru, ingame, manifest

#1028 [DE]: added Particle Disruptor
  Translations/de/Items.txt
Labels: de, ingame

#989 Italian translation, SteamTranslation and manifest
  Steam-Translations/Achievements/700330_loc_italian.vdf
  Steam-Translations/Rich Presence/700330_loc_italian.vdf
  Translations/it/AttachmentNames.txt
  Translations/it/AttachmentParameters.txt
  Translations/it/Categories.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Class_Names.txt
  Translations/it/Class_Nicknames.txt
  Translations/it/Connection_Errors.txt
  Translations/it/DeathReasons.txt
  Translations/it/Facility.txt
  Translations/it/HID_Sign.txt
  Translations/it/Intercom.txt
  Translations/it/Items.txt
  Translations/it/Legacy_Interfaces.txt
  Translations/it/LoadingHints.txt
  Translations/it/MainMenu.txt
  Translations/it/NewMainMenu.txt
  Translations/it/SCP079.txt
  Translations/it/Subtitles.txt
  Translations/it/Summary.txt
  Translations/it/manifest.json
Labels: it, steam-achievements, steam-richpresence, ingame, manifest

#1022 changed number+item
  Translations/ro/Class_Names.txt
  Translations/ro/Items.txt
Labels: ingame, ro

#1029 zh-text-change
  Translations/zh/LoadingHints.txt
Labels: text-change, ingame, zh
