Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-02, with the labels that each got.

#979 spelling fix
  Translations/de/LoadingHints.txt
Labels: de, ingame

#980 2 small changes
  Translations/de/Subtitles.txt
Labels: de, ingame

#982 Subtitle update
  Translations/de/Subtitles.txt
Labels: de, ingame

#985 Update Class_Names.txt
  Translations/fr/Class_Names.txt
Labels: fr, ingame

#984 Update SCP330.txt
  Translations/fr/SCP330.txt
Labels: fr, ingame

#955 [TH] Subtitles
  Translations/th/DeathReasons.txt
  Translations/th/Items.txt
  Translations/th/MainMenu.txt
  Translations/th/NewMainMenu.txt
  Translations/th/Subtitles.txt
Labels: th, ingame
