Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-11, with the labels that each got.

#1126 [RU] 12.0 Add new translations
  Translations/ru/Class_Names.txt
  Translations/ru/SCP079_HUD.txt
  Translations/ru/Teams.txt
Labels: ru, ingame

#1121 [PT-BR] 12.0 Past BETA Translation Overhaul
  Steam-Translations/Achievements/700330_loc_brazilian.vdf
  Steam-Translations/Rich Presence/700330_loc_brazilian.vdf
  Translations/pt-BR/Abilities.txt
  Translations/pt-BR/AttachmentEditors.txt
  Translations/pt-BR/AttachmentNames.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/SCP049_HUD.txt
  Translations/pt-BR/SCP079_HUD.txt
  Translations/pt-BR/SCP106_HUD.txt
  Translations/pt-BR/SCP939_HUD.txt
  Translations/pt-BR/Subtitles.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Teams.txt
  Translations/pt-BR/Voicechat.txt
Labels: pt-BR, steam-achievements, steam-richpresence, ingame

#1123 [pt-BR] 12.0 Beta 079 Patch Translation Update
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/SCP079_HUD.txt
  Translations/pt-BR/Teams.txt
Labels: pt-BR, ingame

#1201 Romanian update 12.0
  Translations/ro/AttachmentEditors.txt
  Translations/ro/Badges.txt
  Translations/ro/Class_Names.txt
  Translations/ro/Facility.txt
  Translations/ro/SCP049_HUD.txt
  Translations/ro/SCP079_HUD.txt
  Translations/ro/SCP106_HUD.txt
  Translations/ro/SCP939_HUD.txt
  Translations/ro/Teams.txt
  Translations/ro/Voicechat.txt
Labels: ingame, ro

#1124 Upgrated spanish translation to 12.0 "Mimicry" (19 oct. 2022)
  Translations/es/Class_Names.txt
  Translations/es/SCP079_HUD.txt
  Translations/es/Teams.txt
Labels: es, steam-achievements, steam-richpresence, ingame

#1202 Chinese add new translation
  Translations/zh-Hant/Class_Names.txt
  Translations/zh-Hant/SCP079_HUD.txt
  Translations/zh-Hant/Teams.txt
  Translations/zh/Class_Names.txt
  Translations/zh/SCP079_HUD.txt
  Translations/zh/Teams.txt
Labels: zh-Hans, zh-Hant, ingame, zh

#1215 Polish small change
  Translations/pl/Facility.txt
Labels: pl, ingame

#1216 Issue template update
  .github/ISSUE_TEMPLATE/translation-issue.md
  .github/ISSUE_TEMPLATE/translation-issue.yml
Labels: meta

#1218 [EN]: Storepage Translation Addition
  .github/workflows/jsonvalidate
  Steam-Translations/Storepage/storepage_english.json
Labels: meta

#1221 [EN]: Missing translations from the beta, action categories
  Translations/English (default)/ActionCategory.txt
  Translations/English (default)/AttachmentEditors.txt
  Translations/English (default)/DeathReasons.txt
  Translations/English (default)/Intercom.txt
  Translations/English (default)/Keybinds.txt
  Translations/English (default)/NewMainMenu.txt
  Translations/English (default)/SCP079_HUD.txt
  Translations/English (default)/SCP939_HUD.txt
  Translations/English (default)/Voicechat.txt
Labels: en, ingame

#1223 zh translation update
  Translations/zh/ActionCategory.txt
  Translations/zh/AttachmentEditors.txt
  Translations/zh/DeathReasons.txt
  Translations/zh/Intercom.txt
  Translations/zh/Keybinds.txt
  Translations/zh/NewMainMenu.txt
  Translations/zh/SCP079_HUD.txt
  Translations/zh/SCP939_HUD.txt
  Translations/zh/Voicechat.txt
Labels: zh-Hans, ingame, zh

#1228 PL | 12.0 "Some missing translations" Update
  Translations/pl/ActionCategory.txt
  Translations/pl/AttachmentEditors.txt
  Translations/pl/DeathReasons.txt
  Translations/pl/Intercom.txt
  Translations/pl/Keybinds.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/SCP079_HUD.txt
  Translations/pl/SCP939_HUD.txt
  Translations/pl/Voicechat.txt
Labels: pl, ingame

#1230 [EN] Translation files for new F1 menus, removal of unused files
  Translations/English (default)/Abilities.txt
  Translations/English (default)/Class_Bio.txt
  Translations/English (default)/Death_Causes.txt
  Translations/English (default)/HumanAbilities.txt
  Translations/English (default)/HumanBio.txt
  Translations/English (default)/SCP049_HUD.txt
  Translations/English (default)/SCP079_HUD.txt
  Translations/English (default)/SCP106_HUD.txt
  Translations/English (default)/SCP173_HUD.txt
  Translations/English (default)/SCP939_HUD.txt
Labels: en, ingame

#1231 zh translation update 2
  Steam-Translations/Storepage/storepage_schinese.json
  Steam-Translations/Storepage/storepage_tchinese.json
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/ActionCategory.txt
  Translations/zh-Hant/AttachmentEditors.txt
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/DeathReasons.txt
  Translations/zh-Hant/Death_Causes.txt
  Translations/zh-Hant/HumanAbilities.txt
  Translations/zh-Hant/HumanBio.txt
  Translations/zh-Hant/Keybinds.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/SCP049_HUD.txt
  Translations/zh-Hant/SCP079_HUD.txt
  Translations/zh-Hant/SCP106_HUD.txt
  Translations/zh-Hant/SCP173_HUD.txt
  Translations/zh-Hant/SCP939_HUD.txt
  Translations/zh-Hant/Voicechat.txt
  Translations/zh/Abilities.txt
  Translations/zh/ActionCategory.txt
  Translations/zh/AttachmentEditors.txt
  Translations/zh/Class_Bio.txt
  Translations/zh/Class_Descriptions.txt
  Translations/zh/Death_Causes.txt
  Translations/zh/HumanAbilities.txt
  Translations/zh/HumanBio.txt
  Translations/zh/NewMainMenu.txt
  Translations/zh/SCP049_HUD.txt
  Translations/zh/SCP079_HUD.txt
  Translations/zh/SCP106_HUD.txt
  Translations/zh/SCP173_HUD.txt
  Translations/zh/SCP939_HUD.txt
Labels: zh-Hant, ingame, zh
