Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-06, with the labels that each got.

#1039 (ES) Fix summary
  Translations/es/Summary.txt
Labels: es, ingame

#1056 New Translations and Some Corrections for Catalan Language.
  Translations/ca/Abilities.txt
  Translations/ca/Badges.txt
  Translations/ca/Class_Names.txt
  Translations/ca/NewMainMenu.txt
Labels: ca, ingame

#1057 Grammatical Corrections for Spanish Language
  Translations/es/Abilities.txt
  Translations/es/AttachmentNames.txt
  Translations/es/DeathReasons.txt
  Translations/es/InventoryGUI.txt
  Translations/es/Keybinds.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/SCP330.txt
Labels: es, ingame

#1044 [FR] Updated Badges
  Translations/fr/Badges.txt
Labels: fr, ingame

#1061 Update Abilities.txt
  Translations/pl/Abilities.txt
Labels: pl, ingame

#1059 [GER] Fixed a colour command interpolation for 096's spawn screen
  Translations/de/Class_Descriptions.txt
Labels: de, ingame
