Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-12, with the labels that each got.

#1203 [ES]: Updated files, minor improvements and corrections
  Translations/es/Abilities.txt
  Translations/es/ActionCategory.txt
  Translations/es/AttachmentEditors.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/DeathReasons.txt
  Translations/es/Facility.txt
  Translations/es/HumanAbilities.txt
  Translations/es/HumanBio.txt
  Translations/es/Intercom.txt
  Translations/es/Items.txt
  Translations/es/Keybinds.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/NewMainMenu.txt
  Translations/es/SCP049_HUD.txt
  Translations/es/SCP079.txt
  Translations/es/SCP079_HUD.txt
  Translations/es/SCP106_HUD.txt
  Translations/es/SCP173_HUD.txt
  Translations/es/SCP939_HUD.txt
  Translations/es/Subtitles.txt
  Translations/es/Summary.txt
  Translations/es/Voicechat.txt
  Translations/es/manifest.json
Labels: es, ingame, manifest

#1212 [UK] Ukrainian language update to 12.0 after a long time
  Translations/uk/Abilities.txt
  Translations/uk/AttachmentDescriptiveAdvantages.txt
  Translations/uk/AttachmentDescriptiveDownsides.txt
  Translations/uk/AttachmentEditors.txt
  Translations/uk/AttachmentNames.txt
  Translations/uk/AttachmentParameters.txt
  Translations/uk/Badges.txt
  Translations/uk/Categories.txt
  Translations/uk/Class_Bio.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/Connection_Errors.txt
  Translations/uk/Connection_Info.txt
  Translations/uk/DeathReasons.txt
  Translations/uk/Death_Causes.txt
  Translations/uk/DecontaminationDisplays.txt
  Translations/uk/Disarming.txt
  Translations/uk/Doors.txt
  Translations/uk/Facility.txt
  Translations/uk/GameHints.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/Intercom.txt
  Translations/uk/Intercom_Door_Sign.txt
  Translations/uk/InventoryGUI.txt
  Translations/uk/Items.txt
  Translations/uk/Keybinds.txt
  Translations/uk/Legacy_Interfaces.txt
  Translations/uk/LoadingHints.txt
  Translations/uk/MainMenu.txt
  Translations/uk/MenuWarnings.txt
  Translations/uk/NewInventory.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/Nuke.txt
  Translations/uk/Nuke_Silo_Sign.txt
  Translations/uk/ReportForm.txt
  Translations/uk/SCP049_HUD.txt
  Translations/uk/SCP079.txt
  Translations/uk/SCP079_HUD.txt
  Translations/uk/SCP106_HUD.txt
  Translations/uk/SCP330.txt
  Translations/uk/SCP939_HUD.txt
  Translations/uk/Subtitles.txt
  Translations/uk/Summary.txt
  Translations/uk/Teams.txt
  Translations/uk/Version_7-0-0.txt
  Translations/uk/Voicechat.txt
  Translations/uk/WeaponManager.txt
  Translations/uk/log.txt
  Translations/uk/manifest.json
Labels: uk, ingame, manifest

#1213 [KO] 12.0 updates (w/storepage)
  Steam-Translations/Achievements/700330_loc_korean.vdf
  Steam-Translations/Rich Presence/700330_loc_koreana.vdf
  Steam-Translations/Storepage/storepage_koreana.json
  Translations/ko/Abilities.txt
  Translations/ko/ActionCategory.txt
  Translations/ko/AttachmentEditors.txt
  Translations/ko/Badges.txt
  Translations/ko/Class_Bio.txt
  Translations/ko/Class_Descriptions.txt
  Translations/ko/Class_Names.txt
  Translations/ko/DeathReasons.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/Facility.txt
  Translations/ko/HumanAbilities.txt
  Translations/ko/HumanBio.txt
  Translations/ko/Intercom.txt
  Translations/ko/Keybinds.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/SCP049_HUD.txt
  Translations/ko/SCP079_HUD.txt
  Translations/ko/SCP106_HUD.txt
  Translations/ko/SCP173_HUD.txt
  Translations/ko/SCP330.txt
  Translations/ko/SCP939_HUD.txt
  Translations/ko/Subtitles.txt
  Translations/ko/Teams.txt
  Translations/ko/Voicechat.txt
Labels: ko, steam-achievements, steam-richpresence, ingame

#1214 [JA] 12.0 update
  Translations/ja/AttachmentEditors.txt
  Translations/ja/AttachmentNames.txt
  Translations/ja/AttachmentParameters.txt
  Translations/ja/Badges.txt
  Translations/ja/Class_Bio.txt
  Translations/ja/Class_Descriptions.txt
  Translations/ja/Class_Nicknames.txt
  Translations/ja/DeathReasons.txt
  Translations/ja/Disarming.txt
  Translations/ja/Facility.txt
  Translations/ja/Items.txt
  Translations/ja/Keybinds.txt
  Translations/ja/LoadingHints.txt
  Translations/ja/MainMenu.txt
  Translations/ja/NewMainMenu.txt
  Translations/ja/SCP049_HUD.txt
  Translations/ja/SCP079_HUD.txt
  Translations/ja/SCP106_HUD.txt
  Translations/ja/SCP330.txt
  Translations/ja/SCP939_HUD.txt
  Translations/ja/Subtitles.txt
  Translations/ja/Teams.txt
  Translations/ja/Voicechat.txt
  Translations/ja/manifest.json
Labels: ja, ingame, manifest

#1224 [sr-Cyrl-BA] Major improvements and new translations for the latest 12.0 beta for Serbian
  Steam-Translations/Storepage/storepage_serbian.json
  Translations/sr-Cyrl-BA/Abilities.txt
  Translations/sr-Cyrl-BA/ActionCategory.txt
  Translations/sr-Cyrl-BA/AttachmentEditors.txt
  Translations/sr-Cyrl-BA/AttachmentNames.txt
  Translations/sr-Cyrl-BA/AttachmentParameters.txt
  Translations/sr-Cyrl-BA/Badges.txt
  Translations/sr-Cyrl-BA/Categories.txt
  Translations/sr-Cyrl-BA/Class_Bio.txt
  Translations/sr-Cyrl-BA/Class_Descriptions.txt
  Translations/sr-Cyrl-BA/Class_Names.txt
  Translations/sr-Cyrl-BA/Class_Nicknames.txt
  Translations/sr-Cyrl-BA/Connection_Errors.txt
  Translations/sr-Cyrl-BA/Connection_Info.txt
  Translations/sr-Cyrl-BA/DeathReasons.txt
  Translations/sr-Cyrl-BA/Death_Causes.txt
  Translations/sr-Cyrl-BA/DecontaminationDisplays.txt
  Translations/sr-Cyrl-BA/Disarming.txt
  Translations/sr-Cyrl-BA/Doors.txt
  Translations/sr-Cyrl-BA/Facility.txt
  Translations/sr-Cyrl-BA/HID_Sign.txt
  Translations/sr-Cyrl-BA/HumanAbilities.txt
  Translations/sr-Cyrl-BA/HumanBio.txt
  Translations/sr-Cyrl-BA/Intercom.txt
  Translations/sr-Cyrl-BA/InventoryGUI.txt
  Translations/sr-Cyrl-BA/Items.txt
  Translations/sr-Cyrl-BA/Keybinds.txt
  Translations/sr-Cyrl-BA/Legacy_Interfaces.txt
  Translations/sr-Cyrl-BA/LoadingHints.txt
  Translations/sr-Cyrl-BA/MainMenu.txt
  Translations/sr-Cyrl-BA/MenuWarnings.txt
  Translations/sr-Cyrl-BA/NewMainMenu.txt
  Translations/sr-Cyrl-BA/Nuke_Silo_Sign.txt
  Translations/sr-Cyrl-BA/ReportForm.txt
  Translations/sr-Cyrl-BA/SCP049_HUD.txt
  Translations/sr-Cyrl-BA/SCP079.txt
  Translations/sr-Cyrl-BA/SCP079_HUD.txt
  Translations/sr-Cyrl-BA/SCP106_HUD.txt
  Translations/sr-Cyrl-BA/SCP173_HUD.txt
  Translations/sr-Cyrl-BA/SCP330.txt
  Translations/sr-Cyrl-BA/SCP939_HUD.txt
  Translations/sr-Cyrl-BA/SCP_Interfaces.txt
  Translations/sr-Cyrl-BA/Subtitles.txt
  Translations/sr-Cyrl-BA/Summary.txt
  Translations/sr-Cyrl-BA/Teams.txt
  Translations/sr-Cyrl-BA/Voicechat.txt
  Translations/sr-Cyrl-BA/manifest.json
Labels: ingame, manifest, sr-Cyrl-BA

#1235 [BY] Add belarusian translation
  Translations/be/ActionCategory.txt
  Translations/be/AttachmentDescriptiveAdvantages.txt
  Translations/be/AttachmentDescriptiveDownsides.txt
  Translations/be/AttachmentEditors.txt
  Translations/be/AttachmentNames.txt
  Translations/be/AttachmentParameters.txt
  Translations/be/Badges.txt
  Translations/be/Categories.txt
  Translations/be/Class_Bio.txt
  Translations/be/Class_Descriptions.txt
  Translations/be/Class_Names.txt
  Translations/be/Class_Nicknames.txt
  Translations/be/Connection_Errors.txt
  Translations/be/Connection_Info.txt
  Translations/be/DeathReasons.txt
  Translations/be/Death_Causes.txt
  Translations/be/DecontaminationDisplays.txt
  Translations/be/Disarming.txt
  Translations/be/Doors.txt
  Translations/be/Facility.txt
  Translations/be/GameHints.txt
  Translations/be/HID_Sign.txt
  Translations/be/HumanAbilities.txt
  Translations/be/HumanBio.txt
  Translations/be/Intercom.txt
  Translations/be/Intercom_Door_Sign.txt
  Translations/be/InventoryGUI.txt
  Translations/be/Items.txt
  Translations/be/Keybinds.txt
  Translations/be/Legacy_Interfaces.txt
  Translations/be/LoadingHints.txt
  Translations/be/MainMenu.txt
  Translations/be/MenuWarnings.txt
  Translations/be/NewMainMenu.txt
  Translations/be/Nuke.txt
  Translations/be/Nuke_Silo_Sign.txt
  Translations/be/ReportForm.txt
  Translations/be/SCP049_HUD.txt
  Translations/be/SCP079.txt
  Translations/be/SCP079_HUD.txt
  Translations/be/SCP106_HUD.txt
  Translations/be/SCP173_HUD.txt
  Translations/be/SCP330.txt
  Translations/be/SCP939_HUD.txt
  Translations/be/SCP_Interfaces.txt
  Translations/be/Subtitles.txt
  Translations/be/Summary.txt
  Translations/be/Teams.txt
  Translations/be/Version_7-0-0.txt
  Translations/be/Voicechat.txt
  Translations/be/log.txt
  Translations/be/manifest.json
Labels: ingame, manifest

#1225 Italian translations
  Steam-Translations/Storepage/storepage_italian.json
  Translations/it/Abilities.txt
  Translations/it/ActionCategory.txt
  Translations/it/AttachmentEditors.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Names.txt
  Translations/it/DeathReasons.txt
  Translations/it/Death_Causes.txt
  Translations/it/HumanAbilities.txt
  Translations/it/HumanBio.txt
  Translations/it/Intercom.txt
  Translations/it/Keybinds.txt
  Translations/it/NewMainMenu.txt
  Translations/it/SCP049_HUD.txt
  Translations/it/SCP079_HUD.txt
  Translations/it/SCP106_HUD.txt
  Translations/it/SCP173_HUD.txt
  Translations/it/SCP939_HUD.txt
  Translations/it/Teams.txt
  Translations/it/Voicechat.txt
Labels: it, ingame

#1238 [EN]: Mimic point and SCP-096
  Translations/English (default)/SCP049_HUD.txt
  Translations/English (default)/SCP096_HUD.txt
  Translations/English (default)/SCP939_HUD.txt
Labels: en, ingame

#1240 [zh] Update Mimic point and 096
  Translations/zh-Hant/SCP049_HUD.txt
  Translations/zh-Hant/SCP096_HUD.txt
  Translations/zh-Hant/SCP939_HUD.txt
  Translations/zh/SCP049_HUD.txt
  Translations/zh/SCP096_HUD.txt
  Translations/zh/SCP939_HUD.txt
Labels: zh-Hans, zh-Hant, ingame, zh

#1245 [zh] Lets start touch-up time
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Items.txt
  Translations/zh/AttachmentNames.txt
  Translations/zh/Connection_Errors.txt
  Translations/zh/DeathReasons.txt
  Translations/zh/DecontaminationDisplays.txt
  Translations/zh/Facility.txt
  Translations/zh/Intercom.txt
  Translations/zh/Items.txt
  Translations/zh/Legacy_Interfaces.txt
  Translations/zh/MainMenu.txt
  Translations/zh/SCP939_HUD.txt
  Translations/zh/Summary.txt
  Translations/zh/Voicechat.txt
Labels: text-change, zh-Hans, zh-Hant, ingame, zh

#1232 PL | "New F1 descriptions" Update
  Translations/pl/Abilities.txt
  Translations/pl/Class_Bio.txt
  Translations/pl/Death_Causes.txt
  Translations/pl/HumanAbilities.txt
  Translations/pl/HumanBio.txt
  Translations/pl/SCP049_HUD.txt
  Translations/pl/SCP079_HUD.txt
  Translations/pl/SCP096_HUD.txt
  Translations/pl/SCP106_HUD.txt
  Translations/pl/SCP173_HUD.txt
  Translations/pl/SCP939_HUD.txt
Labels: pl, ingame

#1254 [KO] updates for pb
  Translations/ko/HumanAbilities.txt
  Translations/ko/HumanBio.txt
  Translations/ko/Legacy_Interfaces.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/SCP079_HUD.txt
  Translations/ko/SCP106_HUD.txt
  Translations/ko/SCP173_HUD.txt
  Translations/ko/SCP939_HUD.txt
Labels: ko, ingame

#1259 [EN] 12.0 Item changes
  Translations/English (default)/Items.txt
  Translations/English (default)/MainMenu.txt
Labels: en, ingame

#1206 [FR] Updated to version 12.0 of the game
  Translations/fr/Abilities.txt
  Translations/fr/ActionCategory.txt
  Translations/fr/AttachmentEditors.txt
  Translations/fr/AttachmentParameters.txt
  Translations/fr/Badges.txt
  Translations/fr/Class_Bio.txt
  Translations/fr/Class_Descriptions.txt
  Translations/fr/Class_Names.txt
  Translations/fr/Connection_Errors.txt
  Translations/fr/Connection_Info.txt
  Translations/fr/DeathReasons.txt
  Translations/fr/Death_Causes.txt
  Translations/fr/Facility.txt
  Translations/fr/HumanAbilities.txt
  Translations/fr/HumanBio.txt
  Translations/fr/Intercom.txt
  Translations/fr/InventoryGUI.txt
  Translations/fr/Items.txt
  Translations/fr/Keybinds.txt
  Translations/fr/Legacy_Interfaces.txt
  Translations/fr/LoadingHints.txt
  Translations/fr/MainMenu.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/ReportForm.txt
  Translations/fr/SCP049_HUD.txt
  Translations/fr/SCP079.txt
  Translations/fr/SCP079_HUD.txt
  Translations/fr/SCP096_HUD.txt
  Translations/fr/SCP106_HUD.txt
  Translations/fr/SCP173_HUD.txt
  Translations/fr/SCP939_HUD.txt
  Translations/fr/Teams.txt
  Translations/fr/Voicechat.txt
Labels: fr, ingame

#1263 [PL] dark mode, item and minor changes
  Translations/pl/Badges.txt
  Translations/pl/Disarming.txt
  Translations/pl/Intercom.txt
  Translations/pl/Items.txt
  Translations/pl/MainMenu.txt
  Translations/pl/ReportForm.txt
  Translations/pl/SCP330.txt
  Translations/pl/Voicechat.txt
Labels: pl, ingame

#1242 [ES] -PUBLIC BETA- Added and translated Mimic Point and SCP096HUD
  Translations/es/Abilities.txt
  Translations/es/ActionCategory.txt
  Translations/es/AttachmentDescriptiveAdvantages.txt
  Translations/es/AttachmentDescriptiveDownsides.txt
  Translations/es/AttachmentEditors.txt
  Translations/es/AttachmentNames.txt
  Translations/es/AttachmentParameters.txt
  Translations/es/Badges.txt
  Translations/es/Categories.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/Connection_Errors.txt
  Translations/es/DeathReasons.txt
  Translations/es/Death_Causes.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/Disarming.txt
  Translations/es/Doors.txt
  Translations/es/Facility.txt
  Translations/es/Intercom.txt
  Translations/es/InventoryGUI.txt
  Translations/es/Items.txt
  Translations/es/Keybinds.txt
  Translations/es/Legacy_Interfaces.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke.txt
  Translations/es/Nuke_Silo_Sign.txt
  Translations/es/SCP049_HUD.txt
  Translations/es/SCP079.txt
  Translations/es/SCP079_HUD.txt
  Translations/es/SCP096_HUD.txt
  Translations/es/SCP106_HUD.txt
  Translations/es/SCP330.txt
  Translations/es/SCP939_HUD.txt
  Translations/es/Subtitles.txt
  Translations/es/Summary.txt
  Translations/es/Teams.txt
  Translations/es/Voicechat.txt
Labels: es, ingame, manifest

#1243 [pt-BR] 12.0 096 Brazillian Translation Update
  Translations/pt-BR/AttachmentEditors.txt
  Translations/pt-BR/Items.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/SCP049_HUD.txt
  Translations/pt-BR/SCP096_HUD.txt
  Translations/pt-BR/SCP939_HUD.txt
Labels: pt-BR, ingame

#1248 [TR] Mimicry Update.
  Translations/tr/ActionCategory.txt
  Translations/tr/AttachmentEditors.txt
  Translations/tr/Badges.txt
  Translations/tr/Class_Names.txt
  Translations/tr/DeathReasons.txt
  Translations/tr/Facility.txt
  Translations/tr/HumanAbilities.txt
  Translations/tr/HumanBio.txt
  Translations/tr/Intercom.txt
  Translations/tr/Keybinds.txt
  Translations/tr/NewMainMenu.txt
  Translations/tr/SCP049_HUD.txt
  Translations/tr/SCP079_HUD.txt
  Translations/tr/SCP096_HUD.txt
  Translations/tr/SCP106_HUD.txt
  Translations/tr/SCP173_HUD.txt
  Translations/tr/SCP939_HUD.txt
  Translations/tr/Teams.txt
  Translations/tr/Voicechat.txt
Labels: tr, ingame

#1250 Romanian mimicry update
  Translations/ro/Abilities.txt
  Translations/ro/ActionCategory.txt
  Translations/ro/AttachmentEditors.txt
  Translations/ro/Class_Bio.txt
  Translations/ro/DeathReasons.txt
  Translations/ro/Death_Causes.txt
  Translations/ro/HumanAbilities.txt
  Translations/ro/HumanBio.txt
  Translations/ro/Intercom.txt
  Translations/ro/Items.txt
  Translations/ro/Keybinds.txt
  Translations/ro/MainMenu.txt
  Translations/ro/NewMainMenu.txt
  Translations/ro/ReportForm.txt
  Translations/ro/SCP049_HUD.txt
  Translations/ro/SCP079_HUD.txt
  Translations/ro/SCP096_HUD.txt
  Translations/ro/SCP106_HUD.txt
  Translations/ro/SCP173_HUD.txt
  Translations/ro/SCP939_HUD.txt
  Translations/ro/Voicechat.txt
Labels: ingame, ro

#1253 [UK] Update & Fix
  Translations/uk/ActionCategory.txt
  Translations/uk/AttachmentEditors.txt
  Translations/uk/AttachmentNames.txt
  Translations/uk/AttachmentParameters.txt
  Translations/uk/Badges.txt
  Translations/uk/Class_Bio.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/DeathReasons.txt
  Translations/uk/DecontaminationDisplays.txt
  Translations/uk/Doors.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/HumanAbilities.txt
  Translations/uk/HumanBio.txt
  Translations/uk/Intercom.txt
  Translations/uk/Items.txt
  Translations/uk/MainMenu.txt
  Translations/uk/SCP049_HUD.txt
  Translations/uk/SCP079_HUD.txt
  Translations/uk/SCP096_HUD.txt
  Translations/uk/SCP106_HUD.txt
  Translations/uk/SCP173_HUD.txt
  Translations/uk/SCP939_HUD.txt
  Translations/uk/Subtitles.txt
  Translations/uk/Summary.txt
  Translations/uk/Voicechat.txt
Labels: uk, ingame, manifest

#1258 [TH] Update to version 12.0
  Translations/th/ActionCategory.txt
  Translations/th/AttachmentEditors.txt
  Translations/th/AttachmentNames.txt
  Translations/th/AttachmentParameters.txt
  Translations/th/Badges.txt
  Translations/th/Class_Descriptions.txt
  Translations/th/Class_Names.txt
  Translations/th/DeathReasons.txt
  Translations/th/Facility.txt
  Translations/th/HumanAbilities.txt
  Translations/th/HumanBio.txt
  Translations/th/Intercom.txt
  Translations/th/Items.txt
  Translations/th/Keybinds.txt
  Translations/th/MainMenu.txt
  Translations/th/NewMainMenu.txt
  Translations/th/SCP049_HUD.txt
  Translations/th/SCP079_HUD.txt
  Translations/th/SCP096_HUD.txt
  Translations/th/SCP106_HUD.txt
  Translations/th/SCP173_HUD.txt
  Translations/th/SCP939_HUD.txt
  Translations/th/Subtitles.txt
  Translations/th/Summary.txt
  Translations/th/Teams.txt
  Translations/th/Voicechat.txt
  Translations/th/manifest.json
Labels: th, ingame, manifest

#1260 [KO] missing files
  Translations/ko/Items.txt
  Translations/ko/MainMenu.txt
  Translations/ko/SCP049_HUD.txt
  Translations/ko/SCP096_HUD.txt
  Translations/ko/SCP173_HUD.txt
  Translations/ko/Subtitles.txt
Labels: ko, ingame

#1265 [kk-Kz] Added Teams.txt
  Translations/kk-KZ/Teams.txt
Labels: ingame, kk-KZ

#1266 [BY] 12.0 Mimic point and Item changes
  Translations/be/Items.txt
  Translations/be/MainMenu.txt
  Translations/be/SCP049_HUD.txt
  Translations/be/SCP096_HUD.txt
  Translations/be/SCP939_HUD.txt
Labels: ingame
