Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-09, with the labels that each got.

#1095 Update Doors.txt
  Translations/kk-KZ/Doors.txt
Labels: ingame

#1094 Itemps.txt Update
  Translations/kk-KZ/Items.txt
Labels: ingame

#1096 Add Kazakh label
  .github/labeler.yml
Labels: meta

#1054 [RU] Various translation improvements and fixes.
  Translations/ru/Abilities.txt
  Translations/ru/Class_Names.txt
  Translations/ru/SCP330.txt
  Translations/ru/Summary.txt
Labels: ru, ingame

#1099 Added Serbian (Cyrillic)
  Steam-Translations/Achievements/700330_loc_serbian.vdf
  Steam-Translations/Rich Presence/700330_loc_serbian.vdf
  Translations/r-Cyrl-BA/Abilities.txt
  Translations/r-Cyrl-BA/AttachmentDescriptiveAdvantages.txt
  Translations/r-Cyrl-BA/AttachmentDescriptiveDownsides.txt
  Translations/r-Cyrl-BA/AttachmentEditors.txt
  Translations/r-Cyrl-BA/AttachmentNames.txt
  Translations/r-Cyrl-BA/AttachmentParameters.txt
  Translations/r-Cyrl-BA/Badges.txt
  Translations/r-Cyrl-BA/Categories.txt
  Translations/r-Cyrl-BA/Class_Bio.txt
  Translations/r-Cyrl-BA/Class_Descriptions.txt
  Translations/r-Cyrl-BA/Class_Names.txt
  Translations/r-Cyrl-BA/Class_Nicknames.txt
  Translations/r-Cyrl-BA/Connection_Errors.txt
  Translations/r-Cyrl-BA/Connection_Info.txt
  Translations/r-Cyrl-BA/DeathReasons.txt
  Translations/r-Cyrl-BA/Death_Causes.txt
  Translations/r-Cyrl-BA/DecontaminationDisplays.txt
  Translations/r-Cyrl-BA/Disarming.txt
  Translations/r-Cyrl-BA/Doors.txt
  Translations/r-Cyrl-BA/Facility.txt
  Translations/r-Cyrl-BA/GameHints.txt
  Translations/r-Cyrl-BA/HID_Sign.txt
  Translations/r-Cyrl-BA/Intercom.txt
  Translations/r-Cyrl-BA/Intercom_Door_Sign.txt
  Translations/r-Cyrl-BA/InventoryGUI.txt
  Translations/r-Cyrl-BA/Items.txt
  Translations/r-Cyrl-BA/Keybinds.txt
  Translations/r-Cyrl-BA/Legacy_Interfaces.txt
  Translations/r-Cyrl-BA/LoadingHints.txt
  Translations/r-Cyrl-BA/MainMenu.txt
  Translations/r-Cyrl-BA/MenuWarnings.txt
  Translations/r-Cyrl-BA/NewMainMenu.txt
  Translations/r-Cyrl-BA/Nuke.txt
  Translations/r-Cyrl-BA/Nuke_Silo_Sign.txt
  Translations/r-Cyrl-BA/ReportForm.txt
  Translations/r-Cyrl-BA/SCP079.txt
  Translations/r-Cyrl-BA/SCP330.txt
  Translations/r-Cyrl-BA/SCP_Interfaces.txt
  Translations/r-Cyrl-BA/Subtitles.txt
  Translations/r-Cyrl-BA/Summary.txt
  Translations/r-Cyrl-BA/Version_7-0-0.txt
  Translations/r-Cyrl-BA/Voicechat.txt
  Translations/r-Cyrl-BA/fontfallbacks.txt
  Translations/r-Cyrl-BA/manifest.json
Labels: steam-achievements, steam-richpresence, ingame, manifest

#1097 [pt-BR] 1 subtitles line change
  Translations/pt-BR/Subtitles.txt
Labels: pt-BR, ingame
