Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-10, with the labels that each got.

#1100 Update class_bio.txt [KZ]
  Translations/kk-KZ/Class_Bio.txt
Labels: ingame, kk-KZ

#1101 KZ | Сhange AttachmentNames.txt
  Translations/kk-KZ/AttachmentNames.txt
Labels: ingame, kk-KZ

#1107 Add 12.0 default translations
  Translations/English (default)/AttachmentEditors.txt
  Translations/English (default)/Badges.txt
  Translations/English (default)/Facility.txt
  Translations/English (default)/SCP049_HUD.txt
  Translations/English (default)/SCP079_HUD.txt
  Translations/English (default)/SCP106_HUD.txt
  Translations/English (default)/SCP939_HUD.txt
  Translations/English (default)/Summary.txt
  Translations/English (default)/Voicechat.txt
Labels: en, ingame

#1117 Chinese 12.0 Update
  Translations/zh/AttachmentEditors.txt
  Translations/zh/Badges.txt
  Translations/zh/Facility.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/SCP049_HUD.txt
  Translations/zh/SCP079_HUD.txt
  Translations/zh/SCP106_HUD.txt
  Translations/zh/SCP939_HUD.txt
  Translations/zh/Voicechat.txt
Labels: update, zh-Hans, ingame, zh

#1115 [RU] 12.0 "Mimicry" update
  Translations/ru/AttachmentEditors.txt
  Translations/ru/Badges.txt
  Translations/ru/Facility.txt
  Translations/ru/SCP049_HUD.txt
  Translations/ru/SCP079_HUD.txt
  Translations/ru/SCP106_HUD.txt
  Translations/ru/SCP939_HUD.txt
  Translations/ru/Summary.txt
  Translations/ru/Voicechat.txt
Labels: ru, ingame

#1118 Traditional Chinese 12.0 update
  Translations/zh-Hant/AttachmentEditors.txt
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/SCP049_HUD.txt
  Translations/zh-Hant/SCP079_HUD.txt
  Translations/zh-Hant/SCP106_HUD.txt
  Translations/zh-Hant/SCP939_HUD.txt
  Translations/zh-Hant/Voicechat.txt
  Translations/zh/SCP079_HUD.txt
Labels: update, zh-Hant, ingame, zh

#1112 [PT-BR] 12.0 BETA Translation Update
  Translations/pt-BR/AttachmentEditors.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/SCP049_HUD.txt
  Translations/pt-BR/SCP079_HUD.txt
  Translations/pt-BR/SCP106_HUD.txt
  Translations/pt-BR/SCP939_HUD.txt
  Translations/pt-BR/Subtitles.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Voicechat.txt
Labels: pt-BR, ingame

#1103 KZ | Update Class_Bio.txt
  Translations/kk-KZ/Class_Bio.txt
Labels: ingame, kk-KZ

#1104 KZ | Update Facility.txt
  Translations/kk-KZ/Facility.txt
Labels: ingame, kk-KZ

#1105 KZ | Fixing Class_Descriptions.txt
  Translations/kk-KZ/Class_Descriptions.txt
Labels: ingame, kk-KZ

#1106 KZ | Update NewMainMenu.txt
  Translations/kk-KZ/NewMainMenu.txt
Labels: ingame, kk-KZ

#1108 Updated to 12.0 "Mimicry" and improved Spanish translation
  Steam-Translations/Achievements/700330_loc_latam.vdf
  Steam-Translations/Rich Presence/700330_loc_latam.vdf
  Translations/es/AttachmentDescriptiveDownsides.txt
  Translations/es/AttachmentEditors.txt
  Translations/es/Badges.txt
  Translations/es/Class_Names.txt
  Translations/es/DeathReasons.txt
  Translations/es/Death_Causes.txt
  Translations/es/Facility.txt
  Translations/es/Items.txt
  Translations/es/LoadingHints.txt
  Translations/es/SCP049_HUD.txt
  Translations/es/SCP079_HUD.txt
  Translations/es/SCP106_HUD.txt
  Translations/es/SCP939_HUD.txt
  Translations/es/Subtitles.txt
  Translations/es/Voicechat.txt
Labels: es, steam-achievements, steam-richpresence, ingame

#1109 Added 12.0 Serbian Translation
  Translations/r-Cyrl-BA/AttachmentEditors.txt
  Translations/r-Cyrl-BA/Badges.txt
  Translations/r-Cyrl-BA/Class_Descriptions.txt
  Translations/r-Cyrl-BA/Facility.txt
  Translations/r-Cyrl-BA/MainMenu.txt
  Translations/r-Cyrl-BA/SCP049_HUD.txt
  Translations/r-Cyrl-BA/SCP079_HUD.txt
  Translations/r-Cyrl-BA/SCP106_HUD.txt
  Translations/r-Cyrl-BA/SCP939_HUD.txt
  Translations/r-Cyrl-BA/Subtitles.txt
  Translations/r-Cyrl-BA/Voicechat.txt
Labels: ingame

#1110 [IT] 12.0 - Added other files to new game version.
  Translations/it/AttachmentEditors.txt
  Translations/it/Badges.txt
  Translations/it/Facility.txt
  Translations/it/SCP049_HUD.txt
  Translations/it/SCP079_HUD.txt
  Translations/it/SCP106_HUD.txt
  Translations/it/SCP939_HUD.txt
  Translations/it/Voicechat.txt
Labels: it, ingame

#1116 [KO] 12.0 mimicry for korean
  Translations/ko/AttachmentEditors.txt
  Translations/ko/Badges.txt
  Translations/ko/Facility.txt
  Translations/ko/SCP049_HUD.txt
  Translations/ko/SCP079_HUD.txt
  Translations/ko/SCP106_HUD.txt
  Translations/ko/SCP939_HUD.txt
  Translations/ko/Voicechat.txt
Labels: ko, ingame

#1111 PL | Update 12.0
  Translations/pl/AttachmentEditors.txt
  Translations/pl/Badges.txt
  Translations/pl/Class_Names.txt
  Translations/pl/Facility.txt
  Translations/pl/SCP049_HUD.txt
  Translations/pl/SCP079_HUD.txt
  Translations/pl/SCP106_HUD.txt
  Translations/pl/SCP939_HUD.txt
  Translations/pl/Subtitles.txt
  Translations/pl/Teams.txt
  Translations/pl/Voicechat.txt
Labels: pl, ingame
