Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-01, with the labels that each got.

#945 added missing translations for files
  Translations/ro/Connection_Errors.txt
  Translations/ro/DeathReasons.txt
  Translations/ro/Items.txt
  Translations/ro/MainMenu.txt
  Translations/ro/NewMainMenu.txt
  Translations/ro/Subtitles.txt
Labels: ingame

#944 ES Update
  Translations/es/DeathReasons.txt
  Translations/es/Items.txt
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke.txt
  Translations/es/SCP330.txt
  Translations/es/Subtitles.txt
Labels: es, ingame

#943 Italian translation, subtitles.txt
  Translations/it/MainMenu.txt
  Translations/it/NewMainMenu.txt
  Translations/it/Subtitles.txt
Labels: it, ingame

#928 [TR] Death Reasons&Subtıtles Update.
  Translations/tr/DeathReasons.txt
  Translations/tr/Items.txt
  Translations/tr/MainMenu.txt
  Translations/tr/NewMainMenu.txt
  Translations/tr/SCP330.txt
  Translations/tr/Subtitles.txt
Labels: tr, ingame

#949 KOR update
  Translations/ko/Abilities.txt
  Translations/ko/DeathReasons.txt
  Translations/ko/Items.txt
  Translations/ko/MainMenu.txt
  Translations/ko/NewMainMenu.txt
  Translations/ko/SCP330.txt
  Translations/ko/Subtitles.txt
Labels: ko, ingame

#957 Update Subtitles.txt
  Translations/zh/Subtitles.txt
Labels: error/bug, text-change, ingame, zh

#958 Update Subtitles.txt
  Translations/zh/Subtitles.txt
Labels: error/bug, ingame, zh

#959 Consistency between files, added missing files and fixed some minor flaws.
  Translations/de/Abilities.txt
  Translations/de/DeathReasons.txt
  Translations/de/Death_Causes.txt
  Translations/de/Facility.txt
  Translations/de/Items.txt
  Translations/de/Legacy_Interfaces.txt
  Translations/de/MainMenu.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP330.txt
  Translations/de/Subtitles.txt
  Translations/de/Summary.txt
Labels: de, ingame

#956 [FR] updated for 11.1.2
  Translations/fr/DeathReasons.txt
  Translations/fr/Items.txt
  Translations/fr/MainMenu.txt
  Translations/fr/NewMainMenu.txt
  Translations/fr/Subtitles.txt
  Translations/fr/manifest.json
Labels: fr, ingame

#977 BADGES BABY - German
  Translations/de/Abilities.txt
  Translations/de/Badges.txt
  Translations/de/GameHints.txt
  Translations/de/InventoryGUI.txt
  Translations/de/Items.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP330.txt
Labels: de, ingame

#976 DE | changed a few things to sound better
  Steam-Translations/Rich Presence/700330_loc_german.vdf
  Translations/de/Categories.txt
  Translations/de/Disarming.txt
  Translations/de/Keybinds.txt
  Translations/de/Legacy_Interfaces.txt
  Translations/de/ReportForm.txt
Labels: de, steam-richpresence, ingame
