Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-03, with the labels that each got.

#968 Traditional Chinese big update
  Translations/zh-Hant/Abilities.txt
  Translations/zh-Hant/AttachmentDescriptiveAdvantages.txt
  Translations/zh-Hant/AttachmentDescriptiveDownsides.txt
  Translations/zh-Hant/AttachmentEditors.txt
  Translations/zh-Hant/AttachmentParameters.txt
  Translations/zh-Hant/Class_Bio.txt
  Translations/zh-Hant/Class_Descriptions.txt
  Translations/zh-Hant/Class_Nicknames.txt
  Translations/zh-Hant/DeathReasons.txt
  Translations/zh-Hant/Disarming.txt
  Translations/zh-Hant/Items.txt
  Translations/zh-Hant/Keybinds.txt
  Translations/zh-Hant/LoadingHints.txt
  Translations/zh-Hant/MainMenu.txt
  Translations/zh-Hant/NewMainMenu.txt
  Translations/zh-Hant/SCP330.txt
  Translations/zh-Hant/Subtitles.txt
  Translations/zh-Hant/Voicechat.txt
Labels: text-change, update, zh-Hant, ingame

#988 text change zh
  Steam-Translations/Achievements/700330_loc_schinese.vdf
  Translations/zh/Abilities.txt
  Translations/zh/Badges.txt
  Translations/zh/Legacy_Interfaces.txt
  Translations/zh/SCP330.txt
  Translations/zh/Subtitles.txt
Labels: text-change, zh-Hans, steam-achievements, ingame, zh

#992 [EN]: New Line-Additions + Changes to Summary.txt
  Translations/English (default)/AttachmentNames.txt
  Translations/English (default)/AttachmentParameters.txt
  Translations/English (default)/DeathReasons.txt
  Translations/English (default)/Facility.txt
  Translations/English (default)/Items.txt
  Translations/English (default)/Summary.txt
Labels: en, ingame

#997 zh-11.2-update new
  Translations/zh/AttachmentNames.txt
  Translations/zh/AttachmentParameters.txt
  Translations/zh/DeathReasons.txt
  Translations/zh/Facility.txt
  Translations/zh/Items.txt
  Translations/zh/Summary.txt
Labels: update, ingame, zh

#1000 PL | Updating to 11.2
  Translations/pl/AttachmentEditors.txt
  Translations/pl/AttachmentNames.txt
  Translations/pl/AttachmentParameters.txt
  Translations/pl/DeathReasons.txt
  Translations/pl/Facility.txt
  Translations/pl/Items.txt
  Translations/pl/LoadingHints.txt
  Translations/pl/Subtitles.txt
  Translations/pl/Summary.txt
Labels: pl, ingame

#951 items update
  Translations/ko/Items.txt
Labels: ko, ingame

#1002 DE | 11.2 translations
  Translations/de/AttachmentNames.txt
  Translations/de/AttachmentParameters.txt
  Translations/de/DeathReasons.txt
  Translations/de/Facility.txt
  Translations/de/Items.txt
  Translations/de/Summary.txt
Labels: de, ingame

#1009 NB-Evan automatic request receiving test
  Translations/nb/Items.txt
Labels: nb, ingame

#963 [Romanian]: New update translations
  Steam-Translations/Achievements/700330_loc_romanian.vdf
  Translations/ro/AttachmentNames.txt
  Translations/ro/AttachmentParameters.txt
  Translations/ro/Class_Names.txt
  Translations/ro/DeathReasons.txt
  Translations/ro/Facility.txt
  Translations/ro/Items.txt
  Translations/ro/Keybinds.txt
  Translations/ro/LoadingHints.txt
  Translations/ro/MainMenu.txt
  Translations/ro/MenuWarnings.txt
  Translations/ro/Subtitles.txt
  Translations/ro/Summary.txt
Labels: steam-achievements, ingame, ro

#998 [TH] New lines
  Translations/th/AttachmentNames.txt
  Translations/th/AttachmentParameters.txt
  Translations/th/DeathReasons.txt
  Translations/th/Facility.txt
  Translations/th/Items.txt
  Translations/th/Subtitles.txt
  Translations/th/Summary.txt
Labels: th, ingame

#1001 [TR] Update.
  Translations/tr/AttachmentNames.txt
  Translations/tr/AttachmentParameters.txt
  Translations/tr/DeathReasons.txt
  Translations/tr/Facility.txt
  Translations/tr/Items.txt
  Translations/tr/Summary.txt
Labels: tr, ingame

#996 ZH-HANT-UPDATE
  Translations/zh-Hant/AttachmentNames.txt
  Translations/zh-Hant/AttachmentParameters.txt
  Translations/zh-Hant/DeathReasons.txt
  Translations/zh-Hant/Facility.txt
  Translations/zh-Hant/Items.txt
  Translations/zh-Hant/Summary.txt
Labels: update, zh-Hant, ingame

#1006 zh-new-line-in-Facility AND Update Summary
  Translations/zh/Facility.txt
  Translations/zh/Summary.txt
Labels: update, ingame, zh
