Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-08, with the labels that each got.

#1081 Brazilian Portuguese Translation Overhauls
  Translations/pt-BR/AttachmentDescriptiveAdvantages.txt
  Translations/pt-BR/AttachmentDescriptiveDownsides.txt
  Translations/pt-BR/AttachmentEditors.txt
  Translations/pt-BR/AttachmentNames.txt
  Translations/pt-BR/AttachmentParameters.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Class_Nicknames.txt
  Translations/pt-BR/DeathReasons.txt
  Translations/pt-BR/DecontaminationDisplays.txt
  Translations/pt-BR/Disarming.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/Items.txt
  Translations/pt-BR/Keybinds.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/SCP330.txt
  Translations/pt-BR/Subtitles.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Voicechat.txt
  Translations/pt-BR/manifest.json
Labels: pt-BR, ingame, manifest

#1083 (pt-BR) Fixed Key code interpolation
  Translations/pt-BR/Facility.txt
Labels: pt-BR, ingame

#1076 [KZ] language Kazakh
  Translations/kk-KZ/Abilities.txt
  Translations/kk-KZ/AttachmentDescriptiveAdvantages.txt
  Translations/kk-KZ/AttachmentDescriptiveDownsides.txt
  Translations/kk-KZ/AttachmentEditors.txt
  Translations/kk-KZ/AttachmentNames.txt
  Translations/kk-KZ/AttachmentParameters.txt
  Translations/kk-KZ/Badges.txt
  Translations/kk-KZ/Categories.txt
  Translations/kk-KZ/Class_Bio.txt
  Translations/kk-KZ/Class_Descriptions.txt
  Translations/kk-KZ/Class_Names.txt
  Translations/kk-KZ/Class_Nicknames.txt
  Translations/kk-KZ/Connection_Errors.txt
  Translations/kk-KZ/Connection_Info.txt
  Translations/kk-KZ/DeathReasons.txt
  Translations/kk-KZ/Death_Causes.txt
  Translations/kk-KZ/DecontaminationDisplays.txt
  Translations/kk-KZ/Disarming.txt
  Translations/kk-KZ/Doors.txt
  Translations/kk-KZ/Facility.txt
  Translations/kk-KZ/GameHints.txt
  Translations/kk-KZ/HID_Sign.txt
  Translations/kk-KZ/Intercom.txt
  Translations/kk-KZ/Intercom_Door_Sign.txt
  Translations/kk-KZ/InventoryGUI.txt
  Translations/kk-KZ/Items.txt
  Translations/kk-KZ/Keybinds.txt
  Translations/kk-KZ/Legacy_Interfaces.txt
  Translations/kk-KZ/LoadingHints.txt
  Translations/kk-KZ/MainMenu.txt
  Translations/kk-KZ/MenuWarnings.txt
  Translations/kk-KZ/NewMainMenu.txt
  Translations/kk-KZ/Nuke.txt
  Translations/kk-KZ/Nuke_Silo_Sign.txt
  Translations/kk-KZ/ReportForm.txt
  Translations/kk-KZ/SCP079.txt
  Translations/kk-KZ/SCP330.txt
  Translations/kk-KZ/SCP_Interfaces.txt
  Translations/kk-KZ/Subtitles.txt
  Translations/kk-KZ/Summary.txt
  Translations/kk-KZ/Version_7-0-0.txt
  Translations/kk-KZ/Voicechat.txt
  Translations/kk-KZ/manifest.json
Labels: ingame, manifest

#1065 Fixing LoadingHints.txt wording
  Translations/fr/LoadingHints.txt
Labels: fr, ingame

#1064 Italian Translation, rewrite "almost" all files
  Steam-Translations/Achievements/700330_loc_italian.vdf
  Translations/it/Abilities.txt
  Translations/it/AttachmentDescriptiveAdvantages.txt
  Translations/it/AttachmentEditors.txt
  Translations/it/Badges.txt
  Translations/it/Categories.txt
  Translations/it/Class_Bio.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Connection_Errors.txt
  Translations/it/Connection_Info.txt
  Translations/it/Death_Causes.txt
  Translations/it/Facility.txt
  Translations/it/GameHints.txt
  Translations/it/Intercom.txt
  Translations/it/Items.txt
  Translations/it/Keybinds.txt
  Translations/it/LoadingHints.txt
  Translations/it/Subtitles.txt
Labels: it, steam-achievements, ingame

#1055 [TR] Update Badges.txt
  Translations/tr/Badges.txt
Labels: tr, ingame

#1046 Update Badges.txt (RO)
  Steam-Translations/Achievements/700330_loc_romanian.vdf
  Translations/ro/Badges.txt
Labels: steam-achievements, ingame, ro

#1042 [KO] Update Badges, some sentences
  Translations/ko/AttachmentParameters.txt
  Translations/ko/Badges.txt
  Translations/ko/DeathReasons.txt
  Translations/ko/SCP079.txt
  Translations/ko/Subtitles.txt
  Translations/ko/TemporaryHalloweenOverride.txt
Labels: ko, ingame

#1084 [pt-BR] Changed Sensitivity Reduction amount for lower resolution users
  Translations/pt-BR/Facility.txt
Labels: pt-BR, ingame

#1063 [GER] Updated Connection_Errors to match the english translation
  Translations/de/Connection_Errors.txt
Labels: de, ingame

#1066 [DE] Schreibfehler behoben
  Translations/de/LoadingHints.txt
Labels: de, ingame

#1090 Better Spanish Translation
  Translations/es/Abilities.txt
  Translations/es/AttachmentEditors.txt
  Translations/es/Class_Bio.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/DeathReasons.txt
  Translations/es/Death_Causes.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/Doors.txt
  Translations/es/Facility.txt
  Translations/es/InventoryGUI.txt
  Translations/es/Items.txt
  Translations/es/Keybinds.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke_Silo_Sign.txt
  Translations/es/SCP330.txt
  Translations/es/Subtitles.txt
  Translations/es/Summary.txt
Labels: es, ingame

#1091 HU - Updated Steam achievement descriptions + fixed typos.
  Steam-Translations/Achievements/700330_loc_hungarian.vdf
Labels: hu, steam-achievements

#1085 [pt-BR] Improved Brazilian-Portuguese Translation
  Translations/pt-BR/Abilities.txt
  Translations/pt-BR/AttachmentEditors.txt
  Translations/pt-BR/AttachmentNames.txt
  Translations/pt-BR/AttachmentParameters.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Categories.txt
  Translations/pt-BR/Class_Bio.txt
  Translations/pt-BR/Class_Descriptions.txt
  Translations/pt-BR/Class_Names.txt
  Translations/pt-BR/Class_Nicknames.txt
  Translations/pt-BR/Connection_Errors.txt
  Translations/pt-BR/Connection_Info.txt
  Translations/pt-BR/DeathReasons.txt
  Translations/pt-BR/Facility.txt
  Translations/pt-BR/Items.txt
  Translations/pt-BR/Keybinds.txt
  Translations/pt-BR/Legacy_Interfaces.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/MenuWarnings.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/Nuke_Silo_Sign.txt
  Translations/pt-BR/SCP079.txt
  Translations/pt-BR/SCP330.txt
  Translations/pt-BR/Subtitles.txt
  Translations/pt-BR/Summary.txt
Labels: pt-BR, ingame, manifest
