Repository northwood-studios/SCPSL-Translations, pull requests merged in 2022-05, with the labels that each got.

#1026 PL | Translated Particle Disruptor for 11.2
  Translations/pl/Items.txt
Labels: pl, ingame

#1035 zh text error change
  Translations/zh-Hant/AttachmentNames.txt
  Translations/zh-Hant/SCP330.txt
  Translations/zh/AttachmentNames.txt
  Translations/zh/SCP330.txt
Labels: content-change, zh-Hans, zh-Hant, ingame, zh

#1036 [DE] The Name switch of the Chaos Insurgency Marauder and Chaos Insurgency Repressor weren't done in the german translation yet.
  Translations/de/Class_Names.txt
Labels: de, ingame

#1033 (ES) Update Summary w/ new lines
  Translations/es/Summary.txt
Labels: es, ingame

#1034 Added some Translations Files that were remaining
  Translations/es/AttachmentNames.txt
  Translations/es/AttachmentParameters.txt
  Translations/es/DeathReasons.txt
  Translations/es/Facility.txt
  Translations/es/Items.txt
Labels: es, ingame

#1037 [ES] Fixed general typos.
  Steam-Translations/Achievements/700330_loc_spanish.vdf
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
Labels: es, steam-achievements, ingame

#983 Dutch Major Update
  Translations/nl/AttachmentDescriptiveAdvantages.txt
  Translations/nl/AttachmentDescriptiveDownsides.txt
  Translations/nl/AttachmentEditors.txt
  Translations/nl/AttachmentNames.txt
  Translations/nl/AttachmentParameters.txt
  Translations/nl/Categories.txt
  Translations/nl/DeathReasons.txt
  Translations/nl/DecontaminationDisplays.txt
  Translations/nl/Disarming.txt
  Translations/nl/Doors.txt
  Translations/nl/HID_Sign.txt
  Translations/nl/Intercom.txt
  Translations/nl/Intercom_Door_Sign.txt
  Translations/nl/InventoryGUI.txt
  Translations/nl/Items.txt
  Translations/nl/Keybinds.txt
  Translations/nl/LoadingHints.txt
  Translations/nl/Nuke.txt
  Translations/nl/Nuke_Silo_Sign.txt
  Translations/nl/SCP330.txt
  Translations/nl/Subtitles.txt
  Translations/nl/Voicechat.txt
  Translations/nl/manifest.json
Labels: nl, ingame

#1031 [TR] Update.
  Translations/tr/Items.txt
  Translations/tr/Summary.txt
Labels: tr, ingame

#1032 [KO] minor update
  Translations/ko/DeathReasons.txt
  Translations/ko/Death_Causes.txt
  Translations/ko/DecontaminationDisplays.txt
  Translations/ko/Facility.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/Subtitles.txt
  Translations/ko/Summary.txt
Labels: ko, ingame

#1038 [GER] Updated translations and corrected typos in the German Translation (almost all files)
  Translations/de/Abilities.txt
  Translations/de/AttachmentDescriptiveAdvantages.txt
  Translations/de/AttachmentDescriptiveDownsides.txt
  Translations/de/AttachmentEditors.txt
  Translations/de/AttachmentNames.txt
  Translations/de/AttachmentParameters.txt
  Translations/de/Badges.txt
  Translations/de/Categories.txt
  Translations/de/Class_Bio.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Class_Names.txt
  Translations/de/Class_Nicknames.txt
  Translations/de/Connection_Errors.txt
  Translations/de/Connection_Info.txt
  Translations/de/DeathReasons.txt
  Translations/de/Death_Causes.txt
  Translations/de/Disarming.txt
  Translations/de/Doors.txt
  Translations/de/Facility.txt
  Translations/de/GameHints.txt
  Translations/de/HID_Sign.txt
  Translations/de/Intercom.txt
  Translations/de/InventoryGUI.txt
  Translations/de/Items.txt
  Translations/de/Keybinds.txt
  Translations/de/Legacy_Interfaces.txt
  Translations/de/LoadingHints.txt
  Translations/de/MainMenu.txt
  Translations/de/MenuWarnings.txt
  Translations/de/NewMainMenu.txt
  Translations/de/ReportForm.txt
  Translations/de/SCP079.txt
  Translations/de/SCP330.txt
  Translations/de/Subtitles.txt
  Translations/de/Summary.txt
  Translations/de/Voicechat.txt
Labels: de, ingame

#1040 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#1043 [DE]: Update Badges.txt
  Translations/de/Badges.txt
Labels: de, ingame

#1045 [RU] Update Badges.txt and Class_Names.txt
  Translations/ru/Badges.txt
  Translations/ru/Class_Names.txt
Labels: ru, ingame

#1049 update badges zh
  Translations/zh-Hant/Badges.txt
  Translations/zh/Badges.txt
Labels: update, zh-Hans, zh-Hant, ingame, zh
