Repository northwood-studios/SCPSL-Translations, pull requests merged in 2023-03, with the labels that each got.

#1286 [ES] Corrections for Spanish translation
  Steam-Translations/Achievements/700330_loc_latam.vdf.txt
  Steam-Translations/Achievements/700330_loc_spanish.vdf
  Steam-Translations/Storepage/storepage_latam.json
  Steam-Translations/Storepage/storepage_spanish.json
  Translations/es/AttachmentEditors.txt
  Translations/es/Class_Descriptions.txt
  Translations/es/Class_Names.txt
  Translations/es/Class_Nicknames.txt
  Translations/es/DecontaminationDisplays.txt
  Translations/es/Doors.txt
  Translations/es/Facility.txt
  Translations/es/HumanAbilities.txt
  Translations/es/HumanBio.txt
  Translations/es/Items.txt
  Translations/es/LoadingHints.txt
  Translations/es/MainMenu.txt
  Translations/es/NewMainMenu.txt
  Translations/es/Nuke.txt
  Translations/es/SCP049_HUD.txt
  Translations/es/SCP939_HUD.txt
  Translations/es/Subtitles.txt
  Translations/es/Voicechat.txt
Labels: es, steam-achievements, ingame

#1283 [DE] Minor fixes for capitalisation, formal yous and badges
  Translations/de/Badges.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Facility.txt
  Translations/de/HumanBio.txt
  Translations/de/Subtitles.txt
Labels: de, ingame

#1288 [EN] Breach Scanner and Mimicry
  Translations/English (default)/SCP079_HUD.txt
  Translations/English (default)/SCP939_HUD.txt
Labels: en, ingame

#1294 Update Badges.txt
  Translations/English (default)/Badges.txt
Labels: en, ingame

#1289 [SRB Cyrillic] SCP-939 SCP-079 new abilities translations
  Steam-Translations/Rich Presence/700330_loc_serbian.vdf
  Translations/sr-Cyrl-BA/SCP079_HUD.txt
  Translations/sr-Cyrl-BA/SCP939_HUD.txt
  Translations/sr-Latn-BA/SCP079_HUD.txt
  Translations/sr-Latn-BA/SCP939_HUD.txt
Labels: steam-richpresence, ingame, sr-Cyrl-BA

#1290 [ES] Ability Update BREACH SCANNER & MIMICRY
  Translations/es/Items.txt
  Translations/es/SCP079_HUD.txt
  Translations/es/SCP939_HUD.txt
Labels: es, steam-achievements, ingame

#1296 [SRB CR] New badges
  Translations/sr-Cyrl-BA/Badges.txt
Labels: steam-richpresence, ingame, sr-Cyrl-BA

#1297 [SR LATN] New Badges for Serbian Latin
  Translations/sr-Latn-BA/Badges.txt
Labels: ingame, sr-Cyrl-BA

#1303 [EN] LoadingHints.txt 13.0 Update
  Translations/English (default)/LoadingHints.txt
Labels: en, ingame

#1304 [SR-Cyrl-BA] 13.0 Loading hints update
  Translations/sr-Cyrl-BA/LoadingHints.txt
Labels: ingame, sr-Cyrl-BA

#1299 zh Breach Scanner and Mimicry
  Translations/zh-Hant/Badges.txt
  Translations/zh-Hant/Intercom.txt
  Translations/zh-Hant/LoadingHints.txt
  Translations/zh-Hant/SCP079_HUD.txt
  Translations/zh-Hant/SCP939_HUD.txt
  Translations/zh/Badges.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/SCP079_HUD.txt
  Translations/zh/SCP939_HUD.txt
Labels: zh-Hans, zh-Hant, ingame, zh

#1284 [KO] updates
  Steam-Translations/Storepage/storepage_koreana.json
  Translations/ko/Badges.txt
  Translations/ko/Items.txt
  Translations/ko/LoadingHints.txt
  Translations/ko/SCP079_HUD.txt
  Translations/ko/SCP939_HUD.txt
Labels: ko, ingame

#1305 [SR-Latn-BA] 13.0 Loading hints update
  Translations/sr-Latn-BA/LoadingHints.txt
Labels: ingame

#1307 [ES] LoadingHints 13.0 & minor corrections
  Translations/es/HumanBio.txt
  Translations/es/Items.txt
  Translations/es/LoadingHints.txt
  Translations/es/SCP106_HUD.txt
  Translations/es/Subtitles.txt
Labels: es, ingame
