Repository northwood-studios/SCPSL-Translations, pull requests merged in 2023-01, with the labels that each got.

#1262 [FR] Updated to version 12.0 of the game - hotfix 1
  Translations/fr/AttachmentEditors.txt
  Translations/fr/Class_Descriptions.txt
Labels: fr, ingame

#1269 [zh] minor changes 2
  Translations/zh-Hant/SCP049_HUD.txt
  Translations/zh/LoadingHints.txt
  Translations/zh/SCP049_HUD.txt
Labels: text-change, zh-Hant, ingame, zh

#1267 [HU] translations for 12.0 Mimicry
  Translations/hu/Abilities.txt
  Translations/hu/ActionCategory.txt
  Translations/hu/AttachmentEditors.txt
  Translations/hu/AttachmentNames.txt
  Translations/hu/Badges.txt
  Translations/hu/Class_Bio.txt
  Translations/hu/Class_Names.txt
  Translations/hu/Class_Nicknames.txt
  Translations/hu/Connection_Errors.txt
  Translations/hu/DeathReasons.txt
  Translations/hu/Death_Causes.txt
  Translations/hu/DecontaminationDisplays.txt
  Translations/hu/Disarming.txt
  Translations/hu/Doors.txt
  Translations/hu/Facility.txt
  Translations/hu/HumanAbilities.txt
  Translations/hu/HumanBio.txt
  Translations/hu/Intercom.txt
  Translations/hu/Items.txt
  Translations/hu/Keybinds.txt
  Translations/hu/MainMenu.txt
  Translations/hu/NewMainMenu.txt
  Translations/hu/Nuke.txt
  Translations/hu/SCP049_HUD.txt
  Translations/hu/SCP079_HUD.txt
  Translations/hu/SCP096_HUD.txt
  Translations/hu/SCP106_HUD.txt
  Translations/hu/SCP173_HUD.txt
  Translations/hu/SCP939_HUD.txt
  Translations/hu/SCP_Interfaces.txt
  Translations/hu/Summary.txt
  Translations/hu/Teams.txt
  Translations/hu/Voicechat.txt
Labels: hu, ingame

#1226 [RU]: 12.0 "Mimicry" translation update
  Translations/ru/Abilities.txt
  Translations/ru/ActionCategory.txt
  Translations/ru/AttachmentEditors.txt
  Translations/ru/Class_Bio.txt
  Translations/ru/Class_Names.txt
  Translations/ru/Connection_Errors.txt
  Translations/ru/DeathReasons.txt
  Translations/ru/Death_Causes.txt
  Translations/ru/Facility.txt
  Translations/ru/HumanAbilities.txt
  Translations/ru/HumanBio.txt
  Translations/ru/Intercom.txt
  Translations/ru/Items.txt
  Translations/ru/Keybinds.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/MainMenu.txt
  Translations/ru/NewMainMenu.txt
  Translations/ru/ReportForm.txt
  Translations/ru/SCP049_HUD.txt
  Translations/ru/SCP079_HUD.txt
  Translations/ru/SCP096_HUD.txt
  Translations/ru/SCP106_HUD.txt
  Translations/ru/SCP173_HUD.txt
  Translations/ru/SCP330.txt
  Translations/ru/SCP939_HUD.txt
  Translations/ru/Voicechat.txt
Labels: ru, ingame

#1233 [DE] Part 2 for 12.0
  Translations/de/Abilities.txt
  Translations/de/ActionCategory.txt
  Translations/de/AttachmentEditors.txt
  Translations/de/Class_Bio.txt
  Translations/de/DeathReasons.txt
  Translations/de/Death_Causes.txt
  Translations/de/HumanAbilities.txt
  Translations/de/HumanBio.txt
  Translations/de/Intercom.txt
  Translations/de/Items.txt
  Translations/de/Keybinds.txt
  Translations/de/MainMenu.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP049_HUD.txt
  Translations/de/SCP079_HUD.txt
  Translations/de/SCP096_HUD.txt
  Translations/de/SCP106_HUD.txt
  Translations/de/SCP173_HUD.txt
  Translations/de/SCP939_HUD.txt
  Translations/de/Voicechat.txt
Labels: de, ingame

#1268 Italian translation
  Translations/it/Items.txt
  Translations/it/LoadingHints.txt
  Translations/it/MainMenu.txt
  Translations/it/SCP049_HUD.txt
  Translations/it/SCP096_HUD.txt
  Translations/it/SCP939_HUD.txt
  Translations/it/Subtitles.txt
  Translations/it/Summary.txt
Labels: it, ingame

#1270 [ro]: Small fixes
  Translations/ro/AttachmentEditors.txt
  Translations/ro/LoadingHints.txt
  Translations/ro/SCP330.txt
  Translations/ro/Summary.txt
Labels: ingame, ro

#1271 [ES] Mimicry Updated and Steam storepage_spanish
  Steam-Translations/Storepage/storepage_spanish.json
  Translations/es/ActionCategory.txt
Labels: es, ingame

#1273 [PT-BR] 12.0 Holiday Patch Translation Update
  Translations/pt-BR/Items.txt
  Translations/pt-BR/Keybinds.txt
  Translations/pt-BR/MainMenu.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/SCP096_HUD.txt
  Translations/pt-BR/SCP939_HUD.txt
  Translations/pt-BR/Subtitles.txt
  Translations/pt-BR/Teams.txt
Labels: pt-BR, ingame

#1274 [JA] Update for 12.0.1
  Translations/ja/Abilities.txt
  Translations/ja/ActionCategory.txt
  Translations/ja/AttachmentEditors.txt
  Translations/ja/Class_Bio.txt
  Translations/ja/DeathReasons.txt
  Translations/ja/Death_Causes.txt
  Translations/ja/HumanAbilities.txt
  Translations/ja/HumanBio.txt
  Translations/ja/Intercom.txt
  Translations/ja/Items.txt
  Translations/ja/Keybinds.txt
  Translations/ja/MainMenu.txt
  Translations/ja/NewInventory.txt
  Translations/ja/NewMainMenu.txt
  Translations/ja/SCP049_HUD.txt
  Translations/ja/SCP079_HUD.txt
  Translations/ja/SCP096_HUD.txt
  Translations/ja/SCP106_HUD.txt
  Translations/ja/SCP173_HUD.txt
  Translations/ja/SCP939_HUD.txt
  Translations/ja/Summary.txt
  Translations/ja/Voicechat.txt
  Translations/ja/WeaponManager.txt
  Translations/ja/WeaponMods.txt
  Translations/ja/Workstations.txt
Labels: ja, ingame

#1275 [SR-BA] Small changes
  Translations/sr-Cyrl-BA/Class_Descriptions.txt
  Translations/sr-Cyrl-BA/Class_Names.txt
  Translations/sr-Latn-BA/Class_Descriptions.txt
Labels: ingame, sr-Cyrl-BA

#1276 Update Facility.txt | KZ
  Translations/kk-KZ/Facility.txt
Labels: ingame, kk-KZ

#1277 ActionCategory.txt | KZ
  Translations/kk-KZ/ActionCategory.txt
Labels: ingame, kk-KZ

#1279 [UA] Translation rework
  Translations/uk/ActionCategory.txt
  Translations/uk/AttachmentDescriptiveAdvantages.txt
  Translations/uk/AttachmentEditors.txt
  Translations/uk/AttachmentNames.txt
  Translations/uk/AttachmentParameters.txt
  Translations/uk/Badges.txt
  Translations/uk/Categories.txt
  Translations/uk/Class_Descriptions.txt
  Translations/uk/Class_Names.txt
  Translations/uk/Class_Nicknames.txt
  Translations/uk/Connection_Errors.txt
  Translations/uk/Connection_Info.txt
  Translations/uk/DeathReasons.txt
  Translations/uk/Disarming.txt
  Translations/uk/Facility.txt
  Translations/uk/GameHints.txt
  Translations/uk/HID_Sign.txt
  Translations/uk/HumanAbilities.txt
  Translations/uk/HumanBio.txt
  Translations/uk/Intercom.txt
  Translations/uk/Intercom_Door_Sign.txt
  Translations/uk/InventoryGUI.txt
  Translations/uk/Items.txt
  Translations/uk/Keybinds.txt
  Translations/uk/Legacy_Interfaces.txt
  Translations/uk/LoadingHints.txt
  Translations/uk/MainMenu.txt
  Translations/uk/MenuWarnings.txt
  Translations/uk/NewMainMenu.txt
  Translations/uk/Nuke.txt
  Translations/uk/ReportForm.txt
  Translations/uk/SCP049_HUD.txt
  Translations/uk/SCP079.txt
  Translations/uk/SCP079_HUD.txt
  Translations/uk/SCP096_HUD.txt
  Translations/uk/SCP106_HUD.txt
  Translations/uk/SCP173_HUD.txt
  Translations/uk/SCP330.txt
  Translations/uk/SCP939_HUD.txt
  Translations/uk/SCP_Interfaces.txt
  Translations/uk/Subtitles.txt
  Translations/uk/Summary.txt
  Translations/uk/Teams.txt
  Translations/uk/Version_7-0-0.txt
  Translations/uk/Voicechat.txt
  Translations/uk/log.txt
Labels: uk, ingame
