Repository northwood-studios/SCPSL-Translations, pull requests merged in 2023-04, with the labels that each got.

#1309 [KO] Update HumanBio.txt
  Translations/ko/HumanBio.txt
Labels: ko, ingame

#1295 [TH] New ability update
  Translations/th/Badges.txt
  Translations/th/DeathReasons.txt
  Translations/th/LoadingHints.txt
  Translations/th/SCP049_HUD.txt
  Translations/th/SCP079_HUD.txt
  Translations/th/SCP096_HUD.txt
  Translations/th/SCP106_HUD.txt
  Translations/th/SCP939_HUD.txt
  Translations/th/Subtitles.txt
Labels: th, ingame

#1298 [PL] Breach Scanner & Mimicry, LoadingHints, Normalizer and other minor changes
  Translations/pl/ActionCategory.txt
  Translations/pl/AttachmentEditors.txt
  Translations/pl/AttachmentNames.txt
  Translations/pl/AttachmentParameters.txt
  Translations/pl/Badges.txt
  Translations/pl/Categories.txt
  Translations/pl/Class_Descriptions.txt
  Translations/pl/Class_Names.txt
  Translations/pl/Class_Nicknames.txt
  Translations/pl/Connection_Errors.txt
  Translations/pl/DeathReasons.txt
  Translations/pl/DecontaminationDisplays.txt
  Translations/pl/Disarming.txt
  Translations/pl/Doors.txt
  Translations/pl/Facility.txt
  Translations/pl/HumanAbilities.txt
  Translations/pl/HumanBio.txt
  Translations/pl/Intercom.txt
  Translations/pl/InventoryGUI.txt
  Translations/pl/Keybinds.txt
  Translations/pl/LoadingHints.txt
  Translations/pl/NewMainMenu.txt
  Translations/pl/SCP049_HUD.txt
  Translations/pl/SCP079_HUD.txt
  Translations/pl/SCP096_HUD.txt
  Translations/pl/SCP106_HUD.txt
  Translations/pl/SCP173_HUD.txt
  Translations/pl/SCP330.txt
  Translations/pl/SCP939_HUD.txt
  Translations/pl/Subtitles.txt
  Translations/pl/Summary.txt
  Translations/pl/Teams.txt
  Translations/pl/manifest.json
Labels: pl, ingame, manifest

#1282 [PT-BR] Mimicry Additional Upgrades and Minor Fixes on Brazilian Translation.
  Steam-Translations/Achievements/700330_loc_brazilian.vdf
  Steam-Translations/Storepage/storepage_brazilian.json
  Translations/pt-BR/ActionCategory.txt
  Translations/pt-BR/Badges.txt
  Translations/pt-BR/Connection_Errors.txt
  Translations/pt-BR/InventoryGUI.txt
  Translations/pt-BR/Items.txt
  Translations/pt-BR/Keybinds.txt
  Translations/pt-BR/LoadingHints.txt
  Translations/pt-BR/NewMainMenu.txt
  Translations/pt-BR/SCP079_HUD.txt
  Translations/pt-BR/SCP173_HUD.txt
  Translations/pt-BR/SCP330.txt
  Translations/pt-BR/SCP939_HUD.txt
  Translations/pt-BR/Summary.txt
  Translations/pt-BR/Voicechat.txt
Labels: pt-BR, steam-achievements, ingame

#1312 [EN] Adding RA_RoleManagement.txt
  Translations/English (default)/RA_RoleManagement.txt
Labels: en, ingame

#1315 [ES] RA_RoleManagement.txt translated
  Translations/es/Badges.txt
  Translations/es/RA_RoleManagement.txt
Labels: es, ingame

#1314 [IT] Added and reworked files
  Translations/it/AttachmentDescriptiveDownsides.txt
  Translations/it/AttachmentEditors.txt
  Translations/it/AttachmentNames.txt
  Translations/it/AttachmentParameters.txt
  Translations/it/Badges.txt
  Translations/it/Categories.txt
  Translations/it/Class_Descriptions.txt
  Translations/it/Connection_Errors.txt
  Translations/it/DecontaminationDisplays.txt
  Translations/it/Disarming.txt
  Translations/it/Doors.txt
  Translations/it/Facility.txt
  Translations/it/Intercom_Door_Sign.txt
  Translations/it/InventoryGUI.txt
  Translations/it/Items.txt
  Translations/it/Keybinds.txt
  Translations/it/LoadingHints.txt
  Translations/it/SCP079_HUD.txt
  Translations/it/SCP939_HUD.txt
  Translations/it/Subtitles.txt
Labels: it, ingame

#1318 [TH] Create RA_RoleManagement.txt
  Translations/th/RA_RoleManagement.txt
Labels: th, ingame

#1317 Create RA_RoleManagement.txt
  Translations/zh-Hant/RA_RoleManagement.txt
  Translations/zh/RA_RoleManagement.txt
Labels: update, zh-Hans, zh-Hant, ingame, zh

#1293 [DE] Breach Scanner and Mimicry
  Translations/de/Badges.txt
  Translations/de/LoadingHints.txt
  Translations/de/RA_RoleManagement.txt
  Translations/de/SCP079_HUD.txt
  Translations/de/SCP939_HUD.txt
Labels: de, ingame

#1320 [KO] updated RA_RoleManagement.txt
  Translations/ko/RA_RoleManagement.txt
Labels: ko, ingame

#1324 [SR-Latn-BA] RA Roles
  Translations/sr-Cyrl-BA/Subtitles.txt
  Translations/sr-Latn-BA/Badges.txt
  Translations/sr-Latn-BA/RA_RoleManagement.txt
  Translations/sr-Latn-BA/Subtitles.txt
Labels: ingame, sr-Cyrl-BA

#1327 [SR-Cyrl-BA] Improvements to translation
  Translations/sr-Cyrl-BA/DecontaminationDisplays.txt
  Translations/sr-Cyrl-BA/Facility.txt
  Translations/sr-Cyrl-BA/HID_Sign.txt
  Translations/sr-Cyrl-BA/InventoryGUI.txt
  Translations/sr-Cyrl-BA/Keybinds.txt
  Translations/sr-Cyrl-BA/SCP079_HUD.txt
  Translations/sr-Latn-BA/Badges.txt
  Translations/sr-Latn-BA/Connection_Errors.txt
  Translations/sr-Latn-BA/InventoryGUI.txt
  Translations/sr-Latn-BA/Keybinds.txt
Labels: ingame, sr-Cyrl-BA

#1328 [ES] Spelling corrections
  Translations/es/SCP096_HUD.txt
  Translations/es/SCP330.txt
Labels: es, ingame

#1291 [RU] Breach Scanner, SCP-939 abilities and new LoadingHints
  Translations/ru/Badges.txt
  Translations/ru/LoadingHints.txt
  Translations/ru/RA_RoleManagement.txt
  Translations/ru/SCP079_HUD.txt
  Translations/ru/SCP939_HUD.txt
Labels: ru, ingame

#1330 Update CODEOWNERS file
  .github/CODEOWNERS
Labels: meta

#1331 [DE] Major Review of German Translation
  Steam-Translations/Achievements/700330_loc_german.vdf
  Steam-Translations/Storepage/storepage_german.json
  Translations/de/ActionCategory.txt
  Translations/de/AttachmentEditors.txt
  Translations/de/AttachmentNames.txt
  Translations/de/AttachmentParameters.txt
  Translations/de/Class_Descriptions.txt
  Translations/de/Class_Names.txt
  Translations/de/Connection_Errors.txt
  Translations/de/Connection_Info.txt
  Translations/de/DeathReasons.txt
  Translations/de/HumanAbilities.txt
  Translations/de/Intercom.txt
  Translations/de/Items.txt
  Translations/de/Keybinds.txt
  Translations/de/MainMenu.txt
  Translations/de/MenuWarnings.txt
  Translations/de/NewMainMenu.txt
  Translations/de/SCP049_HUD.txt
  Translations/de/SCP096_HUD.txt
  Translations/de/SCP106_HUD.txt
  Translations/de/SCP173_HUD.txt
  Translations/de/SCP330.txt
  Translations/de/SCP939_HUD.txt
  Translations/de/Teams.txt
  Translations/de/Voicechat.txt
  Translations/de/manifest.json
Labels: de, steam-achievements, ingame, manifest

#1334 [DE] Fix minor missing Translation
  Translations/de/SCP079_HUD.txt
Labels: de, ingame

#1326 Update RA_RoleManagement.txt
  Translations/zh/RA_RoleManagement.txt
Labels: text-change, ingame, zh
